<div class="content-header" id="poll-vote-header">
  <dropdown
    items="BranchPostVote.controls.sortBy.items"
    selected="BranchPostVote.controls.sortBy.selectedIndex"
    title="sort by">
  </dropdown>

  <div class="button ok"
    ng-click="BranchPostVote.openSubmitPollAnswerModal()"
    ng-show="BranchPostVote.canSubmitNewAnswer()">
    <span class="text--uppercase">submit new answer</span>
  </div>

  <div class="button ok"
    ng-click="BranchPostVote.vote()"
    ng-show="BranchPostVote.selectedAnswerIndex > -1">
    <span class="text--uppercase">cast vote</span>
  </div>
</div>

<div id="answer-list-container">
  <ul id="answer-list">
    <p id="no-answers" ng-show="!BranchPostVote.answers.length">
      No answers yet!
    </p>

    <li ng-class="{ 'selected': $index === BranchPostVote.selectedAnswerIndex }"
      ng-click="BranchPostVote.selectAnswer($index)"
      ng-repeat="answer in BranchPostVote.answers">
      <span class="list-item-index">
        {{ $index + 1 }}
      </span>

      <div class="list-item-info">
        <p class="list-item-title">
          {{ answer.text }}
        </p>

        <span class="list-item-description">
          Submitted by <a ui-sref="weco.profile.about({ username: answer.creator })">{{ answer.creator }}</a> at {{ answer.date | date:'HH:mm on dd of MMMM yyyy' }}
        </span>
      </div>
    </li>
  </ul>
</div>
