<div class="post__content-header header">
  <dropdown
    class="style--horizontal"
    items="BranchPostVote.controls.sortBy.items"
    selected="BranchPostVote.controls.sortBy.selectedIndex"
    title="'sort answers by'">
  </dropdown>

  <button
    class="button ok"
    ng-click="BranchPostVote.openSubmitPollAnswerModal()"
    ng-show="BranchPostVote.canSubmitNewAnswer()">
    <span class="text--uppercase">submit new answer</span>
  </button>

  <button
    class="button ok"
    ng-click="BranchPostVote.vote()"
    ng-show="BranchPostVote.selectedAnswerIndex !== -1">
    <span class="text--uppercase">cast vote</span>
  </button>
</div>

<div class="post__content-wrapper">
  <p
    id="no-answers"
    ng-show="!BranchPostVote.answers.length">
    No answers yet!
  </p>

  <ul>
    <li
      answer="answer"
      card-poll-answer
      index="$index"
      ng-class="{ 'style--highlighted': $index === BranchPostVote.selectedAnswerIndex }"
      ng-click="BranchPostVote.selectAnswer($index)"
      ng-repeat="answer in BranchPostVote.answers track by $index"
      selected="$index === BranchPostVote.selectedAnswerIndex">
    </li>
  </ul>
</div>
