<div class="page auth">
  <!--<div class="auth__overlay"></div>-->

  <div class="auth__card">
    <a href="/b/root/wall">
      <img
      alt="Weco logo"
      class="auth__logo"
      src="assets/images/auth-page-logo.jpg" />
    </a>
    
    <h1 class="auth__title">
      {{ Auth.isLoginForm() ? 'Welcome back.' : 'Join Weco.' }}
    </h1>
    
    <p>{{ Auth.errorMessage }}</p>

    <p
      id="resend-verification"
      ng-click="Auth.resendVerification()"
      ng-show="Auth.showResendVerification">
      Resend verification email.
    </p>
    
    <form
      class="auth__form"
      ng-submit="Auth.submit()">
      <input
        class="auth__input"
        name="name"
        ng-model="Auth.credentials.name"
        ng-required="!Auth.isLoginForm()"
        ng-show="!Auth.isLoginForm()"
        placeholder="your name"
        type="text" />

      <input
        class="auth__input"
        name="username"
        ng-model="Auth.credentials.username"
        placeholder="username"
        required
        type="text" />

      <input
        class="auth__input"
        name="email"
        ng-model="Auth.credentials.email"
        ng-required="!Auth.isLoginForm()"
        ng-show="!Auth.isLoginForm()"
        placeholder="email"
        type="email" />

      <input
        class="auth__input"
        name="password"
        ng-model="Auth.credentials.password"
        placeholder="password"
        required
        type="password" />

      <input
        class="auth__input"
        name="password"
        ng-model="Auth.credentials.confirmPassword"
        ng-required="!Auth.isLoginForm()"
        ng-show="!Auth.isLoginForm()"
        placeholder="repeat password"
        type="password" />

      <input
        class="auth__submit"
        ng-disabled="Auth.isLoading"
        type="submit"
        value="{{ Auth.isLoginForm() ? 'Login' : 'Register' }}" />
    </form>
    
    <p
      class="auth__text"
      ng-show="Auth.isLoginForm()">
      <a class="auth__link" ui-sref="reset-password.request">Forgot your password?</a>
    </p>

    <i
      class="auth__separator"
      ng-show="Auth.isLoginForm()">
    </i>
    
    <p
      class="auth__text"
      ng-show="Auth.isLoginForm()">
      New to Weco? <a
        class="auth__link"
        ng-click="Auth.clearError()"
        ui-sref="auth.signup">
        Sign up
      </a>
    </p>
    
    <p
      class="auth__text"
      ng-show="!Auth.isLoginForm()">
      Already registered? <a
        class="auth__link"
        ng-click="Auth.clearError()"
        ui-sref="auth.login">
        Sign in
      </a>
    </p>
  </div>
</div>
