<cover-photo image-url="branch.coverUrl" thumb-url="branch.coverUrlThumb" is-open="showCover" can-edit="isModerator()"></cover-photo>
<div class="cover-frame" ng-class="{ 'coverOpen': showCover }"></div>
<!--<div id="branch-frame" class="frame">
  <div class="content">
    <div loading when="isLoading">
      <div id="branch-info" class="nav-column">
        <h1 tooltip-text="branch.id" offset-y="40">{{ branch.name }}</h1>
        <h2 id="inf-symbol" ng-show="branch.parentid == 'none'">&infin;</h2>
        <h2 ng-show="branch.parentid != 'none'"><span ng-show="parent.id !== 'root'">... / </span><a ui-sref="weco.branch.subbranches({ branchid: branch.parentid })" tooltip-text="parent.id" offset-y="20">{{ parent.name }}</a> / <a ui-sref="weco.branch.subbranches({ branchid: branch.id })" tooltip-text="branch.id" offset-y="20">{{ branch.name }}</a></h2>
        <div id="branch-picture" style="background-image: url('{{ branch.profileUrl }}'), url('{{ branch.profileUrlThumb }}'), url('/assets/images/default-branch.jpg');">
          <img id="edit-profile" src="/assets/images/icons/white/edit.png" ng-click="openProfilePictureModal()" ng-show="isModerator()" tooltip-text="'Upload New Image'" offset-y="30">
        </div>
        <ul id="branch-controls">
          <li>
            <a ui-sref="weco.branch.nucleus.about({ branchid: branchid })" ng-class="{ 'selected' : isControlSelected('nucleus') }" >
              <img src="/assets/images/icons/black/nucleus.png" tooltip-text="'Nucleus'" offset-y="60" offset-x="-15">
            </a>
          </li>
          <li>
            <a ui-sref="weco.branch.subbranches({ branchid: branchid })" ng-class="{ 'selected' : isControlSelected('subbranches') }">
              <img src="/assets/images/icons/black/branch.png" tooltip-text="'Child Branches'" offset-y="60" offset-x="-15">
            </a>
          </li>
          <li>
            <a ui-sref="weco.branch.wall({ branchid: branchid })" ng-class="{ 'selected' : isControlSelected('wall') }">
              <img src="/assets/images/icons/black/wall.png" tooltip-text="'Wall'" offset-y="60" offset-x="-15">
            </a>
          </li>
          <li>
            <a id="add-content" ng-click="addContent()" ng-class="{ 'disabled': !canAddContent() }">
              <img src="/assets/images/icons/black/add.png" tooltip-text="getAddContentTooltip()" offset-y="60" offset-x="-15">
            </a>
          </li>
        </ul>
      </div>
      <div id="branch-content" class="content-column" ui-view>
      </div>
    </div>
  </div>
</div>
-->
