<div class="cover-photo" ng-style="{ 'height': branch.coverUrl && !isLoading ? '35%' : '0' }" style="background-image: url('{{ branch.coverUrlThumb }}'), url('{{ branch.coverUrl }}')">
  <img id="edit-cover" src="/assets/images/icons/white/edit.png" ng-click="openCoverPictureModal()" ng-show="isModerator() && branch.coverUrl">
</div>
<div id="branch-frame" class="frame" ng-style="{ 'height': branch.coverUrl && !isLoading ? '65%' : '100%' }">
  <div class="content">
    <div loading when="isLoading">
      <div id="branch-info" class="nav-column">
        <h1>{{ branch.name }}</h1>
        <h2 id="branch-id" ng-show="branch.parentid != 'none'">{{ branch.id == 'root' ? '' : branch.id }}</h2>
        <h2 ng-show="branch.parentid == 'none'">&infin;</h2>
        <h2 ng-show="branch.parentid != 'none'"><span ng-show="parent.id !== 'root'">... / </span><a ui-sref="weco.branch.subbranches({ branchid: branch.parentid })">{{ parent.name }}</a> / <a ui-sref="weco.branch.subbranches({ branchid: branch.id })">{{ branch.name }}</a></h2>
        <div id="branch-picture" style="background-image: url('{{ branch.profileUrl }}'), url('{{ branch.profileUrlThumb }}'), url('/assets/images/default-branch.jpg');">
          <img id="edit-profile" src="/assets/images/icons/white/edit.png" ng-click="openProfilePictureModal()" ng-show="isModerator()">
        </div>
        <ul id="branch-controls">
          <li>
            <a ui-sref="weco.branch.nucleus.about({ branchid: branchid })" ng-class="{ 'selected' : isControlSelected('nucleus') }">
              <img src="/assets/images/icons/black/nucleus.png">
            </a>
          </li>
          <li>
            <a ui-sref="weco.branch.subbranches({ branchid: branchid })" ng-class="{ 'selected' : isControlSelected('subbranches') }">
              <img src="/assets/images/icons/black/branch.png">
            </a>
          </li>
          <li>
            <a ui-sref="weco.branch.wall({ branchid: branchid })"  ng-class="{ 'selected' : isControlSelected('wall') }">
              <img src="/assets/images/icons/black/wall.png">
            </a>
          </li>
          <li>
            <a id="add-content" ng-click="addContent()">
              <img src="/assets/images/icons/black/add.png">
            </a>
          </li>
        </ul>
      </div>
      <div id="branch-content" class="content-column" ui-view>
      </div>
    </div>
  </div>
</div>
