<cover-photo
  can-edit="Branch.BranchService.isModerator()"
  image-url="Branch.BranchService.branch.coverUrl"
  open-upload-cover-modal="Branch.openModal"
  thumb-url="Branch.BranchService.branch.coverUrlThumb" >
</cover-photo>

<div
  class="page"
  emit-on-scroll-to-bottom>
  <sidebar></sidebar>

  <div
    class="header style--fixed no-transition"
    ng-if="Branch.hasFixedHeader()"
    no-constructor-transition>
    <div class="header__body" ui-view="header"></div>
  </div>

  <div class="center">
    <div class="align">
      <div
        class="header no-transition"
        ng-if="!Branch.hasFixedHeader()"
        no-constructor-transition>
        <div class="header__body" ui-view="header"></div>
      </div>
      <div class="content" ui-view="content"></div>
    </div>
  </div>
</div>
