.comments {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .comment {
    .comment__input-wrapper {
      margin-top: @g-padding-post / 2;
      padding: 0;

      & + .comment__replies { margin-top: @g-padding-post; }
    }

    &:not(:last-child) { margin-bottom: @g-padding-post; }
  }

  .comment__content {
    .list-item(80px);

    .list-item__votes {
      margin-left: 0;
      margin-right: @g-padding-post;
      width: 20px;
    }
  }

  .comment__input-wrapper {
    align-items: center;
    display: flex;
    padding: @g-padding-post @g-padding-post 0;

    .comment__input {
      border-color: @primary-9;
      border-radius: 20px;
      box-sizing: border-box;
      font-family: inherit;
      font-size: @font-size-xs;
      height: 30px;
      hyphens: auto;
      max-height: 300px;
      min-height: 32px;
      padding: 5px 10px;
      resize: vertical;
      width: 100%;

      &:focus { outline: none; }

      .mediaQuery(@screen-sm, { font-size: @font-size-sm; });
    }
  }

  .comment__replies {
    border-left: 1px solid @light-grey;
    box-sizing: border-box;
    margin-top: @g-padding-post / 2;
    //padding-left: @g-padding-post;
  }

  .comments__text {
    color: @accent-0;
    cursor: pointer;
    font-size: @font-size-xs;
    font-weight: @font-weight-heavy;
    vertical-align: bottom;

    &:hover { text-decoration: underline; }
  }

  .comments__text-wrapper {
    margin: @g-padding-post @g-padding-post 0;

    a {
      color: @accent-0;
      cursor: pointer;
      font-weight: @font-weight-heavy;

      &:hover { text-decoration: underline; }
    }

    .comments__text {
      margin: 0;
      padding: 0;
    }

    &.comments__text-wrapper--bg {
      background-color: @light-grey;
      border: 1px solid @dark-grey;
      border-radius: 3px;
      padding: 5px 10px;
    }
  }

  .comments__wrapper {
    flex: 1;
    overflow-y: auto;
    padding: 0 @g-padding-post @g-padding-post;
  }
}

//---------------------------------------------------------------------------------------------//

//Comments redesign [May 2019]
//Remove "_new" postfix when complete

//Sections:

.comment_thread_wrapper_new {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

//Comment wrapper

.comment_wrapper_new {
  //max-width: 800px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

//Comment index

.comment_index_new {
  min-width: 38px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

//Comment body

.comment_body_new {
  //margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

//Comment tags

.comment_tags_new {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

//Comment text

.comment_text_new {
  margin-bottom: 6px;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

//Comment interact

.comment_interact_new {
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

//Comment reply

.comment_reply_new {
  border-left: 1px solid @light-grey;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

//-----------------------------------------------------------------//

//Styles