.branch__empty-icon {
  $size: 240px;
  height: $size;
  width: $size;
}

.branch__empty-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.2;
  padding: 0 $g-padding-sidebar;
}

.branch__empty-title {
  font-weight: 600;
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  padding: 0 $g-padding-sidebar;
}

.branch__item {
  padding: 4px 0;

  &.style--clickable { cursor: pointer; }
  &.style--small-text { font-size: $font-size-sm; }
}

.branch__link {
  color: $accent-0;
  cursor: pointer;
  font-weight: $font-weight-heavy;

  &.style--colorless { color: inherit; }

  &:hover { text-decoration: underline; }
}

.branch__post {
  @include list-item($post-thumbnail-h, $post-thumbnail-w);

  @media screen and (min-width: $screen-md) {
    @include list-item($post-thumbnail-h-lg, $post-thumbnail-w-lg);
  }
}

.branch__subbranch {
  @include list-item($branch-thumbnail-size);
}

.branch__text {
  font-size: $font-size-sm;
  font-weight: $font-weight-heavy;

  &.style--dark { color: $dark-grey; }
  &.style--red { color: $caution-0; }
}
