.content {
  background-color: #fff;
  box-sizing: border-box;
  margin-left: auto;
  min-height: 100%;
  position: relative;

  .content__body { position: relative; }

  .content__list {
    overflow: hidden;
    padding: 0 $g-padding-sidebar;

    .content__list-item {
      cursor: pointer;
      display: inline-block;
      margin: $g-padding-sidebar ($g-padding-post / 2);
    }

    .content__list-label {
      display: block;
      font-size: $font-size-xs;
      font-weight: $font-weight-heavy;
      padding-top: 4px;

      @media screen and (min-width: $screen-sm) {
        font-size: $font-size-sm;
        padding-top: 6px;
      }
    }

    .content__list-link { display: block; }

    .content__list-picture {
      $size: 80px;

      background-position: center;
      background-size: cover;
      border-radius: 3px;
      height: $size;
      width: $size;
      transition: box-shadow .3s;

      @media screen and (min-width: $screen-sm) {
        $size: 120px;
        height: $size;
        width: $size;
      }

      @media screen and (min-width: $screen-sm) {
        $size: 150px;
        height: $size;
        width: $size;
      }

      &:hover { box-shadow: $shadow-2; }
    }

    & + .content__list { border-top: 1px solid $light-grey; }

    &.content__list--no-padding { padding: 0; }
    &.style--full-padding { padding: $g-padding-sidebar; }
  }

  @media screen and (min-width: $screen-md) {
    width: calc(100% - #{$sidebar-w-md});
  }
  @media screen and (min-width: $screen-lg) {
    width: calc(100% - #{$sidebar-w-lg});
  }
}
