<div
  id="resolve-flag-post-modal"
  ng-controller="ResolveFlagPostModalController as ResolveFlagPostModal">
  <div
    id="resolve-flag-post-modal-content"
    loading
    loading-when="ResolveFlagPostModal.isLoading">
    <h1>Review Post</h1>

    <p class="error-message">
      {{ ResolveFlagPostModal.errorMessage }}
    </p>

    <p>This post has been flagged:</p>

    <ul id="flag-list">
      <li ng-show="ResolveFlagPostModal.ModalService.inputArgs.post.wrong_type_count">
        {{ ResolveFlagPostModal.ModalService.inputArgs.post.wrong_type_count }}x for incorrect content tags
      </li>
      <li ng-show="ResolveFlagPostModal.ModalService.inputArgs.post.branch_rules_count">
        {{ ResolveFlagPostModal.ModalService.inputArgs.post.branch_rules_count }}x for violating branch rules
      </li>
      <li ng-show="ResolveFlagPostModal.ModalService.inputArgs.post.site_rules_count">
        {{ ResolveFlagPostModal.ModalService.inputArgs.post.site_rules_count }}x for violating site rules
      </li>
      <li ng-show="ResolveFlagPostModal.ModalService.inputArgs.post.nsfw_count">
        {{ ResolveFlagPostModal.ModalService.inputArgs.post.nsfw_count }}x as NSFW
      </li>
    </ul>

    <p>Available actions:</p>

    <dropdown
      items="ResolveFlagPostModal.controls.resolve.items"
      selected="ResolveFlagPostModal.controls.resolve.selectedIndex"
      title="''">
    </dropdown>

    {{ ResolveFlagPostModal.controls.resolve.selectedIndex === 0 ? 'to' : (ResolveFlagPostModal.controls.resolve.selectedIndex === 1 ? 'for' : '') }}

    <dropdown
      items="ResolveFlagPostModal.controls.postType.items"
      ng-show="ResolveFlagPostModal.controls.resolve.selectedIndex === 0"
      selected="ResolveFlagPostModal.controls.postType.selectedIndex"
      title="''">
    </dropdown>

    <dropdown
      items="ResolveFlagPostModal.controls.reason.items"
      ng-show="ResolveFlagPostModal.controls.resolve.selectedIndex === 1"
      selected="ResolveFlagPostModal.controls.reason.selectedIndex"
      title="''">
    </dropdown>

    <textarea
      ng-model="ResolveFlagPostModal.text"
      ng-show="ResolveFlagPostModal.controls.resolve.selectedIndex === 1"
      placeholder="Explanation for removal (sent to OP)..."
      type="text">
    </textarea>

    <p
      class="info"
      ng-show="ResolveFlagPostModal.controls.resolve.selectedIndex === 1 && ResolveFlagPostModal.controls.reason.selectedIndex === 0">
      Note: Please check the <a ui-sref="weco.branch.nucleus.about({ branchid: post.branchid })" ng-click="close()">branch rules</a> first.
    </p>

    <p
      class="info"
      ng-show="ResolveFlagPostModal.controls.resolve.selectedIndex === 1 && ResolveFlagPostModal.controls.reason.selectedIndex === 1">
      Note: Please check the <a>site rules</a> first.
    </p>

    <p ng-show="ResolveFlagPostModal.controls.resolve.selectedIndex === 2">
      This will remove all flags from this post.
    </p>
  </div>
</div>
