.content-header {
  .button {
    margin: 0;

    > a {
      @icon-size: 32px;

      background-image: url('/assets/images/icons/black/add.jpg');
      background-size: cover;
      display: block;
      height: @icon-size;
      margin-left: 12px;
      width: @icon-size;

      &:not(.disabled):hover { cursor: pointer; }

      &:not(.disabled):hover,
      &.selected {
        background-image: url('/assets/images/icons/black/add--hover.jpg');
      }
    }
  }
}

div#branch-frame {
  div#branch-info.frame-column {
    h2 {
      &#branch-id {
        font-style: italic;
        margin-bottom: 10px;
      }

      &a:hover { text-decoration: underline; }
    }

    /*
    ul#branch-controls {
      border-bottom: solid 1px @light-grey;
      border-top: solid 1px @light-grey;
      height: calc(~'@{frame-column-width-xs} / 4');
      margin: 0 -20px;
      position: relative;
      text-align: center;
      
      .responsive(@screen-sm, { height: calc(~'@{frame-column-width-sm} / 4'); });
      .responsive(@screen-md, { height: calc(~'@{frame-column-width-md} / 4'); });
      .responsive(@screen-lg, { height: calc(~'@{frame-column-width-lg} / 4'); });
      .responsive(@screen-xl, { height: calc(~'@{frame-column-width-xl} / 4'); });
      .set-responsively(width, frame-column-width);

      li {
        border-right: solid 1px @light-grey;
        box-sizing: border-box;
        float: left;
        height: 100%;
        margin: 0;
        padding: 0;
        width: calc(~'@{frame-column-width-xs} / 4');

        .responsive(@screen-sm, { width: calc(~'@{frame-column-width-sm} / 4'); });
        .responsive(@screen-md, { width: calc(~'@{frame-column-width-md} / 4'); });
        .responsive(@screen-lg, { width: calc(~'@{frame-column-width-lg} / 4'); });
        .responsive(@screen-xl, { width: calc(~'@{frame-column-width-xl} / 4'); });

        a {
          img {
            height: 22px;
            opacity: .2;
            padding-top: calc(~'50% - 11px');
            width: auto;
            
            .responsive(@screen-md, {
              height: 26px;
            });
          }

          &:not(.disabled):hover { cursor: pointer; }

          &:not(.disabled):hover,
          &.selected {
            img { opacity: .7; }
          }
        }

        &#add-content:hover { cursor: pointer; }
      }
    }
    */
  }
}
