div#branch-nucleus {
  .content__body {
    @import './nucleus/about.less';
    @import './nucleus/moderators.less';
    @import './nucleus/settings.less';
    @import './nucleus/modtools.less';
    @import './nucleus/flagged-posts.less';
    padding: 10px 20px;

    &.about {}
    &.modtools {}
    &.settings {}
    
    &.flaggedposts { padding: 0px; }
    &.moderators { padding: 10px; }
  }
}
