div#branch-nucleus {
  div.content-body {
    @import './nucleus/about.less';
    @import './nucleus/moderators.less';
    @import './nucleus/settings.less';
    @import './nucleus/modtools.less';
    @import './nucleus/flagged-posts.less';
    padding: 10px 20px;

    &.about {}
    &.modtools {}
    &.settings {}
    
    &.flaggedposts { padding: 0px; }
    &.moderators { padding: 10px; }
  }

  div.content-header {
    div.content-controls {
      overflow-x: scroll;

      ul.tabs { white-space: nowrap; }
      
      .responsive(@screen-sm, {
        overflow-x: visible;

        ul.tabs { white-space: normal; }
      });
    }
  }
}
