div#branch-post {
  @header-min-height: 90px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 10px 20px 0;
  position: relative;

  > .branch-post--header {
    align-items: center;
    display: flex;
    min-height: @header-min-height;
  }

  .list-item {
    padding-top: 15px;

    span.list-item-index { display: none; }

    .list-item(@header-min-height);
    .responsive(@screen-md, { padding-top: 0; });
  }

  div#preview-controls {
    margin: 5px 0;

    img {
      float: right;
      height: 30px;
      opacity: .5;
      padding-left: 5px;
      width: auto;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  ng-include#post-preview {
    width: 100%;

    #image-post {
      div {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        width: auto;
      }

      &.maximised div {
        height: 350px;
        width: auto;
        transition: height .3s ease-out;
      }

      &:not(.ng-hide) div { transition: height .3s ease-out; }
    }

    #text-post {
      max-height: 350px;
      overflow-y: scroll;
    }

    #video-post {
      margin-left: auto;
      margin-right: auto;
      width: 100%;

      .responsive(@screen-md, { width: 43.75%; });

      div#video-wrapper {
        height: 0;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;

        iframe {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      &.maximised {
        transition: width .3s ease-out;
        width: 100%;
      }

      &:not(.ng-hide) { transition: width .3s ease-out; }
    }
  }

  .post-body {
    #answer-list-container {
      flex: 1;
      overflow-y: scroll;

      #answer-list {
        li {
          @margin-right: 15px;

          .list-item(70px);
          align-items: center;

          .list-item-index {
            margin-left: 10px;
            margin-right: @margin-right;

            span {
              color: #fff;
              line-height: 40px;
              opacity: 1;
            }

            .responsive(@screen-sm, {
              margin-left: 0;
            });

            &.colour-coded {
              height: 40px;
              border-radius: 3px;
              text-align: center;
              width: 40px;
            }
          }

          .list-item-stats {
            @stat-font-size: 14px;

            margin-right: @margin-right;

            > .list-item-stats--header {
              > span {
                color: @primary-3;
                font-size: @stat-font-size;
                font-weight: 500;
              }

              > img {
                height: 24px;
                opacity: .3;
                position: relative;
                top: 3px;
                vertical-align: bottom;
              }
            }

            > .list-item-stats--percentage {
              color: @primary-6;
              font-size: @stat-font-size;
            }
          }

          .list-item-title {
            margin: 0;

            &:hover { cursor: initial !important; }
          }

          &.selected { background-color: @light-grey; }
        }

        p#no-answers { font-style: italic; }
      }
    }

    .content-header {
      align-items: center;
      display: flex;
      justify-content: flex-start;

      .button.ok {
        .button(#fff, @accent-1, 26px, {
          background-color: @accent-0;
          box-shadow: @shadow-2;
        });

        margin: 0 5px;
        padding: 0 5px;
      }
    }

    div.chart {
      height: 250px;
      width: 250px;
      margin: auto;
    }

    p#no-results { font-style: italic; }
  }

  #comments-wrapper {
    flex: 1;
    overflow: hidden;

    .comments {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      #post-comments {
        flex: 1;
        overflow-y: scroll;
      }
    }
  }

  .responsive(@screen-md, {
    padding: 10px 10px 0;

    .loading-container {
      width: calc(~'100% - 20px');
      height: calc(~'100% - 20px');
    }
  });
}
