div#branch-wall {
  box-sizing: border-box;
  position: relative;
  
  div.content-body {
    ul#post-list {
      overflow-x: hidden;

      li.list-item {
        .list-item(70px);
      }
    }
  }

  .button {
    margin: 0;

    > a {
      @icon-size: 32px;

      background-image: url('/assets/images/icons/black/add.jpg');
      background-size: cover;
      display: block;
      height: @icon-size;
      margin-left: 12px;
      width: @icon-size;

      &:not(.disabled):hover { cursor: pointer; }

      &:not(.disabled):hover,
      &.selected {
        background-image: url('/assets/images/icons/black/add--hover.jpg');
      }
    }
  }
}
