div#auth-background {
  width: 100%;
  height: 100%;
  background: @primary-light;
  background: -webkit-radial-gradient(@primary-light, @primary-dark);
  background: -o-radial-gradient(@primary-light, @primary-dark);
  background: -moz-radial-gradient(@primary-light, @primary-dark);
  background: radial-gradient(@primary-light, @primary-dark);
  text-align: center;

  a#logo {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 60px 0 40px 0;
    img {
      width: 100%;
      height: 100%;
      opacity: 0.8;
    }

    &:hover img {
      opacity: 1;
    }
  }

  h1 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 40px;
  }

  form {
    input {
      display: block;
      margin: 10px auto;
      width: 100%;
      max-width: 400px;
      box-sizing: border-box;
      padding: 15px;
      border: none;
      border-radius: 3px;
      font-weight: 400;
      font-size: 16px;

      &[type="text"], &[type="email"], &[type="password"] {
        background-color: @light-grey;
        color: @text-dark;
      }

      &[type="submit"] {
        background-color: @button;
        color: #fff;
        font-weight: 500;
        transition: all 0.3s ease-out;

        &:hover {
          cursor: pointer;
          box-shadow: @shadow2;
          letter-spacing: 3px;
          transition: all 0.3s ease-out;
          background-color: @button-focus;
        }
      }

      &[disabled] {
        background-color: @dark-grey;

        &:hover {
          background-color: @dark-grey;
          box-shadow: none;
          letter-spacing: normal;
          cursor: auto;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
  p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    a {
      text-decoration: underline;
    }
  }
}
