div#branch-post {
  position: relative;
  div#post-header {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    border-bottom: solid 1px @light-grey;

    a div.post-picture {
      float: left;
      height: 80px;
      width: 80px;
      border-radius: 3px;
      margin-right: 10px;
      background-size: cover;
      background-position: center;

      &:hover {
        box-shadow: @shadow2;
      }
    }

    div.data {
      display: inline-block;
      height: 100%;

      a p.title {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          cursor: pointer;
        }
      }

      span.description {
        font-size: 14px;
        font-weight: 400;

        &::before {
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 5px;
          border-radius: 50%;
        }

        &.image::before { background-color: @post-type-image; }
        &.video::before { background-color: @post-type-video; }
        &.audio::before { background-color: @post-type-audio; }
        &.text::before { background-color: @post-type-text; }
        &.page::before { background-color: @post-type-page; }
        &.poll::before { background-color: @post-type-poll; }

        a {
          color: @button-focus;
          font-weight: 500;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
  div#post-comments {
    position: relative;
    width: 100%;
    height: calc(~'100% - 100px');  // take off height of post header
    box-sizing: border-box;
    padding: 0 15px;
    overflow-y: scroll;

    div.post-content {
      width: 100%;
      height: 200px;
      box-sizing: border-box;
      padding: 10px;

      &#image-post div {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &#video-post {
        width: 43.75%;
        margin: auto;

        div#video-wrapper {
          position: relative;
          padding-bottom: 56.25%; /* 16:9 */
        	padding-top: 25px;
        	height: 0;

          iframe {
            position: absolute;
          	top: 0;
          	left: 0;
          	width: 100%;
          	height: 100%;
          }
        }
      }
    }

    p#no-comments {
      font-style: italic;
    }

    div#comment-thread {
      width: 100%;
    }
  }
}
