div#branch-post {
  position: relative;
  div#post-header {
    height: 80px;
    width: 100%;
    padding: 10px 0;

    div.votes {
      position: relative;
      float: left;
      height: 100%;
      min-width: 50px;
      text-align: center;
      margin-left: 5px;

      img {
        display: block;
        position: absolute;
        width: 26px;
        height: auto;
        left: 12px;
        opacity: 0.3;

        &:first-child {
          top: 0;
        }

        &:last-child {
          bottom: 0;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }

      p {
        margin: 0;
        font-size: 14px;
        padding: 30px 0;
      }
    }

    div#post-picture {
      float: left;
      height: 80px;
      width: 80px;
      border-radius: 3px;
      margin-right: 10px;
      background-size: cover;
      background-position: center;
    }

    div.data {
      display: inline-block;
      height: 100%;

      p.title {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
      }

      span.description {
        font-size: 14px;
        font-weight: 400;

        a {
          color: @button-focus;
          font-weight: 500;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
  div#post-content {
    width: 100%;
    height: calc(~'100% - 100px');
    box-sizing: border-box;
    padding: 0 15px;
    overflow-y: scroll;
  }
}
