div#branch-nucleus-moderators-list-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  ul {
    a {
      li {
        display: inline-block;
        text-align: center;
        margin-right: 5px;

        div.mod-picture {
          width: 150px;
          height: 150px;
          margin-bottom: 5px;
          border-radius: 3px;
          background-position: center;
          background-size: cover;
        }
        span {
          font-size: 14px;
          font-weight: 500;
        }

        &:hover {
          div.mod-picture {
            box-shadow: @shadow2;
          }
        }
      }
    }
  }
}
