ul#nucleus-about-properties {
  margin-bottom: 20px;
  
  li {
    text-align: center;
    padding: 5px 0;
    span {
      font-size: 14px;
      font-weight: 400;

      &.field {
        color: @dark-grey;
      }

      a {
        color: @button-focus;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    div.value {
      font-size: 14px;
      max-width: 100%;
      margin: auto;
    }
  }
}

div#follow-branch-button {
  display: block;
  margin: auto;
  padding: 10px;
  max-width: 150px;
}
