ul#nucleus-about-properties {
  li {
    text-align: center;
    padding: 5px 0;
    span {
      font-size: 14px;
      font-weight: 400;

      &.field {
        color: @dark-grey;
      }

      a {
        color: @button-focus;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    div.value {
      font-size: 14px;
      max-width: 100%;
      margin: auto;
    }
  }
}
