div#branch-wall {
  position: relative;
  width: 100%;
  height: calc(100% - @nav-bar-height);
  box-sizing: border-box;
  padding: 20px;

  div#wall-header {
    width: 100%;
    height: 50px;

    h1 {
      display: inline-block;
      margin-right: 20px;
      font-size: 26px;
      font-weight: 500;
    }

    div#stat-type-selector {
      height: 100%;
      float: right;

      div {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 40px;

        &.selected img {
          opacity: 0.7;
        }

        &:hover {
          cursor: pointer;
          img {
            opacity: 0.7;
          }
        }

        img {
          position: absolute;
          height: 40%;
          width: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.2;
        }
      }
    }
  }

  div#post-list-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    ul#post-list {
      li {
        height: 80px;
        width: 100%;
        padding: 10px 0;
        border-bottom: solid 1px @light-grey;
        position: relative;

        span.index {
          float: left;
          font-size: 20px;
          font-weight: 500;
          color: @dark-grey;
          line-height: 80px;
        }

        div.votes {
          position: relative;
          float: left;
          height: 100%;
          min-width: 50px;
          text-align: center;
          margin-left: 5px;

          img {
            display: block;
            position: absolute;
            width: 26px;
            height: auto;
            left: 12px;
            opacity: 0.3;

            &:first-child {
              top: 0;
            }

            &:last-child {
              bottom: 0;
            }

            &:hover {
              cursor: pointer;
              opacity: 0.7;
            }
          }

          p {
            margin: 0;
            font-size: 14px;
            padding: 30px 0;
          }
        }

        a {
          div {
            float: left;
            height: 80px;
            width: 80px;
            border-radius: 3px;
            margin-right: 10px;
            background-size: cover;
            background-position: center;

            &:hover {
              box-shadow: @shadow2;
            }
          }
        }

        div.data {
          display: inline-block;
          position: relative;
          height: 100%;
          // set max width to faciltate ellipsis on long text.
          // 200px is ~ the space taken by the content to the left of the data div
          max-width: calc(~'100% - 200px');

          a p.title {
            font-size: 20px;
            font-weight: 500;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              cursor: pointer;
            }
          }

          span.description {
            font-size: 14px;
            font-weight: 400;

            &::before {
              content: '';
              display: inline-block;
              width: 10px;
              height: 10px;
              margin-right: 5px;
              border-radius: 50%;
            }

            &.image::before { background-color: @post-type-image; }
            &.video::before { background-color: @post-type-video; }
            &.audio::before { background-color: @post-type-audio; }
            &.text::before { background-color: @post-type-text; }
            &.page::before { background-color: @post-type-page; }
            &.poll::before { background-color: @post-type-poll; }

            a {
              color: @button-focus;
              font-weight: 500;

              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }

          div.controls {
            position: absolute;
            bottom: 0;

            img {
              height: 16px;
              width: auto;
              opacity: 0.4;

              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
