ul#nucleus-settings-properties {
  li {
    text-align: center;
    padding: 5px 0;

    &#change-cover span, &#change-picture span {
      font-weight: 500;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    div.value {
      font-size: 14px;
      max-width: 100%;
      margin: auto;
    }

    span {
      font-size: 14px;
      font-weight: 400;

      &.field {
        color: @dark-grey;
      }

      &.change-value {
        span {
          font-weight: 500;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
