div#branch-wall {
  position: relative;
  width: 100%;
  height: calc(100% - @nav-bar-height);
  box-sizing: border-box;
  padding: 10px 20px;

  div#wall-header {
    width: 100%;
    height: 50px;

    h1 {
      display: inline-block;
      margin-right: 20px;
      font-size: 26px;
      font-weight: 500;
    }
  }

  div#post-list-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    ul#post-list {
      padding-top: 15px;
      li {
        height: 80px;
        width: 100%;
        padding: 10px 0;
        border-bottom: solid 1px @light-grey;

        span.index {
          float: left;
          font-size: 20px;
          font-weight: 500;
          color: @dark-grey;
          line-height: 80px;
        }

        div.votes {
          position: relative;
          float: left;
          height: 100%;
          width: 50px;
          text-align: center;
          margin-left: 5px;

          img {
            display: block;
            position: absolute;
            width: 26px;
            height: auto;
            left: 12px;
            opacity: 0.3;

            &:first-child {
              top: 0;
            }

            &:last-child {
              bottom: 0;
            }

            &:hover {
              cursor: pointer;
              opacity: 1;
            }
          }

          p {
            margin: 0;
            font-size: 14px;
            padding: 30px 0;
          }
        }

        a {
          div {
            float: left;
            height: 80px;
            width: 80px;
            border-radius: 3px;
            margin: 0 10px;
            background-size: cover;
            background-position: center;

            &:hover {
              box-shadow: @shadow2;
            }
          }
        }

        div.data {
          float: left;
          height: 100%;

          a span.title {
            display: block;
            font-size: 20px;
            font-weight: 500;

            &:hover {
              cursor: pointer;
            }
          }

          span.description {
            font-size: 14px;
            font-weight: 400;

            a {
              color: @button-focus;
              font-weight: 500;

              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
