div.comment {
  position: relative;
  width: 100%;
  padding: 10px 0;

  div[loading] {
    min-height: 50px;

    div.votes {
      position: relative;
      float: left;
      width: 30px;
      text-align: center;

      img {
        display: block;
        position: absolute;
        width: 16px;
        height: auto;
        left: 6px;
        opacity: 0.3;

        &:first-child {
          top: 0;
        }

        &:last-child {
          bottom: 0;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }

      p {
        margin: 0;
        font-size: 14px;
        padding: 20px 0;
      }
    }

    div.data {
      display: inline-block;
      width: calc(~"100% - 55px");

      span.comment-title {
        font-size: 14px;
        font-weight: 300;

        a {
          color: @button-focus;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      p.comment-text {
        margin: 0;
        font-size: 14px;
      }

      ul.comment-controls {
        margin: 10px 0;
        a li, li {
          display: inline-block;
          font-size: 12px;
          color: @dark-grey;

          padding-right: 10px;
          &:not(:last-of-type) {
            border-right: solid 1px @dark-grey;
          }
          &:not(:first-of-type) {
            padding: 0 10px;
          }

          &:hover {
            cursor: pointer;
            color: @button-focus;
          }
        }
      }
    }
  }

  div.replies {
    box-sizing: border-box;
    border-left: 1px solid @light-grey;
    margin-left: 14px;
    padding-left: 15px;

    span.load-more {
      display: inline-block;
      font-size: 10px;
      font-weight: 600;
      color: @button-focus;
      vertical-align: bottom;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
