div#modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 1100;
}

div#modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1200;

  div#modal-content {
    display: inline-block;
    position: relative;
    max-width: 80%;
    max-height: 80%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: @shadow3;

    div#modal-injected-content {
      width: 100%;
      height: calc(~'100% - 50px');
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-sizing: border-box;
      padding: 15px 20px;

      h1 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 15px;
      }
    }

    div#modal-buttons {
      width: 100%;
      height: 50px;
      text-align: right;

      div {
        display: inline-block;
        height: 30px;
        width: 80px;
        margin-top: 10px;
        margin-right: 20px;
        text-align: center;
        border-radius: 3px;
        color: #fff;

        span {
          line-height: 30px;
          font-size: 14px;
          font-weight: 500;
        }

        &#modal-ok {
          background-color: @button;
          transition: all 0.3s ease-out;

          &:hover {
            cursor: pointer;
            background-color: @button-focus;
            box-shadow: @shadow2;
            transition: all 0.3s ease-out;
          }
        }

        &#modal-cancel {
          background-color: @dark-grey;
          transition: all 0.3s ease-out;

          &:hover {
            cursor: pointer;
            background-color: @primary-light;
            transition: all 0.3s ease-out;
          }
        }
      }
    }
  }
}
