ul#settings-properties {
  li {
    text-align: center;
    padding: 5px 0;

    &#change-cover span, &#change-picture span {
      font-weight: 500;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    span {
      font-size: 14px;
      font-weight: 400;

      &.field {
        color: @dark-grey;
      }

      &.change-value {
        span {
          font-weight: 500;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
