div#profile-notifications {
  position: relative;
  width: 100%;
  height: calc(~"100% - 50px");
  overflow-y: scroll;

  ul {
    li {
      position: relative;
      height: 65px;
      padding: 10px 20px;
      border-bottom: solid 1px @light-grey;
      overflow: hidden;

      &.unread {
        background-color: @unread;
        div.toggle-unread {
          background-color: @unread-dark;
        }
      }
      &:not(.unread) {
        background-color: transparent;
        div.toggle-unread {
          background-color: transparent;
        }
      }

      div.toggle-unread {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 10px;
        right: 10px;
        border: 1px solid @dark-grey;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
        }
      }

      div.images {
        float: left;
        a div.user-profile {
          height: 65px;
          width: 65px;
          background-position: center;
          background-size: cover;
          border-radius: 5px;
          margin-right: 10px;

          &:hover {
            box-shadow: @shadow2;
          }
        }
      }

      div.notification-entry {
        //overflow: hidden;

        div {
          display: block;
          word-wrap: break-word;
          white-space: pre-wrap;

          &.title {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 5px;
          }

          &.description {
            font-size: 14px;
            font-weight: 300;
          }

          a {
            font-weight: 500;
            color: @button-focus;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
