div.tooltip {
  position: absolute;
  height: 30px;
  padding: 0 10px;
  background-color: @primary-dark;
  border-radius: 5px;
  text-align: left;
  white-space: nowrap;
  z-index: 1000;
  box-shadow: @shadow2;

  transition: opacity 0.2s ease-out;
  opacity: 1;
  &.ng-hide {
    transition: opacity 0.2s ease-out;
    opacity: 0;
  }

  span.tooltip-text {
    color: #fff;
    font-size: 12px;
    line-height: 30px;
  }
}
