.sidebar {
  $offset-sm: $s-aligner-sm / 2;

  background-color: #fff;
  border-right: solid 1px $light-grey;
  box-shadow: none;
  box-sizing: border-box;
  height: $u-vh-sm;
  left: calc(50% - #{$offset-sm});
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: none;
  position: fixed;
  top: $u-offset-top-sm;
  transform: translateX(-100%);
  width: $sidebar-w-sm;
  z-index: $z-sidebar;
  transition: $tr, height $tr-speed;

  * { pointer-events: initial; }

  .sidebar-controls {
    $button-size: $sidebar-w-sm / 4;
    // border-bottom: solid 1px @light-grey;
    border-top: solid 1px $light-grey;
    box-sizing: border-box;
    height: $button-size;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;

    // Button.
    > li {
      $number-of-buttons: 4;
      border-bottom: solid 1px $light-grey;
      border-left: solid 1px transparent;
      border-right: solid 1px $light-grey;
      box-sizing: border-box;
      float: left;
      height: 100%;
      margin: 0;
      padding: 0;
      width: calc(100% / #{$number-of-buttons});

      // Make the whole button clickable.
      > a {
        display: block;
        height: 100%;

        > img {
          $icon-size: 22px;
          height: $icon-size;
          opacity: .2;
          padding-top: calc(50% - #{$icon-size / 2});
          width: auto;
          
          @media screen and (min-width: $screen-md) {
            $icon-size: 26px;
            height: $icon-size;
            padding-top: calc(50% - #{$icon-size / 2});
          }
        }

        &:not(.disabled):hover { cursor: pointer; }

        &:not(.disabled):hover,
        &.selected {
          > img { opacity: .7; }
        }
      }

      > button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        height: 100%;
        margin: 0;
        outline: none;
        padding: 0;
        width: 100%;

        &.style--inactive {
          > img { opacity: .2; }

          &:hover {
            > img { opacity: .7; }
          }
        }

        > img {
          $icon-size: 24px;
          height: $icon-size;
          padding-top: 2px;
          width: auto;
          
          @media screen and (min-width: $screen-md) {
            $icon-size: 38px;
            height: $icon-size;
          }
        }
      }

      // &:last-child { border-right-color: transparent; }

      // todo What does this do?
      &#add-content:hover { cursor: pointer; }
    }
    
    @media screen and (min-width: $screen-md) {
      $button-size: $sidebar-w-md / 4;
      height: $button-size;
    }

    @media screen and (min-width: $screen-lg) {
      $button-size: $sidebar-w-lg / 4;
      height: $button-size;
    }
  }

  .sidebar-info {
    padding: $g-padding-sidebar;

    #inf-symbol { font-size: $font-size-lg; }

    h1 {
      font-size: $font-size-lg;
      font-weight: 500;
      hyphens: auto;

      @media screen and (min-width: $screen-md) {
        font-size: $font-size-xl;
      }
    }

    h2 {
      font-size: 15px;
      font-weight: $font-weight-heavy;
    }
  }

  .sidebar-picture {
    $picture-size: $sidebar-w-sm;
    background-position: center;
    background-size: cover;
    border-top: solid 1px $light-grey;
    box-sizing: border-box;
    height: $picture-size;
    // Fix the blurry picture in Webkit.
    image-rendering: -webkit-optimize-contrast;
    // Relative because of the edit button (below).
    position: relative;
    width: $picture-size;

    @media screen and (min-width: $screen-md) {
      $picture-size: $sidebar-w-md;
      height: $picture-size;
      width: $picture-size;
    }

    @media screen and (min-width: $screen-lg) {
      $picture-size: $sidebar-w-lg;
      height: $picture-size;
      width: $picture-size;
    }

    img#edit {
      $margin: 6px;
      $size: 26px;

      bottom: $margin;
      height: $size;
      opacity: .4;
      position: absolute;
      right: $margin;
      width: $size;

      &.style--default { opacity: .2; }

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  ul {
    li {
      font-size: $font-size-sm;
      font-weight: $font-weight-light;
      padding-bottom: 5px;
      
      span { font-weight: $font-weight-heavy; }
    }
  }

  &.docked { left: 0; }
  &.open {
    transform: translateX(0);
  }

  @media screen and (min-width: $screen-md) {
    $offset-md: $s-aligner-md / 2;

    left: calc(50% - #{$offset-md});
    transform: translateX(0);
    width: $sidebar-w-md;
  }

  @media screen and (min-width: $screen-lg) {
    $offset-lg: $s-aligner-lg / 2;

    left: calc(50% - #{$offset-lg});
    width: $sidebar-w-lg;
  }
}
