<div class="tab-page">

    <div class="tab-page-section min-height-30" ng-show="ToolsCtrl.BranchService.branch.id === 'root'">
        <span
            class="main-text link"
            ng-click="ToolsCtrl.handleClick('homepage-stats')">
            Edit the Homepage Stats
        </span>
    </div>

    <div class="tab-page-section min-height-30">
        <span
            class="main-text link"
            ng-click="ToolsCtrl.handleClick('mod-add')">
            Add a Moderator
        </span>
    </div>

    <div class="tab-page-section min-height-30">
        <span
            class="main-text link"
            ng-click="ToolsCtrl.handleClick('mod-delete')">
            Remove a Moderator
        </span>
    </div>

    <div class="tab-page-section min-height-30">
        <span
            class="main-text link"
            ng-click="ToolsCtrl.handleClick('branch-review')">
            Review Child Branch Requests
        </span>
    </div>

    <div class="tab-page-section min-height-30">
        <span
            class="main-text link"
            ng-click="ToolsCtrl.handleClick('branch-detach-child')">
            {{ ToolsCtrl.BranchService.branch.id !== 'root' ? 'Detach a Child Branch' : 'Delete a Branch' }}
        </span>
    </div>

    <div class="tab-page-section min-height-30" ng-show="ToolsCtrl.BranchService.branch.id !== 'root'">
        <span
            class="main-text link"
            ng-click="ToolsCtrl.handleClick('branch-delete')">
            Delete <span class="text--bold">b/{{ToolsCtrl.BranchService.branch.id}}</span>
        </span>
    </div>

    <div class="tab-page-section min-height-30" ng-show="ToolsCtrl.BranchService.branch.id === 'root'">
        <span
            class="main-text link"
            ng-click="ToolsCtrl.handleClick('ban-user')">
            Ban User
        </span>
    </div>

    <div class="tab-page-section min-height-30" ng-hide="ToolsCtrl.BranchService.branch.id === 'root'">
        <span
            class="main-text link"
            ng-click="ToolsCtrl.handleClick('branch-request')">
            Move <span class="text--bold">b/{{ToolsCtrl.BranchService.branch.id}}</span> to Another Branch
        </span>
    </div>

</div>

<div class="tab-page" style="margin-top: 20px" loading loading-when="!ToolsCtrl.log.length && ToolsCtrl.isLoading">

    <span class="title-text margin-bottom-small">Moderator Action Log</span>

    <span class="main-text" ng-show="!ToolsCtrl.log || !ToolsCtrl.log.length">
        No entries to display.
    </span>

    <div class="tab-page-section min-height-30">

        <span
            class="main-text"
            entry="entry"
            mod-log-entry
            ng-repeat="entry in ToolsCtrl.log">
        </span>

    </div>

</div>