<div id="nucleus-reviewsubbranchrequests-modal" ng-controller="ReviewSubbranchRequestsModalController as ReviewSubbranchRequestsModal">
  <div loading when="ReviewSubbranchRequestsModal.isLoading">
    <h1>Review Child Branch Requests</h1>
    <p class="error-message">{{ ReviewSubbranchRequestsModal.errorMessage }}</p>
    <div id="nucleus-reviewsubbranchrequests-inputs">
      <p ng-show="(!ReviewSubbranchRequestsModal.requests || ReviewSubbranchRequestsModal.requests.length === 0) && !ReviewSubbranchRequestsModal.isLoading">There are currently no Child Branch requests.</p>
      <ul>
        <li ng-repeat="request in ReviewSubbranchRequestsModal.requests">
          <a ui-sref="weco.branch.subbranches({ branchid: request.branch.id })" target="_blank">
            <div style="background-image: url('{{ request.branch.profileUrl }}'), url('/assets/default-branch.jpg');"></div>
          </a>
          <div id="branch-info">
            <a ui-sref="weco.branch.subbranches({ branchid: request.branch.id })" target="_blank">
              <span class="title">{{ request.branch.name }}</span>
            </a>
            <div class="description">Created by <a ui-sref="weco.profile.about({ username: request.branch.creator })" target="_blank">{{ request.branch.creator }}</a> on {{ request.branch.date | date:'dd MMMM yyyy' }}</div>
            <div class="request-actions">
              <div class="request-accept" ng-click="ReviewSubbranchRequestsModal.action($index, 'accept')"><span>ACCEPT</span></div>
              <div class="request-reject" ng-click="ReviewSubbranchRequestsModal.action($index, 'reject')"><span>REJECT</span></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
