<li class="list-item style--card-poll-answer">
  <span
    class="list-item-index ng-hide"
    ng-class="{ 'style--colour-coded': CardPollAnswer.type === 'result' }"
    ng-show="CardPollAnswer.index >= 0"
    ng-style="CardPollAnswer.type === 'result' ? { 'background-color': CardPollAnswer.getAnswerColor(CardPollAnswer.index) } : {}">
    {{ CardPollAnswer.index + 1 }}
  </span>

  <img
    alt="Select this answer"
    class="list-item__radio-button ng-hide"
    ng-show="CardPollAnswer.type !== 'result'"
    ng-src="/assets/icons/{{ CardPollAnswer.selected ? 'button-radio--active' : 'button-radio' }}.png" />

  <div
    class="list-item__stats ng-hide"
    ng-show="CardPollAnswer.type === 'result'">
    <div class="list-item__stats-header">
      <span class="list-item__stats-votes">{{ CardPollAnswer.answer.votes }}</span>
      <img
        alt="{{ CardPollAnswer.answer.votes + ' votes' }}"
        class="list-item__stats-icon"
        src="/assets/icons/black/arrow-up.png" />
    </div>

    <span class="list-item__stats-percentage">
      {{ CardPollAnswer.answer.ratioOfTotal + '%' }}
    </span>
  </div>

  <div class="list-item-info">
    <p class="list-item__title">{{ CardPollAnswer.answer.text }}</p>

    <br />

    <span>
      <a class="list-item__detail" ui-sref="weco.profile.about({ username: CardPollAnswer.answer.creator })">{{ CardPollAnswer.answer.creator }}</a>

      <span class="list-item__separator"></span>

      <span class="list-item__detail">{{ CardPollAnswer.answer.date | date:'HH:mm' }}</span>

      <span class="list-item__separator"></span>

      <span class="list-item__detail">{{ CardPollAnswer.answer.date | date:'dd-MMMM-yyyy' }}</span>
    </span>
  </div>
</li>
