<div class="nav-bar">

    <div class="nav-bar-content">

        <div class="nav-bar-left">

            <a class="icon-padding" href="/" title="Home">
                <img class="icon white" src="/assets/images/icons/home-02.svg">
            </a>

            <a class="icon-padding" title="About"
                ng-class="{ 'style--opaque' : Navbar.isControlSelected('nucleus') }"
                ui-sref="weco.branch.nucleus.about({ branchid: 'root' })">
                <img class="icon white" src="/assets/images/icons/about-01.png">
            </a>

            <a class="icon-padding" title="Wall"
                ng-class="{ 'style--opaque' : Navbar.isControlSelected('wall') }"
                ui-sref="weco.branch.wall({ branchid: 'root' })">
                <img class="icon white" src="/assets/images/icons/wall-05.png">
            </a>

            <a class="icon-padding" title="Branches"
                ng-class="{ 'style--opaque' : Navbar.isControlSelected('subbranches') }"
                ui-sref="weco.branch.subbranches({ branchid: 'root' })">
                <img class="icon white" src="/assets/images/icons/node-01.png">
            </a>

        </div><!--end of "nav-bar-left"-->

        <div class="nav-bar-left-dropdown-button"><!--Only visible when screen-width < 700px-->

            <a class="icon-padding" title="Home">
                <img class="icon white" src="/assets/images/icons/dropdown-01.png">
            </a>

        </div>

        <div class="nav-bar-left-dropdown-modal-wrapper">

            <div class="nav-bar-left-dropdown-modal-content">

                <div class="nav-bar-dropdown-link">
                    <a class="icon-padding small" href="/index.html" title="Home">
                        <img class="icon grey" src="/assets/images/icons/home-02.svg">
                    </a>
                    <a class="link-text" href="/index.html" title="Home">Home</a>
                </div>
        
                <div class="nav-bar-dropdown-link">
                    <a class="icon-padding small" href="/branch-about.html" title="About">
                        <img class="icon grey" src="/assets/images/icons/about-01.png">
                    </a>
                    <a class="link-text" href="/branch-about.html" title="About">About</a>
                </div>
        
                <div class="nav-bar-dropdown-link">
                    <a class="icon-padding small" title="Wall" 
                    ng-class="{ 'style--opaque' : Navbar.isControlSelected('wall') }"
                    ui-sref="weco.branch.wall({ branchid: 'root' })">
                        <img class="icon grey" src="/assets/images/icons/wall-05.png">
                    </a>
                    <a class="link-text" href="/branch-wall.html" title="Wall">Wall</a>
                </div>
        
                <div class="nav-bar-dropdown-link">
                    <a class="icon-padding small" href="/branches.html" title="Branches">
                        <img class="icon grey" src="/assets/images/icons/node-01.png">
                    </a>
                    <a class="link-text" href="/branches.html" title="Branches">Branches</a>
                </div>

            </div>
            
        </div>

        <div class="nav-bar-center">

            <div class="global-search-bar">

                <input 
                    class="global-search-bar-input"
                    placeholder="Search weco..."
                    type="text">
                
                <img 
                    class="global-search-bar-button"
                    src="/assets/images/icons/search-01.png">

            </div><!--end of "global-search-bar"-->

        </div><!--end of "nav-bar-center"-->

        <div class="nav-bar-right">

            <a class="icon-padding" href="" title="Messages">
                <img class="icon white" src="/assets/images/icons/messages-01.png">
            </a>

            <a class="icon-padding" title="Notifications"
                ng-show="Navbar.UserService.isAuthenticated()"
                ui-sref="weco.profile.notifications({ username: Navbar.UserService.user.username })">
                <img class="icon white" src="/assets/images/icons/notifications-01.png">
            </a>

            <a class="nav-bar-username-padding" title="Username"
                ng-show="Navbar.UserService.isAuthenticated()"
                ui-sref="weco.profile.about({ username: Navbar.UserService.user.username })">
                <span class="nav-bar-username">{{ Navbar.UserService.user.username }}</span>
            </a>

            <a class="icon-padding" title="User" style="margin-left: 10px;"
                ng-show="Navbar.UserService.isAuthenticated()"
                ui-sref="weco.profile.about({ username: Navbar.UserService.user.username })">
                <img class="small-circular-thumbnail" style="margin: auto; background-image: url('{{ Navbar.UserService.user.profileUrlThumb }}'), url('/assets/images/default-profile.jpg');">
            </a>

        </div><!--end of "nav-bar-right"-->

        <div class="nav-bar-right-dropdown-button"><!--Only visible when screen-width < 700px-->

            <a class="icon-padding" title="User" style="margin-left: 10px;">
                <img class="small-circular-thumbnail" style="margin: auto; background-image: url('{{ Navbar.UserService.user.profileUrlThumb }}'), url('/assets/images/default-profile.jpg');">
            </a>

        </div>

        <div class="nav-bar-right-dropdown-modal-wrapper">

            <div class="nav-bar-right-dropdown-modal-content">

                    <span class="sub-text" href="">Private:</span>

                    <div class="nav-bar-dropdown-link">
                        <a class="icon-padding small" href="/user-settings.html" title="Settings">
                            <img class="icon grey" src="/assets/images/icons/settings-01.png">
                        </a>
                        <a class="link-text" href="/user-settings.html" title="Settings">Settings</a>
                    </div>
            
                    <div class="nav-bar-dropdown-link">
                        <a class="icon-padding small" href="/user-stream.html" title="Stream">
                            <img class="icon grey" src="/assets/images/icons/wall-01.png">
                        </a>
                        <a class="link-text" href="/user-stream.html" title="Stream">Stream</a>
                    </div>
            
                    <div class="nav-bar-dropdown-link">
                        <a class="icon-padding small" href="" title="Messages">
                            <img class="icon grey" src="/assets/images/icons/messages-01.png">
                        </a>
                        <a class="link-text" href="" title="Messages">Messages</a>
                    </div>
            
                    <div class="nav-bar-dropdown-link margin-bottom-large">
                        <a class="icon-padding small" title="Notifications"
                            ng-show="Navbar.UserService.isAuthenticated()"
                            ui-sref="weco.profile.notifications({ username: Navbar.UserService.user.username })">
                            <img class="icon grey" src="/assets/images/icons/notifications-01.png">
                        </a>
                        <a class="link-text" href="/user-notifications.html" title="Notifications">Notifications</a>
                    </div>
            
                    <span class="sub-text" href="">Public:</span>
            
                    <div class="nav-bar-dropdown-link">
                        <a class="icon-padding small" href="/user-about.html" title="About">
                            <img class="icon grey" src="/assets/images/icons/about-01.png">
                        </a>
                        <a class="link-text" href="/user-about.html" title="About">About</a>
                    </div>
            
                    <div class="nav-bar-dropdown-link">
                        <a class="icon-padding small" href="/user-posts.html" title="Posts">
                            <img class="icon grey" src="/assets/images/icons/post-01.png">
                        </a>
                        <a class="link-text" href="/user-posts.html" title="About">Posts</a>
                    </div>
            
                    <div class="nav-bar-dropdown-link">
                        <a class="icon-padding small" href="/user-about.html" title="Comments">
                            <img class="icon grey" src="/assets/images/icons/comment-01.png">
                        </a>
                        <a class="link-text" href="/user-posts.html" title="About">Comments</a>
                    </div>
            
                    <div class="nav-bar-dropdown-link">
                        <a class="icon-padding small" href="/user-about.html" title="Likes">
                            <img class="icon grey" src="/assets/images/icons/like-01.svg">
                        </a>
                        <a class="link-text" href="/user-posts.html" title="About">Likes</a>
                    </div>
            
                    <div class="nav-bar-dropdown-link">
                        <a class="icon-padding small" href="/user-about.html" title="Reposts">
                            <img class="icon grey" src="/assets/images/icons/about-01.png">
                        </a>
                        <a class="link-text" href="/user-posts.html" title="About">Reposts</a>
                    </div>
            
                    <div class="nav-bar-dropdown-link">
                        <a class="icon-padding small" href="/branches.html" title="Branches">
                            <img class="icon grey" src="/assets/images/icons/node-01.png">
                        </a>
                        <a class="link-text" href="/user-branches.html" title="Branches">Branches</a>
                    </div>
            
                </div><!--end of "side-bar-buttons"-->

            </div>
            
        </div>

    </div><!--end of "nav-bar-content"-->

