<div class="content__wrapper">
  <div class="header">
    <img
      alt="Toggle sidebar"
      class="header__button style--sidebar-toggle"
      ng-class="{ 'style--toggled': Navbar.AppService.isSidebarOpen }"
      ng-click="Navbar.AppService.toggleSidebar()"
      src="/assets/images/icons/black/show.png" />

    <h1 class="header__title text--capitalize">
      {{ 'root' === BranchWall.BranchService.branch.id ? 'global ' : '' }}wall
    </h1>

    <a
      class="header__button ng-hide"
      ng-click="BranchWall.WallService.handleHeaderButtonClick()"
      ng-show="BranchWall.WallService.isHeaderButtonVisible()"
      offset-y="40"
      text="BranchWall.WallService.getHeaderButtonTooltip()"
      tooltip>
    </a>
    
    <div class="header__controls">
      <dropdown
        items="BranchWall.controls.timeRange.items"
        selected="BranchWall.controls.timeRange.selectedIndex"
        title="time range">
      </dropdown>

      <dropdown
        items="BranchWall.controls.sortBy.items"
        selected="BranchWall.controls.sortBy.selectedIndex"
        title="sort by">
      </dropdown>
      
      <dropdown
        items="BranchWall.controls.postType.items"
        post-types="true"
        selected="BranchWall.controls.postType.selectedIndex"
        title="post type">
      </dropdown>
      
      <dropdown
        items="BranchWall.controls.statType.items"
        selected="BranchWall.controls.statType.selectedIndex"
        title="stat type">
      </dropdown>
    </div>
  </div>
  
  <div
    class="content__body"
    loading
    loading-when="!BranchWall.posts.length && BranchWall.isLoading"
    on-scroll-to-bottom="WallScrollToBottom">
    <ul
      class="content__list"
      ng-if="BranchWall.posts.length > 0">
      <li
        class="branch__post"
        index="$index"
        list-item
        ng-repeat="post in BranchWall.posts"
        post="post"
        stat="BranchWall.getStatType()">
      </li>
    </ul>

    <div
      class="text--center"
      ng-if="BranchWall.posts.length === 0">
      <p class="branch__empty-title">
        There don't seem to be any posts to this branch that match the current filter settings
      </p>
      <img
        alt="Empty state icon"
        class="branch__empty-icon"
        src="/assets/images/empty-state.jpg" />
      <p class="branch__empty-text">
        To create the first post: <br>
        Click the 'Add New Content' button (+) above <br>
        <span class="text--italic">or</span><br>
        Tag a post you submit elsewhere on the site with this branches unique name ('b/...')
      </p>
    </div>
  </div>
</div>
