<div id="branch-wall">
  <div class="content-header">
    <h1>{{ BranchWall.BranchService.branch.id === 'root' ? 'Global Wall' : 'Wall' }}</h1>
    <div class="content-controls">
      <dropdown title="'TIME RANGE'" items="BranchWall.controls.timeRange.items" selected="BranchWall.controls.timeRange.selectedIndex"></dropdown>
      <dropdown title="'POST TYPE'" items="BranchWall.controls.postType.items" selected="BranchWall.controls.postType.selectedIndex"></dropdown>
      <dropdown title="'SORT BY'" items="BranchWall.controls.sortBy.items" selected="BranchWall.controls.sortBy.selectedIndex"></dropdown>
      <div id="stat-type-selector" >
        <div id="individual-stat" ng-class="{ selected: BranchWall.stat === 'individual' }" ng-click="BranchWall.setStat('individual')">
          <img src="/assets/images/icons/black/individual.png">
        </div>
        <div id="local-stat" ng-class="{ selected: BranchWall.stat === 'local' }" ng-click="BranchWall.setStat('local')">
          <img src="/assets/images/icons/black/local.png">
        </div>
        <div id="global-stat" ng-class="{ selected: BranchWall.stat === 'global' }" ng-click="BranchWall.setStat('global')">
          <img src="/assets/images/icons/black/global.png">
        </div>
      </div>
    </div>
  </div>
  <div class="content-body" loading when="BranchWall.isLoading" on-scroll-to-bottom="BranchWall.loadMore">
    <ul id="post-list">
      <li class="list-item" ng-repeat="post in BranchWall.posts" loading when="post.isLoading">
        <span class="list-item-index">{{ $index + 1 }}</span>
        <div class="list-item-votes">
          <img src="/assets/images/icons/black/arrow-up.png" ng-click="BranchWall.vote(post, 'up')">
          <p>{{ post[stat] }}</p>
          <img src="/assets/images/icons/black/arrow-down.png" ng-click="BranchWall.vote(post, 'down')">
        </div>
        <!-- Two DOM elements conditionally displayed if the post is a text type.
             One is to perform internal state transition with uisref. (Text posts)
             One is to link to an external site. (Non-text posts) -->
        <a class="list-item-image" ng-if="post.type === 'text' || post.type === 'poll'" ui-sref="weco.branch.post({ postid: post.id })"
           ng-show="post.profileUrlThumb">
          <div style="background-image: url('{{ post.profileUrlThumb }}')"></div>
        </a>
        <a class="list-item-image" ng-if="post.type !== 'text' && post.type !== 'poll'" href="{{ post.data.text }}"
           ng-show="post.type === 'image' ? post.data.text : post.profileUrlThumb" target="_blank">
          <div style="background-image: url('{{ post.type === 'image' ? BranchWall.getProxyUrl(post.data.text) : post.profileUrlThumb }}'), url('/assets/images/invalid-image-url.jpg')"></div>
        </a>
        <div class="list-item-nsfw-label" ng-show="post.nsfw"><span>NSFW</span></div>

        <div class="list-item-info">
          <!-- Two DOM elements conditionally displayed again - see above. -->
          <a ng-if="post.type === 'text' || post.type === 'poll'" ui-sref="weco.branch.post({ postid: post.id })">
            <span class="list-item-title">{{ post.data.title }}</span>
          </a>
          <a ng-if="post.type !== 'text' && post.type !== 'poll'" href="{{ post.data.text }}" target="_blank">
            <span class="list-item-title">{{ post.data.title }}</span>
          </a>
          <span ng-class="post.type" class="list-item-post-type-marker"></span>
          <span ng-class="post.type" class="list-item-description">Submitted by <a ui-sref="weco.profile.about({ username: post.data.creator })">{{ post.data.creator }}</a> to <a ui-sref="weco.branch.subbranches({ branchid: BranchWall.getOriginalBranches(post)[0] })">b/{{ BranchWall.getOriginalBranches(post)[0] }}</a><span ng-show="BranchWall.getOriginalBranches(post).length > 1"> and {{ BranchWall.getOriginalBranches(post).length - 1 }} others</span> at {{ post.date | date:'HH:mm on dd of MMMM yyyy' }}</span>
          <div class="list-item-controls">
            <a ui-sref="weco.branch.post({ postid: post.id })"><img class="control" src="/assets/images/icons/black/comment.png"></a>
            <img class="control" src="/assets/images/icons/black/flag.png" ng-click="BranchWall.openFlagPostModal(post)">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
