<div id="branch-wall">
  <div class="content-header">
    <h1>{{ BranchWall.BranchService.branch.id === 'root' ? 'Global Wall' : 'Wall' }}</h1>
    <div class="content-controls">
      <dropdown title="'TIME RANGE'" items="BranchWall.controls.timeRange.items" selected="BranchWall.controls.timeRange.selectedIndex"></dropdown>
      <dropdown title="'POST TYPE'" items="BranchWall.controls.postType.items" selected="BranchWall.controls.postType.selectedIndex"></dropdown>
      <dropdown title="'SORT BY'" items="BranchWall.controls.sortBy.items" selected="BranchWall.controls.sortBy.selectedIndex"></dropdown>
      <div id="stat-type-selector">
        <div id="individual-stat" ng-class="{ selected: BranchWall.stat === 'individual' }" ng-click="BranchWall.setStat('individual')">
          <img src="/assets/images/icons/black/individual.png">
        </div>
        <div id="local-stat" ng-class="{ selected: BranchWall.stat === 'local' }" ng-click="BranchWall.setStat('local')">
          <img src="/assets/images/icons/black/local.png">
        </div>
        <div id="global-stat" ng-class="{ selected: BranchWall.stat === 'global' }" ng-click="BranchWall.setStat('global')">
          <img src="/assets/images/icons/black/global.png">
        </div>
      </div>
    </div>
  </div>
  <div class="content-body" on-scroll-to-bottom="BranchWallScrollToBottom" loading when="BranchWall.isLoading">
    <ul id="post-list">
      <li class="list-item" ng-repeat="post in BranchWall.posts" list-item post="post" index="$index" stat="BranchWall.stat"></li>
    </ul>
  </div>
</div>
