<span class="main-text centered" style="width: 200px; margin-bottom: 40px">
  You're almost there! Enter a new password and you're ready to go.
</span>

<form
  class="auth-form"
  ng-submit="ResetPassword.resetPassword()">

  <input
    class="auth-form-input"
    name="password"
    ng-model="ResetPassword.credentials.password"
    placeholder="password"
    required
    type="password" />

  <input
    class="auth-form-input"
    name="confirmPassword"
    ng-model="ResetPassword.credentials.confirmPassword"
    placeholder="repeat password"
    required
    type="password" />

  <input
    class="auth-button"
    style="margin-bottom: 40px"
    ng-disabled="ResetPassword.isLoading"
    type="submit"
    value="Set password" />
</form>
