<nav id="nav-bar">
  <div>
    <a ui-sref="weco.home" ng-click="triggerAnimation()">
      <img id="animation" ng-src="{{ getAnimationSrc() }}">
      <img src="/assets/images/nav-logo.png">
    </a>
    <div id="nav-controls">
      <a ui-sref="weco.branch.nucleus.about({ branchid: 'root' })" ng-class="{ 'selected' : isControlSelected('nucleus') }">
        <img src="/assets/images/icons/white/nucleus.png">
      </a>
      <a ui-sref="weco.branch.subbranches({ branchid: 'root' })" ng-class="{ 'selected' : isControlSelected('subbranches') }">
        <img src="/assets/images/icons/white/branch.png">
      </a>
      <a ui-sref="weco.branch.wall({ branchid: 'root' })" ng-class="{ 'selected' : isControlSelected('wall') }">
        <img src="/assets/images/icons/white/wall.png">
      </a>
    </div>
    <div id="search-box" ng-hide="onHomePage()">
      <div>
        <input type="text" placeholder="Search..."></input>
        <img src="/assets/images/icons/black/search.png">
      </div>
    </div>
    <div id="user-controls">
      <!--<a><img src="assets/images/icons/white/message.png"></a>-->
      <a ui-sref="weco.profile.notifications({ username: user().username })" ng-show="user().username !== undefined">
        <div id="notifications" ng-show="user().username !== undefined">
          <img src="assets/images/icons/white/notification.png">
          <div id="notification-count" ng-show="showNotificationCount()"><span>{{ notificationCount > 9 ? '9+' : notificationCount }}</span></div>
        </div>
      </a>
      <a id="profile" ui-sref="weco.profile.about({ username: user().username })" ng-show="user().username !== undefined" ng-class="{ 'selected' : isControlSelected('profile') }">
        <span class="text">{{ user().username }}</span>
        <div id="profile-picture" style="background-image: url('{{ user().profileUrl }}'), url('/assets/images/default-profile.jpg');"></div>
      </a>
      <div id="expand"><img ng-show="user().username !== undefined" src="assets/images/icons/white/nav-expand.png" ng-click="toggleNav()" ng-class="{ 'expanded': isNavExpanded() }"></div>
      <ul id="nav-menu-items" ng-show="isNavExpanded()">
        <li ng-click="logout()"><span>Log Out</span></li>
      </ul>
      <a ui-sref="auth.login" ng-show="user().username === undefined"><span class="text">Log In</span></a>
      <a ui-sref="auth.signup" ng-show="user().username === undefined"><span class="text">Sign Up</span></a>
    </div>
  </div>
</nav>
