<nav id="nav-bar">
  <div>
    <a ui-sref="weco.home"><img src="/assets/images/nav-logo.png"></a>
    <div id="nav-controls">
      <a ui-sref="weco.branch.nucleus.about({ branchid: 'root' })" ng-class="{ 'selected' : isControlSelected('nucleus') }">
        <img src="/assets/images/icons/white/nucleus.png">
      </a>
      <a ui-sref="weco.branch.subbranches({ branchid: 'root' })" ng-class="{ 'selected' : isControlSelected('subbranches') }">
        <img src="/assets/images/icons/white/branch.png">
      </a>
      <a ui-sref="weco.branch.wall({ branchid: 'root' })" ng-class="{ 'selected' : isControlSelected('wall') }">
        <img src="/assets/images/icons/white/wall.png">
      </a>
    </div>
    <div id="search-box" ng-hide="onHomePage()">
      <div>
        <input type="text" placeholder="Search..."></input>
        <img src="/assets/images/icons/black/search.png">
      </div>
    </div>
    <div id="user-controls">
      <a id="profile" ui-sref="weco.profile.about({ username: user().username })" ng-show="isLoggedIn()" ng-class="{ 'selected' : isControlSelected('profile') }">
        <span>{{ user().username }}</span>
        <div id="profile-picture" style="background-image: url('{{ user().profileUrl }}'), url('/assets/images/default-profile.jpg');"></div>
      </a>
      <a href="" ng-show="isLoggedIn()" ng-click="logout()"><span>Log Out</span></a>
      <a ui-sref="auth.login" ng-show="!isLoggedIn()"><span>Log In</span></a>
      <a ui-sref="auth.signup" ng-show="!isLoggedIn()"><span>Sign Up</span></a>
    </div>
  </div>
</nav>
