<div class="branch">

    <div class="branch-index">
        <div class="branch-index-content">
            <div class="branch-index-content-padding">
                <span class="branch-index-text">{{ CardBranch.index + 1 }}</span>
            </div>
        </div>
    </div>

    <a 
        class="branch-flag-image"
        ui-sref="weco.branch.wall({ branchid: CardBranch.branch.id })"
        style="background-image: url('{{ CardBranch.branch.profileUrlThumb }}'), url('/assets/images/default-branch.jpg');"> <!--background-image: linear-gradient(141deg, #966dd8 0%,#2cb5e8 75%);"-->
    </a>

    <div class="branch-body">

        <div class="branch-title">
            <a class="title-text" ui-sref="weco.branch.wall({ branchid: CardBranch.branch.id })">{{ CardBranch.branch.name }}</a>
        </div>

        <!--not working yet-->
        <div class="branch-description">
            <span class="main-text" marked="CardBranch.branch.description">{{ CardBranch.branch.description }}</span>
        </div>

        <!--not working yet-->
        <div class="stats">

            <!--branch followers-->
            <div class="stat">
                <img class="followers-icon margin-right-small" src="/assets/images/user-images/user-image-00.jpg">
                <a class="sub-text link margin-right-large">{{ CardBranch.branch[CardBranch.stat] }} Followers</a>
            </div>

            <!--total posts-->
            <div class="stat">
                <img class="stat-icon margin-right-small" src="/assets/images/icons/post-01.png">
                <a class="sub-text link margin-right-large">{{ CardBranch.branch[CardBranch.stat] }} Posts</a>
            </div>

            <!--total comments-->
            <div class="stat">
                <img class="stat-icon margin-right-small" src="/assets/images/icons/comment-01.png">
                <a class="sub-text link margin-right-large">{{ CardBranch.branch[CardBranch.stat] }} Comments</a>
            </div>

            <!--total likes-->
            <div class="stat">
                <img class="stat-icon margin-right-small" src="/assets/images/icons/heart-icon.svg">
                <a class="sub-text link margin-right-large">{{ CardBranch.branch[CardBranch.stat] }} Likes</a>
            </div>

        </div>
        
    </div><!--End of "branch-body"-->

</div>