<li class="child_branch_wrapper_new">
  <span
    class="child_branch_index_new ng-hide"
    ng-show="CardBranch.index >= 0">
    {{ CardBranch.index + 1 }}
  </span>
  
  <a
    class="child_branch_image_new"
    ui-sref="weco.branch.wall({ branchid: CardBranch.branch.id })">
    <div style="background-image: url('{{ CardBranch.branch.profileUrlThumb }}'), url('/assets/images/default-branch.jpg');"></div>
  </a>

<!--Branch info section-->

  <div class="child_branch_info_new">
    
    <!--Branch name-->

    <a
     class="post__title__new"
     ui-sref="weco.branch.wall({ branchid: CardBranch.branch.id })">
      {{ CardBranch.branch.name }}
    </a>

    <!--Branch description [Not working]-->

    <!--<a
      class="post__description__new"
      ui-sref="weco.branch.wall({ branchid: CardBranch.branch.id })">
      {{ CardBranch.branch.description }}
    </a>-->

    <!--Branch tags section-->

    <span class="post__tags__new">

      <!--Branch creator-->

      <a class="post__tags__text bluelink" ui-sref="weco.profile.about({ username: CardBranch.branch.creator })">{{ CardBranch.branch.creator }}</a>

      <!--Divider line-->

      <span class="post__tags__text">|</span>

      <!--Date branch was created-->

      <span class="post__tags__text">{{ CardBranch.branch.date | date:'dd-MMMM-yyyy' }}</span>

    </span>

    <div class="post__tags__text">
      Points: {{ CardBranch.branch.post_points }}
    </div>

    <div class="post__tags__text">
      Posts: {{ CardBranch.branch.post_count }}
    </div>

    <div class="post__tags__text">
      Comments: {{ CardBranch.branch.post_comments }}
    </div>
  </div>
</li>
