<div class="notifications"
  id="profile-notifications"
  loading
  loading-when="ProfileNotifications.isLoading"
  on-scroll-to-bottom="NotificationsScrollToBottom">
  <div id="empty"
    ng-show="!ProfileNotifications.notifications || !ProfileNotifications.notifications.length">
    No notifications.
  </div>
  
  <ul>
    <li ng-class="{ 'unread': notification.unread === true }"
      ng-repeat="notification in ProfileNotifications.notifications">
      <div class="toggle-unread" ng-click="ProfileNotifications.toggleUnreadState(notification)"></div>
      
      <div class="notification-image">
        <img alt=""
          ng-src="assets/images/notifications/{{ ProfileNotifications.getNotificationImageType(notification) }}.png" />
      </div>
      
      <div class="notification-entry">
        <notification notification="notification"></notification>        
        <div class="description">received at {{ notification.date | date:'HH:mm on dd of MMMM yyyy' }}</div>
      </div>
    </li>
  </u>
</div>