<ul
  class="content__list content__list--no-padding"
  loading
  loading-when="!Ctrl.NotificationService.notifications.length && Ctrl.isLoading"
  ng-if="Ctrl.NotificationService.notifications.length > 0">
  <li
    class="notification style--padding"
    ng-class="{ 'style--highlighted': item.unread }"
    ng-repeat="item in Ctrl.NotificationService.notifications">
    <div class="list-item__toggle" ng-click="Ctrl.NotificationService.toggleUnreadState($index)"></div>
    
    <span class="list-item-index">
      {{ $index + 1 }}
    </span>

    <div class="list-item-image">
      <img
        alt=""
        ng-src="assets/images/notifications/{{ Ctrl.getNotificationImageType(item) }}.svg" />
    </div>
    
    <div class="list-item-info">
      <span class="list-item__title">
        <notification index="$index" notification="item"></notification>
      </span>

      <br />

      <span class="list-item__detail">
        received at {{ item.date | date:'HH:mm on dd of MMMM yyyy' }}
      </span>
    </div>
  </li>
</ul>

<div
  class="empty-wrapper"
  ng-if="!Ctrl.NotificationService.notifications.length">
  <p class="empty__text">
    No notifications.
  </p>
</div>
