<div id="nucleus-flagged-posts">
  <div class="content-header" id="nucleus-flagged-posts-header">
    <dropdown title="'TIME RANGE'" items="timeItems" selected="selectedTimeItemIdx"></dropdown>
    <dropdown title="'POST TYPE'" items="postTypeItems" selected="selectedPostTypeItemIdx"></dropdown>
    <dropdown title="'SORT BY'" items="sortByItems" selected="selectedSortByItemIdx"></dropdown>
  </div>
  <div id="post-list-container" loading when="isLoading">
    <ul id="post-list">
      <li ng-repeat="post in posts | filter: { type: (postTypeItems[selectedPostTypeItemIdx] == 'ALL') ? '' : postTypeItems[selectedPostTypeItemIdx] }" loading when="post.isLoading">
        <span class="index">{{ $index + 1 }}</span>
        <div class="flags">
          <img src="/assets/images/icons/white/flag.png">
          <span>{{ post.branch_rules_count + post.site_rules_count + post.wrong_type_count }}</span>
        </div>
        <!-- Two DOM elements conditionally displayed if the post is a text type.
             One is to perform internal state transition with uisref. (Text posts)
             One is to link to an external site. (Non-text posts) -->
        <a ng-if="post.type == 'text'" ui-sref="weco.branch.post({ postid: post.id })"
           ng-show="post.profileUrlThumb">
          <div style="background-image: url('{{ post.profileUrlThumb }}')"></div>
        </a>
        <a ng-if="post.type != 'text'" href="{{ post.data.text }}"
           ng-show="post.profileUrlThumb || (post.type == 'image' && post.data.text)" target="_blank">
          <div style="background-image: url('{{ post.type == 'image' ? post.data.text : post.profileUrlThumb }}'), url('/assets/images/invalid-image-url.jpg')"></div>
        </a>

        <div class="data">
          <!-- Two DOM elements conditionally displayed again - see above. -->
          <a ng-if="post.type == 'text'" ui-sref="weco.branch.post({ postid: post.id })">
            <p class="title">{{ post.data.title }}</p>
          </a>
          <a ng-if="post.type != 'text'" href="{{ post.data.text }}" target="_blank">
            <p class="title">{{ post.data.title }}</p>
          </a>
          <span ng-class="post.type" class="post-type-marker" tooltip-text="(post.type | capitalize) + ' Post'" offset-y="20"></span>
          <span ng-class="post.type" class="description">Submitted by <a ui-sref="weco.profile.about({ username: post.data.creator })">{{ post.data.creator }}</a> at {{ post.date | date:'hh:mm on dd of MMMM yyyy' }}</span>
          <div class="controls">
            <a ui-sref="weco.branch.post({ postid: post.id })"><img class="control" src="/assets/images/icons/black/comment.png" tooltip-text="'Comments'" offset-y="20"></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
