<div class="tags__editor">
    <p class="tags__error">
        {{ TagEditor.errorMessage }}
    </p>
    
    <div class="tags__input-wrapper">
        <input
            class="modal-input"
            ng-change="TagEditor.handleInputChange()"
            ng-disabled="TagEditor.items.length >= TagEditor.max() || TagEditor.disabled"
            ng-model="TagEditor.tag"
            placeholder="{{ TagEditor.title() }}" />
    
        <button
        class="tags__input-icon"
        ng-click="TagEditor.addTag()"
        ng-disabled="TagEditor.disabled">
        <img
            alt="Add {{ TagEditor.tag }} to the tags"
            src="/assets/images/icons/add-01.png" />
        </button>
    </div>
    
    <div class="tags__list">
        <div
        class="tags__item"
        ng-repeat="tag in TagEditor.items">
        <span class="tags__label">
            {{ TagEditor.renderTagLabel(tag) }}
        </span>
    
        <span
            class="tags__icon ng-hide"
            ng-click="TagEditor.removeTag(tag)"
            ng-disabled="TagEditor.disabled"
            ng-show="TagEditor.isRemovable(tag)">
            <img class="modal-close-icon white" src="/assets/images/icons/close-02.png"/>
        </span>
        </div>
    </div>
</div>
    