<div class="comment clearfix" ng-repeat="comment in comments">
  <div loading when="comment.isLoading">
    <div class="votes">
      <img src="/assets/images/icons/black/arrow-up.png" ng-click="vote(comment, 'up')">
      <p>{{ comment.individual }}</p>
      <img src="/assets/images/icons/black/arrow-down.png" ng-click="vote(comment, 'down')">
    </div>
    <div class="data">
      <span class="comment-title"><a ui-sref="weco.profile.about({ username: comment.data.creator })">{{ comment.data.creator }}</a> | {{ timeSince(comment.date) }}</span>
      <p class="comment-text">{{ comment.data.text }}</p>
      <ul class="comment-controls">
        <li ng-click="openReply(comment)">REPLY</li><!--
        --><li>SAVE</li><!--
        --><li>PERMALINK</li><!--
        --><li>FLAG</li>
      </ul>
      <write-comment ng-show="comment.openReply" postid="comment.postid" parentid="comment.id" on-cancel="onCancelComment" on-submit="onSubmitComment"></write-comment>
    </div>
  </div>
  <div class="replies">
    <!-- Comment replies -->
    <comment-thread comments="comment.comments"></comment-thread>
    <span ng-show="comment.count > 0 && (!comment.comments || comment.comments.length == 0)" class="load-more" ng-click="$parent.loadMore(comment)">LOAD {{ comment.count }} MORE</span>
  </div>
</div>
