<div class="comment clearfix" ng-repeat="comment in comments">
  <div class="votes">
    <img src="/assets/images/icons/black/arrow-up.png">
    <p>{{ comment.individual }}</p>
    <img src="/assets/images/icons/black/arrow-down.png">
  </div>
  <div class="data">
    <span class="comment-title"><a ui-sref="weco.profile.about({ username: comment.data.creator })">{{ comment.data.creator }}</a> | 4 days ago</span>
    <p class="comment-text">{{ comment.data.text }}</p>
    <ul class="comment-controls">
      <li>REPLY</li><!--
      --><li>SAVE</li><!--
      --><li>PERMALINK</li><!--
      --><li>FLAG</li>
    </ul>
  </div>
  <div class="replies">
    <!-- Another comment thread goes here -->
    <comment-thread comments="comment.comments"></comment-thread>
    <span class="load-more" ng-click="$parent.loadMore(comment)">LOAD MORE</span>
  </div>
</div>
