<div class="comment clearfix" ng-repeat="comment in comments">
  <div class="votes">
    <img src="/assets/images/icons/black/arrow-up.png" ng-click="vote(comment, 'up')">
    <p>{{ comment.individual }}</p>
    <img src="/assets/images/icons/black/arrow-down.png" ng-click="vote(comment, 'down')">
  </div>
  <div class="data">
    <span class="comment-title"><a ui-sref="weco.profile.about({ username: comment.data.creator })">{{ comment.data.creator }}</a> | {{ timeSince(comment.date) }}{{ comment.data.edited ? '*' : '' }}</span>
    <p class="comment-text">{{ comment.data.text }}</p>
    <ul class="comment-controls">
         <li ng-click="openReply(comment, false)" tooltip-text="'Reply'" offset-y="25"><img src="/assets/images/icons/black/reply.png"></li><!--
      --><li ng-show="isOwnComment(comment)" ng-click="openReply(comment, true)" tooltip-text="'Edit'" offset-y="25"><img src="/assets/images/icons/black/edit.png"></li><!--
      --><li><img src="/assets/images/icons/black/save.png" tooltip-text="'Save'" offset-y="25"></li><!--
      --><li ng-click="openCommentPermalink(comment)" tooltip-text="'Permalink'" offset-y="25"><img src="/assets/images/icons/black/permalink.png"></li><!--
      --><li><img src="/assets/images/icons/black/flag.png" tooltip-text="'Flag'" offset-y="25"></li>
    </ul>
    <write-comment ng-show="comment.openReply" postid="comment.postid" parentid="comment.id" original-comment-text="comment.data.text"
                   update="comment.update" on-cancel="onCancelComment" on-submit="onSubmitComment"
                   placeholder="comment.update ? 'Edit your comment...' : 'Write a reply...'"></write-comment>
  </div>
  <div class="replies">
    <!-- Comment replies -->
    <comment-thread comments="comment.comments" sort-by="sortBy"></comment-thread>
    <span ng-show="(comment.replies > 0 && (!comment.comments || comment.comments.length == 0)) || comment.replies > comment.comments.length" class="load-more" ng-click="$parent.loadMore(comment)">LOAD {{ comment.replies - (comment.comments ? comment.comments.length : 0) }} MORE</span>
  </div>
</div>
