<div class="comment clearfix" ng-repeat="comment in CommentThread.comments">
  <div class="comment-content">
    <div class="comment-votes">
      <img src="/assets/images/icons/black/arrow-up.png" ng-click="CommentThread.vote(comment, 'up')">
      <p>{{ comment.individual }}</p>
      <img src="/assets/images/icons/black/arrow-down.png" ng-click="vote(comment, 'down')">
    </div>
    <div class="comment-info">
      <span class="comment-title"><a ui-sref="weco.profile.about({ username: comment.data.creator })">{{ comment.data.creator }}</a> | {{ CommentThread.timeSince(comment.date) }}{{ comment.data.edited ? '*' : '' }}</span>
      <p class="comment-text" marked="comment.data.text"></p>
      <ul class="comment-controls">
           <li ng-click="CommentThread.openReply(comment, false)" tooltip-text="'Reply'" offset-y="25"><img src="/assets/images/icons/black/reply.png"></li><!--
        --><li ng-show="CommentThread.isOwnComment(comment)" ng-click="CommentThread.openReply(comment, true)" tooltip-text="'Edit'" offset-y="25"><img src="/assets/images/icons/black/edit.png"></li><!--
        --><li><img src="/assets/images/icons/black/save.png" tooltip-text="'Save'" offset-y="25"></li><!--
        --><li ng-click="CommentThread.openCommentPermalink(comment)" tooltip-text="'Permalink'" offset-y="25"><img src="/assets/images/icons/black/permalink.png"></li><!--
        --><li><img src="/assets/images/icons/black/flag.png" tooltip-text="'Flag'" offset-y="25"></li>
      </ul>
      <write-comment ng-show="comment.openReply" postid="comment.postid" parentid="comment.id" original-comment-text="comment.data.text"
                     update="comment.update" on-cancel="CommentThread.closeReply.bind(CommentThread)" on-submit="CommentThread.onSubmitComment.bind(CommentThread)"
                     placeholder="comment.update ? 'Edit your comment...' : 'Write a reply...'"></write-comment>
    </div>
  </div>
  <div class="comment-replies">
    <!-- Comment replies -->
    <comment-thread comments="comment.comments" sort-by="CommentThread.sortBy"></comment-thread>
    <span ng-show="(comment.replies > 0 && (!comment.comments || comment.comments.length == 0)) || comment.replies > comment.comments.length" class="load-more" ng-click="CommentThread.loadMore(comment)">LOAD {{ comment.replies - (comment.comments ? comment.comments.length : 0) }} MORE</span>
  </div>
</div>
