<!--<cover-photo
    can-edit="Profile.profileUser.username === Profile.UserService.user.username"
    image-url="Profile.profileUser.coverUrl"
    is-open="Profile.showCover"
    open-upload-cover-modal="Profile.openCoverPictureModal"
    thumb-url="Profile.profileUser.coverUrlThumb">
</cover-photo>-->

<div class="fixed-nav-bar-padding"></div>

<cover-photo can-edit="Profile.profileUser.username === Profile.UserService.user.username" image-url="Profile.profileUser.coverUrl" open-upload-cover-modal="Profile.openCoverPictureModal" thumb-url="Profile.profileUser.coverUrlThumb">
</cover-photo>

<!--<div class="cover-image sticky-cover"></div>-->

<div class="page" emit-on-scroll-to-bottom loading loading-when="Profile.isLoading">

    <!--<div class="sticky-header">-->
    <!--Remove this div to prevent the left-side-bar from sticking to the nav-bar when users scroll down the screen-->

    <div class="left-side-bar">

        <div class="side-bar-header sticky-header">

            <div class="side-bar-flag-image-small" style="background-image: url('{{ Profile.profileUser.profileUrl }}'), url('/assets/images/user-images/user-image-00.jpg');">
                <!--background-image: linear-gradient(141deg, #966dd8 0%,#2cb5e8 75%);"-->
            </div>

            <div class="side-bar-header-padding">

                <a class="title-text" href="">{{ Profile.profileUser.name }}</a>

                <a class="sub-text link" href="">{{ Profile.profileUser.username }}</a>

            </div>

        </div>

        <div class="side-bar-flag-image-large" style="background-image: url('{{ Profile.profileUser.profileUrl }}'), url('/assets/images/user-images/user-image-00.jpg');">
            <!--background-image: linear-gradient(141deg, #966dd8 0%,#2cb5e8 75%);"-->

            <img class="side-bar-flag-image-upload-icon" id="edit" ng-class="{ 'style--default': !Profile.profileUser.profileUrl }" ng-click="Profile.openProfilePictureModal()" ng-show="Profile.profileUser.username === Profile.UserService.user.username" offset-y="30"
                src="/assets/images/icons/edit.svg" text="'Upload New Image'" tooltip />
        </div>

        <div class="side-bar-links">

            <!--About-->
            <div class="side-bar-link">
                <a class="icon-padding small" ui-sref="weco.profile.about({ username: Profile.profileUser.username })" title="About">
                    <img class="icon grey" src="/assets/images/icons/about-01.png">
                </a>
                <a class="link-text" ui-sref="weco.profile.about({ username: Profile.profileUser.username })" title="About">About</a>
            </div>

            <!--Dev Work-->
            <div class="side-bar-link inactive">
                <a class="icon-padding small" title="Dev Work">
                    <img class="icon grey-inactive" src="/assets/images/icons/dev-work-01.png" style="width: 28px; height: 28px">
                </a>
                <a class="link-text" title="Dev Work">Dev Work</a>
            </div>

            <!--Branches-->
            <div class="side-bar-link inactive">
                <a class="icon-padding small" title="Branches">
                    <img class="icon grey-inactive" src="/assets/images/icons/node-01.png">
                </a>
                <a class="link-text" title="Branches">Branches</a>
            </div>

            <!--Posts-->
            <div class="side-bar-link inactive">
                <a class="icon-padding small" title="Posts">
                    <img class="icon grey-inactive" src="/assets/images/icons/post-01.png">
                </a>
                <a class="link-text" title="About">Posts</a>
            </div>

            <!--Comments-->
            <div class="side-bar-link inactive">
                <a class="icon-padding small" title="Comments">
                    <img class="icon grey-inactive" src="/assets/images/icons/comment-01.png">
                </a>
                <a class="link-text" title="About">Comments</a>
            </div>

            <!--Likes-->
            <div class="side-bar-link inactive">
                <a class="icon-padding small" title="Likes">
                    <img class="icon grey-inactive" src="/assets/images/icons/like-01.svg">
                </a>
                <a class="link-text" title="About">Likes</a>
            </div>

            <!--Reposts-->
            <div class="side-bar-link inactive">
                <a class="icon-padding small" title="Reposts">
                    <img class="icon grey-inactive" src="/assets/images/icons/repost-06.png" style="width: 22px; height: 22px">
                </a>
                <a class="link-text" title="About">Reposts</a>
            </div>

            <!--Followed branches (only visible on small screens)-->
            <div class="side-bar-child-branches hide-on-large-screens-1400" style="margin-top: 20px; padding: 0">

                <span class="main-text" style="margin-bottom: 10px">Followed branches:</span>
         
                <ul ng-repeat="branch in Profile.profileUser.followed_branches">
                    
                    <li class="side-bar-child-branch" ui-sref="weco.branch.wall({ branchid: branch })">
    
                        <a class="small-circular-thumbnail margin-right-large" 
                            style="background-image: url('{{ branch.profileUrlThumb }}'), url('/assets/images/branch-images/branch-image-00.jpg');">
                        </a>
    
                        <span class="main-text large dark-link">b/{{ branch }}</span>
    
                    </li>
    
                </ul>
    
            </div>

        </div>
        <!--end of "side-bar-buttons"-->

    </div>
    <!--end of "left-side-bar"-->

    <div class="central-panel">

        <div class="central-panel-header">

            <div class="central-panel-header-with-tabs sticky-header hide-scroll-bars">

                <div class="central-panel-header-tabs hide-scroll-bars">

                    <a class="side-bar-toggle-button" ng-click="Profile.toggleSidebarNew()">
                        <img id="toggle-button" alt="Toggle sidebar" class="icon toggle-out" src="/assets/images/icons/toggle-02.png" />
                    </a>

                    <tabs items="Profile.state.tabItems" states="Profile.state.tabStates"></tabs>

                    <!--Mark all notifications as 'read' button needs fixing-->
                    <!--<button
                        class="header__read-all"
                        ng-click="Profile.markAllNotificationsAsSeen()"
                        ng-show="Profile.$state.current.name.includes('weco.profile.notifications')"
                        offset-x="-150"
                        offset-y="30"
                        text="'Mark all notifications as seen'"
                        tooltip >
                        <img
                        alt="Mark all notifications as read icon"
                        src="/assets/images/icons/tick--circle.svg" />
                    </button>-->

                </div>

            </div>

        </div>

        <div class="center">
            <div class="align">
                <div class="content">
                    <loader-bar class="loader__bar--profile" hidden="!Profile.showLoader"></loader-bar>
                    <div class="content__body" ui-view></div>
                </div>
            </div>
        </div>

    </div>

    <div class="right-side-bar">

        <!--Followed branches (only visible on large screens)-->
        <div class="side-bar-child-branches hide-on-small-screens-1400">

            <span class="main-text" style="margin-bottom: 10px">Followed branches:</span>
     
            <ul ng-repeat="branch in Profile.profileUser.followed_branches">
                
                <li class="side-bar-child-branch" ui-sref="weco.branch.wall({ branchid: branch })">

                    <a class="small-circular-thumbnail margin-right-large" 
                        style="background-image: url('{{ branch.profileUrlThumb }}'), url('/assets/images/branch-images/branch-image-00.jpg');">
                    </a>

                    <span class="main-text large dark-link">b/{{ branch }}</span>

                </li>

            </ul>

        </div>

    </div>

</div>