<div id="create-post-modal" ng-controller="CreatePostModalController as CPMCtrl">
  <div
    class="clearfix"
    loading
    loading-when="CPMCtrl.isLoading">
    <h1>Submit a Post</h1>

    <p class="error-message">{{ CPMCtrl.errorMessage }}</p>

    <div id="create-post-picture" ng-show="!CPMCtrl.UploadService.isUploading">
      <div
        id="dragdrop"
        ngf-drag-over-class="'dragover'"
        ngf-drop="setFile($file)"
        ngf-drop-available="dropSupported"
        ngf-fix-orientation="true"
        ngf-hide-on-drop-not-available="false">
        <img
          alt=""
          id="graphic"
          ng-show="CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] !== 'image'"
          src="/assets/images/image.png" />

        <div
          id="image-preview"
          ng-show="CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] === 'image'"
          style="background-image: url('{{ CPMCtrl.AppService.getProxyUrl(CPMCtrl.newPost.text) }}'), url('/assets/images/invalid-image-url.jpg')">
        </div>

        <h2 ng-show="CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] !== 'image'">
          Drop an image here!
        </h2>

        <div id="preview" ngf-background="CPMCtrl.file"></div>
      </div>

      <div
        id="choose-file"
        ng-show="CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] !== 'image'"
        ngf-accept="'image/*'"
        ngf-fix-orientation="true"
        ngf-select="CPMCtrl.setFile($file)">
        {{ dropSupported ? 'Or choose from file...' : 'Choose from file...' }}
      </div>
    </div>

    <div id="create-post-inputs" ng-show="!CPMCtrl.UploadService.isUploading">
      <dropdown
        class="style--horizontal"
        items="CPMCtrl.postType.items"
        selected="CPMCtrl.postType.selectedIndex"
        title="post type">
      </dropdown>

      <label class="text--uppercase" id="nsfw-checkbox">
        nsfw
        <input type="checkbox" ng-model="CPMCtrl.newPost.nsfw" />
      </label>

      <label
        class="text--uppercase"
        id="locked-checkbox"
        ng-show="CPMCtrl.postType.selectedIndex === 5">
        lock answers
        <input type="checkbox" ng-model="CPMCtrl.newPost.locked" />
      </label>

      <input ng-model="CPMCtrl.newPost.title" placeholder="Title (max 200 characters)" type="text" />

      <tag-editor
        items="CPMCtrl.tags"
        max="5"
        title="'Tag another branch, max 5 tags'">
      </tag-editor>
    </div>

    <textarea
      id="post-description"
      ng-model="CPMCtrl.newPost.text"
      ng-show="!CPMCtrl.UploadService.isUploading && !CPMCtrl.preview && (CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] === 'text' || CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] === 'poll')" 
      placeholder="Describe this post..."
      type="text">
    </textarea>

    <input
      ng-model="CPMCtrl.newPost.text"
      ng-show="!CPMCtrl.UploadService.isUploading && (CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] !== 'text' && CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] !== 'poll')"
      placeholder="URL"
      type="text" />

    <input
      class="captcha"
      name="captcha"
      ng-model="CPMCtrl.newPost.captcha"
      type="text" />

    <div
      id="preview-content"
      marked="CPMCtrl.newPost.text"
      ng-show="!CPMCtrl.UploadService.isUploading && CPMCtrl.preview && (CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] === 'text' || CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] === 'poll')">
    </div>

    <p
      id="preview-post"
      ng-click="CPMCtrl.togglePreview()"
      ng-show="!CPMCtrl.UploadService.isUploading && CPMCtrl.newPost.text.length > 0 && (CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] === 'text' || CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] === 'poll')">
      {{ CPMCtrl.preview ? 'Edit...' : 'Preview...' }}
    </p>

    <poll-answer-editor
      answers="CPMCtrl.pollAnswers"
      ng-show="!CPMCtrl.UploadService.isUploading && CPMCtrl.postType.items[CPMCtrl.postType.selectedIndex] === 'poll'"
      title="Create a new Answer">
    </poll-answer-editor>

    <div id="progress-container" ng-show="CPMCtrl.UploadService.isUploading">
      <div id="progress" style="width:{{ CPMCtrl.UploadService.progress }}%"></div>
    </div>
  </div>
</div>
