// About
ul#nucleus-about-properties {
  .field-value-list();
}

// Moderators
div#nucleus-moderators-list-container {
  height: 100%;
  position: relative;
  width: 100%;

  ul {
    a {
      li {
        cursor: pointer;
        display: inline-block;
        margin-right: 5px;
        text-align: center;

        div.mod-picture {
          @size: 80px;

          background-position: center;
          background-size: cover;
          border-radius: 3px;
          height: @size;
          margin: 0 auto 5px;
          width: @size;

          .responsive(@screen-sm, {
            @size: 120px;
            height: @size;
            width: @size;
          });

          .responsive(@screen-md, {
            @size: 150px;
            height: @size;
            width: @size;
          });

          &:hover { box-shadow: @shadow-2; }
        }

        span {
          font-size: @font-size-xs;
          font-weight: @font-weight-heavy;

          .responsive(@screen-sm, { font-size: @font-size-sm; });
        }
      }
    }
  }
}

// Settings
ul#nucleus-settings-properties {
  .field-value-list();
  
  padding: 0;
  text-align: center;
}

// Mod tools
div#nucleus-modtools-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  ul#nucleus-modtools-properties {
    border-bottom: 1px solid @light-grey;
    box-sizing: border-box;
    margin-bottom: 16px;
    padding-bottom: 12px;
    text-align: center;

    li {
      padding: 5px 0;

      span {
        font-size: @font-size-sm;
        font-weight: @font-weight-heavy;

        &.danger { color: @caution-0; }

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

ul#nucleus-modtools-log {
  box-sizing: border-box;
  height: 0px;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  overflow-y: auto;
  position: relative;

  div {
    h2 { font-size: @font-size-md; }

    h3 {
      color: @dark-grey;
      font-size: @font-size-sm;
      font-style: italic;
      font-weight: @font-weight-normal;
      margin-top: 10px;
    }

    li {
      padding: 10px 0;

      div {
        font-size: @font-size-sm;

        a {
          color: @accent-0;
          font-weight: @font-weight-heavy;
          
          &:hover { text-decoration: underline; }
        }

        &.entry {
          float: left;
          width: 100%;
          // width: calc(~'100% - 150px');
        }

        &.time {
          color: @dark-grey;
          float: left;
          width: 150px;
        }
      }
    }
  }
}

.branch__subbranch {
  .list-item(90px);
}

.branch__post {
  .list-item(70px);
}
