ul#nucleus-about-properties,
ul#nucleus-settings-properties {
  .field-value-list();
}

// Moderators
div#nucleus-moderators-list-container {
  ul {
    a {
      li {
        cursor: pointer;
        display: inline-block;
        margin-right: 5px;
        text-align: center;

        div.mod-picture {
          @size: 80px;

          background-position: center;
          background-size: cover;
          border-radius: 3px;
          height: @size;
          margin: 0 auto 5px;
          width: @size;

          .responsive(@screen-sm, {
            @size: 120px;
            height: @size;
            width: @size;
          });

          .responsive(@screen-md, {
            @size: 150px;
            height: @size;
            width: @size;
          });

          &:hover { box-shadow: @shadow-2; }
        }

        span {
          font-size: @font-size-xs;
          font-weight: @font-weight-heavy;

          .responsive(@screen-sm, { font-size: @font-size-sm; });
        }
      }
    }
  }
}

ul#nucleus-modtools-properties {
  li {
    padding: 5px 0;

    span {
      font-size: @font-size-sm;
      font-weight: @font-weight-heavy;

      &.danger { color: @caution-0; }
    }

    &:hover {
      cursor: pointer;

      span { text-decoration: underline; }
    }
  }
}

ul#nucleus-modtools-log {
  li {
    padding: 10px 0;

    div {
      font-size: @font-size-sm;

      a {
        color: @accent-0;
        font-weight: @font-weight-heavy;
        
        &:hover { text-decoration: underline; }
      }

      &.entry {
        float: left;
        width: 100%;
        // width: calc(~'100% - 150px');
      }

      &.time {
        color: @dark-grey;
        float: left;
        width: 150px;
      }
    }
  }
}

.branch__subbranch {
  .list-item(90px);
}

.branch__post {
  .list-item(70px);
}
