.content {
  float: left;
  height: 100%;
  width: 100%;
  transition: transform .3s ease-out;

  > div,
  .content__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  .content__body {
    flex: 1;
    // Needs to be set explicitly to scroll for the scrolling directive to work.
    overflow-y: scroll;
  }

  .content__list {
    overflow: hidden;
    padding: 0 @g-padding-sidebar;

    .content__list-item {
      cursor: pointer;
      display: inline-block;
      margin: @g-padding-sidebar (@g-padding-post / 2);
    }

    .content__list-label {
      display: block;
      font-size: @font-size-xs;
      font-weight: @font-weight-heavy;
      padding-top: 4px;

      .mediaQuery(@screen-sm, {
        font-size: @font-size-sm;
        padding-top: 6px;
      });
    }

    .content__list-link { display: block; }

    .content__list-picture {
      @size: 80px;

      background-position: center;
      background-size: cover;
      border-radius: 3px;
      height: @size;
      width: @size;
      transition: box-shadow .3s;

      .mediaQuery(@screen-sm, {
        @size: 120px;
        height: @size;
        width: @size;
      });

      .mediaQuery(@screen-md, {
        @size: 150px;
        height: @size;
        width: @size;
      });

      &:hover { box-shadow: @shadow-2; }
    }

    & + .content__list { border-top: 1px solid @light-grey; }

    &.style--full-padding { padding: @g-padding-sidebar; }
  }
}