.content {
  float: left;
  height: 100%;
  width: 100%;
  transition: transform .3s ease-out;

  > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  .content__body {
    flex: 1;
    // Needs to be set explicitly to scroll for the scrolling directive to work.
    overflow-y: scroll;
  }

  .content__list {
    overflow: hidden;
    padding: 0 @g-padding-sidebar;
  }
}