.header {
  @button-offset: 4px;
  @dropdown-padding-left: 15px;

  align-items: flex-start;
  background-color: #fff;
  border-bottom: solid 1px @light-grey;
  box-sizing: border-box;
  display: flex;
  height: @header-h;
  overflow-x: auto;
  overflow-y: hidden;
  padding: @g-padding-sidebar (@g-padding-sidebar / 2) 0 10px;

  &.style--fixed,
  &.style--fixed-post {
    left: 0;
    position: fixed;
    top: @navbar-h;
    width: 100%;
    z-index: @z-header;
    transition: @tr;

    @media screen and (max-width: @screen-md) {
      // Important so it overwrites the cover-photo styles.
      &.toggled { transform: translateX(@sidebar-w-sm); }
    }

    .mediaQuery(@screen-md, {
      left: @sidebar-w-md;
      max-width: calc(~'@{s-aligner-md} - @{sidebar-w-md}');
      width: calc(~'100% - @{sidebar-w-md}');
    });

    .mediaQuery(@screen-lg, {
      @align: @s-aligner-lg / 2;
      left: @sidebar-w-lg;
      max-width: calc(~'@{s-aligner-lg} - @{sidebar-w-lg}');
      width: calc(~'100% - @{sidebar-w-lg}');
    });

    .mediaQuery(@screen-xxl, {
      @align: @s-aligner-lg / 2;
      left: calc(~'50% - @{align} + @{sidebar-w-lg}');
      width: 100%;
    });
  }

  &.style--fixed {
    & + .center { padding-top: @header-h; }
  }

  &.style--fixed-post {
    align-items: center;
    height: @header-h-post;
    padding: @g-padding-post 0;

    & + .center { padding-top: @header-h-post; }

    .header__button.style--sidebar-toggle {
      margin: @g-padding-post;
    }

    .mediaQuery(@screen-md, { display: block; });
  }

  .header__button {
    @size: 26px;

    background-image: url('/assets/images/icons/black/add.jpg');
    background-size: cover;
    cursor: pointer;
    display: block;
    height: @size;
    margin-right: @dropdown-padding-left;
    margin-top: @button-offset;
    min-width: @size;
    width: @size;
    transition: transform .2s;

    &.style--sidebar-toggle {
      margin-right: 10px;
      opacity: .3;
      transform: rotateZ(-90deg);

      &.style--toggled { transform: rotateZ(90deg); }

      .mediaQuery(@screen-md, { display: none; });
    }

    &:hover { background-image: url('/assets/images/icons/black/add--hover.jpg'); }
  }

  .header__controls {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: @button-offset;
    overflow-x: auto;
    overflow-y: hidden;

    &.style--has-dropdown {
      margin-left: -@dropdown-padding-left;
      padding-bottom: @g-padding-post / 2;
    }

    &.style--spaced {
      justify-content: space-between;
      width: 100%;
    }
  }

  .header__empty-state {
    color: @dark-grey;
    font-size: @font-size-sm;
    font-style: italic;
    font-weight: @font-weight-normal;
  }

  .header__read-all {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 18px;
    outline: none;
    padding: 0;

    > img {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  .header__subtitle {
    font-size: @font-size-md;
    font-weight: 600;
    position: relative;
  }

  .list-item {
    .list-item(@post-thumbnail-h, @post-thumbnail-w);

    border-bottom: none;
    padding: 0;

    .list-item__votes { margin-left: @g-padding-post; }

    .mediaQuery(@screen-md, {
      .list-item(@post-thumbnail-h-lg, @post-thumbnail-w-lg);

      border-bottom: none;
      padding: 0;
    });
  }

  @media screen and (min-width: @screen-md) {
    padding: @g-padding-sidebar (@g-padding-sidebar / 2) 0 @g-padding-sidebar;
  }
}
