.header {
  @button-offset: 4px;

  align-items: flex-start;
  border-bottom: solid 1px @light-grey;
  display: flex;
  flex-flow: row wrap;
  padding: @g-padding-sidebar @g-padding-sidebar 0;

  .header__button {
    @size: 28px;

    background-image: url('/assets/images/icons/black/add.jpg');
    background-size: cover;
    cursor: pointer;
    display: block;
    height: @size;
    margin-top: @button-offset;
    width: @size;
    transition: transform .2s;

    &.style--sidebar-toggle {
      margin-right: @g-padding-sidebar;
      opacity: .3;
      transform: rotateZ(-90deg);

      &.style--toggled { transform: rotateZ(90deg); }

      .mediaQuery(@screen-md, { display: none; });
    }

    &:hover { background-image: url('/assets/images/icons/black/add--hover.jpg'); }
  }

  .header__controls {
    display: flex;
    flex-direction: row;
    height: 100%;
    // Account for padding in dropdowns...
    margin-top: @button-offset;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .header__empty-state {
    color: @dark-grey;
    font-size: @font-size-sm;
    font-style: italic;
    font-weight: @font-weight-normal;
  }

  .header__subtitle {
    font-size: @font-size-md;
    font-weight: 600;
    position: relative;
  }

  .header__title {
    font-size: @font-size-xl;
    font-weight: 500;
    padding-bottom: @g-padding-post / 2;
    padding-right: @g-padding-post * 2;
    position: relative;
  }
}
