#profile-notifications {
  height: 100%;
  // Needs to be set explicitly to scroll for the scrolling directive to work.
  overflow-y: scroll;
  position: relative;
  width: 100%;
  
  div#empty {
    font-style: italic;
    margin: 10px;
  }

  ul {
    li {
      .notification(40px);
      .responsive(@screen-sm, { .notification(50px); });
      .responsive(@screen-md, { .notification(65px); });
    }
  }
}
