<div
  class="modal__overlay ng-hide"
  ng-show="ModalService.isOpen && ModalService.contentLoaded">
</div>

<form
  class="modal ng-hide"
  ng-show="ModalService.isOpen && ModalService.contentLoaded"
  novalidate>
  <div
    class="modal__content"
    ng-include="ModalService.templateUrl"
    onload="ModalService.contentLoaded = true">
  </div>

  <div class="modal__controls">
    <input
      class="modal__button style--secondary text--uppercase"
      ng-click="ModalService.handleCancel()"
      ng-disabled="ModalService.disabled"
      type="button"
      value="cancel" />
    <input
      class="modal__button style--primary text--uppercase"
      ng-click="ModalService.handleSubmit()"
      ng-disabled="ModalService.disabled"
      type="submit"
      value="ok" />
  </div>
</form>
