<li class="list-item style--card-branch">
  <span class="list-item-index">{{ CardBranch.index + 1 }}</span>
  
  <a
    class="list-item-image"
    ui-sref="weco.branch.wall({ branchid: CardBranch.branch.id })">
    <div style="background-image: url('{{ CardBranch.branch.profileUrlThumb }}'), url('/assets/images/default-branch.jpg');"></div>
  </a>

  <div class="list-item-info">
    <a
     class="list-item__title"
     ui-sref="weco.branch.wall({ branchid: CardBranch.branch.id })">
      {{ CardBranch.branch.name }}
    </a>

    <br />

    <span class="list-item__details">
      <span class="list-item__detail">
        Created by <a class="list-item__detail" ui-sref="weco.profile.about({ username: CardBranch.branch.creator })">{{ CardBranch.branch.creator }}</a> on {{ CardBranch.branch.date | date:'dd MMMM yyyy' }}
      </span>
    </span>
  </div>
</li>
