div#profile-frame {
  div#profile-info.frame-column {
    ul {
      margin-top: 15px;

      li {
        font-size: @font-size-sm;
        font-weight: @font-weight-light;
        padding-bottom: 5px;
        
        span { font-weight: @font-weight-heavy; }
      }
    }
  }

  div.frame-content {
    div#profile-content {
      div.content-header {
        div.content-controls {
          overflow-x: scroll;

          ul.tabs { white-space: nowrap; }

          .responsive(@screen-sm, {
            overflow-x: auto;

            ul.tabs { white-space: normal; }
          });
        }
      }

      div.content-body {
        @import './profile.about.less';
        @import './profile.settings.less';
        @import './profile.notifications.less';
      }
    }
  }
}