div#profile-frame {
  div.frame-content {
    div#profile-content {
      div.content-header {
        div.content-controls {
          overflow-x: scroll;

          ul.tabs { white-space: nowrap; }

          .responsive(@screen-sm, {
            overflow-x: auto;

            ul.tabs { white-space: normal; }
          });
        }
      }

      div.content-body {
        @import './profile.about.less';
        @import './profile.settings.less';
        @import './profile.notifications.less';
      }
    }
  }
}