<!--
<div class="cover-photo" style="height: {{ branch.coverUrl && !isLoading && showCover ? '35%' : '0' }}; background-image: url('{{ branch.coverUrl }}'), url('{{ branch.coverUrlThumb }}')"></div>
<div class="cover-photo" style="height: {{ user.coverUrl && !isLoading && showCover ? '35%' : '0' }}; background-image: url('{{ user.coverUrl }}'), url('{{ user.coverUrlThumb }}')"></div>
-->
<div class="cover-photo" ng-class="{ 'open': isOpen }" style="background-image: url('{{ imageUrl() }}'), url('{{ thumbUrl() }}')">
    <img id="cover-photo-edit" src="/assets/images/icons/black/edit.png" ng-click="openCoverPictureModal()" ng-show="canEdit() && imageUrl()">
    <img id="cover-photo-hide" src="/assets/images/icons/black/hide.png" ng-click="hideCoverPicture()" ng-show="imageUrl() && isOpen">
    <img id="cover-photo-show" src="/assets/images/icons/black/show.png" ng-click="showCoverPicture()" ng-show="imageUrl() && !isOpen">
</div>
