<div
  class="cover-photo"
	ng-class="{ 'closed': !Ctrl.hasUrls() || !Ctrl.WallService.isCoverOpen, 'open': Ctrl.WallService.isCoverOpen && Ctrl.hasUrls() }"
	style="background-image: url('{{ Ctrl.imageUrl() }}'), url('{{ Ctrl.thumbUrl() }}')">
  <img
    alt="Upload new cover photo"
    class="ng-hide"
  	id="cover-photo-edit"
  	ng-click="Ctrl.openUploadCoverModal()"
  	ng-show="Ctrl.canEdit() && Ctrl.imageUrl()"
  	offset-x="-130"
  	offset-y="30"
  	src="/assets/images/icons/edit.svg"
  	text="'Upload New Image'"
  	tooltip />

  <img
    alt="Toggle the cover photo"
    class="cover-photo-toggle ng-hide"
  	ng-click="Ctrl.toggleCoverPicture()"
  	ng-show="Ctrl.imageUrl()"
  	src="/assets/images/icons/show.svg" />
</div>
