<div class="comment" ng-repeat="comment in Thread.comments track by $index">

    <div class="comment-tags">

        <a 
            class="small-circular-thumbnail margin-right-medium"
            ui-sref="weco.profile.about({ username: comment.data.creator })" 
            style="background-image: url('{{ Thread.getUser(comment).profileUrlThumb }}'), url('/assets/images/default-profile.jpg');">
        </a>

        <a
            class="sub-text link margin-right-medium ng-hide"
            ng-show="comment.data.creator !== 'N/A'"
            ui-sref="weco.profile.about({ username: comment.data.creator })">
            {{ comment.data.creator }}
        </a>

        <span class="sub-text margin-right-medium">|</span>

        <span class="sub-text margin-right-medium">{{ Thread.timeSince(comment.date) }}       
            <span class="sub-text margin-right-medium" ng-if="comment.data.edited">(edited)</span>
        </span>

    </div><!--End of "comment-tags"-->

    <div class="comment-text">
        <span class="main-text" marked="comment.data.deleted ? '[Comment removed by the author]' : comment.data.text"></span>
    </div>

    <div class="comment-interact">

        <div class="comment-interact-section">
            <a 
                class="comment-interact-icon heart margin-right-small"
                ng-class="{ 'style--active': comment.userVoted === 'up' }"
                ng-click="Thread.vote(comment, 'up', $event.target)"
                ng-disabled="comment.data.deleted || !Thread.UserService.isAuthenticated()"
                ng-include="'/assets/images/icons/heart-icon.svg'"
                tooltip
                text="'Like comment'"
                offset-y="30">
            </a>
            <a class="sub-text link margin-right-large">{{ comment.individual }} Likes</a>    
        </div>

        <div class="comment-interact-section">
        
            <img
                class="comment-interact-icon margin-right-small"
                ng-click="Thread.openReply(comment, false)"
                src="/assets/images/icons/reply-01.png"/>
    
            <a class="sub-text link margin-right-large" ng-click="Thread.openReply(comment, false)">Reply</a>       

        </div>

        <div class="comment-interact-section">

            <a
                class="sub-text link margin-right-large"
                ng-click="Thread.commentPermalink(comment)"
                tooltip
                text="'Permalink'"
                offset-y="30">
        
                <img
                  class="comment-interact-icon margin-right-small"
                  src="/assets/images/icons/permalink-01.png"/>
        
                <span class="sub-text link margin-right-large">Permalink</span>
        
            </a>

        </div>

        <div class="comment-interact-section">

            <a
                class="sub-text link margin-right-large"
                ng-click="Thread.openReply(comment, true)"
                ng-if="Thread.isOwnComment(comment)"
                tooltip
                text="'Edit'"
                offset-y="30">
        
                <img
                  class="comment-interact-icon margin-right-small"
                  src="/assets/images/icons/edit-01.png"/>
        
                <span class="sub-text link margin-right-large">Edit</span>
        
            </a>

        </div>

        <div class="comment-interact-section">

            <a
                class="sub-text link"
                ng-click="Thread.delete(comment, $index)"
                ng-if="Thread.isOwnComment(comment)"
                tooltip
                text="'Delete'"
                offset-y="30">
        
                <img
                  class="comment-interact-icon margin-right-small"
                  src="/assets/images/icons/delete-01.png"/>
        
                <span class="sub-text link">Delete</span>
        
            </a>

        </div>

    </div><!--End of "comment-interact"-->

    <!--Comment reply input box-->

    <comment-input-box
        ng-if="comment.meta.openReply"
        on-submit="Thread.onSubmitComment.bind(Thread)"
        original-comment-text="comment.data.text"
        parentcomment="comment"
        parentid="{{ comment.id }}"
        placeholder="{{ comment.meta.update ? 'Edit your comment...' : 'Write a reply...' }}"
        postid="{{ comment.postid }}"
        update="comment.meta.update">
    </comment-input-box>
  
    <!--Comment replies-->
  
    <div
        class="comment_reply_new"
        ng-if="comment.comments.length">
        <comment-thread
            comments="comment.comments"
            sort-by="Thread.sortBy">
        </comment-thread>
        <span
            class="comments__text text--uppercase"
            ng-click="Thread.loadMore(comment)"
            ng-if="comment.hasMoreComments">
            load more comments
        </span>
    </div>
  
    </div> <!--End of "Comment body" section-->

</div>