div#nucleus-removemod-modal {
  div#nucleus-removemod-inputs {
    position: relative;
    
    ul {
      li {
        border-bottom: 1px solid $light-grey;
        padding: 10px;

        div {
          display: inline-block;
          vertical-align: middle;

          &.details {
            h2 {
              &.name {
                font-size: $font-size-sm;
                font-weight: $font-weight-heavy;
              }

              &.username {
                font-size: $font-size-sm;
                font-weight: $font-weight-normal;
              }
            }
          }

          &.profile-picture {
            background-position: center;
            background-size: cover;
            border-radius: 3px;
            height: 60px;
            margin-right: 10px;
            width: 60px;
          }
        }

        &:hover {
          background-color: $light-grey;
          cursor: pointer;
        }

        &.selected { background-color: $light-grey; }
      }
    }
  }
}