div#nucleus-reviewsubbranchrequests-modal {
    div#nucleus-reviewsubbranchrequests-inputs {
    position: relative;

    ul {
      li {
        border-bottom: solid 1px $light-grey;
        display: flex;
        height: 80px;
        padding: 10px 0;
        width: 100%;

        a {
          div {
            background-position: center;
            background-size: cover;
            border-radius: 3px;
            height: 80px;
            margin: 0 10px;
            width: 80px;

            &:hover { box-shadow: $shadow-2; }
          }
        }

        div {
          flex: 1;

          &#branch-info {
            padding-right: 15px;

            a {
              span.title {
                display: block;
                font-size: $font-size-md;
                font-weight: $font-weight-heavy;
                white-space: nowrap;

                &:hover { cursor: pointer; }
              }
            }

            div.description {
              float: none;
              font-size: $font-size-sm;
              font-weight: $font-weight-normal;
              white-space: nowrap;

              a {
                color: $accent-0;
                font-weight: $font-weight-heavy;

                &:hover {
                  cursor: pointer;
                  text-decoration: underline;
                }
              }
            }

            div.request-actions {
              display: block;
              float: none;

              div {
                display: inline-block;
                margin: 5px 10px 0 0;
                width: 60px;

                &.request-accept {
                  @include button(#fff, $accent-1, 25px, $accent-0);
                }

                &.request-reject {
                  @include button(#fff, $caution-1, 25px, $caution-0);
                }
              }
            }
          }
        }
      }
    }
  }
}