<div class="modal-content" ng-controller="CreatePostModalController as Ctrl">

    <span class="title-text large" style="margin: 20px 0 30px 0">Create Post</span>

    <!--<span
        class="modal__toggle"
        ng-click="Ctrl.togglePreview()"
        ng-show="Ctrl.isPreviewToggleVisible()">
        {{ Ctrl.preview ? 'Edit' : 'Preview' }}
    </span>-->

    <span class="main-text">
        {{ Ctrl.errorMessage }}
    </span>

    <div class="modal-filters">

        <!--Post type selector-->
        <dropdown class="modal-filter"
            disabled="Ctrl.isLoading || Ctrl.preview"
            items="Ctrl.postType"
            selected="Ctrl.filters.postType.selectedIndex"
            title="Ctrl.filters.postType.title">
        </dropdown>

        <!--NSFW toggle-->
        <div class="modal-filter">

            <div class="modal__checkbox-text" ng-class="{ 'style--disabled': Ctrl.isLoading }">
                <span>NSFW</span>
                <span>{{ Ctrl.post.nsfw ? 'on' : 'off' }}</span>         
            </div>

            <input
                id="checkbox-nsfw"
                class="modal-input"
                ng-disabled="Ctrl.isDisabled()"
                ng-model="Ctrl.post.nsfw"
                type="checkbox" />

            <label class="checkbox" for="checkbox-nsfw"></label>

        </div>

        <!--Lock answers (only visible on polls)-->
        <div class="modal-filter" ng-show="Ctrl.getPostType() === Ctrl.PostTypePoll">

            <div class="modal__checkbox-text" ng-class="{ 'style--disabled': Ctrl.isLoading }">
                <span>lock answers</span>
                <span>{{ Ctrl.post.locked ? 'on' : 'off' }}</span>
            </div>

            <input
                id="checkbox-locked"
                ng-disabled="Ctrl.isDisabled()"
                ng-model="Ctrl.post.locked"
                type="checkbox" />

            <label class="checkbox" for="checkbox-locked"></label>

        </div>

    </div>

    <!--Post image-->
    <div class="create-post-image-container" id="create-post-picture" ng-show="!Ctrl.UploadService.isUploading">
        
        <div
            id="dragdrop"
            class="create-post-image-dragdrop"
            ngf-drag-over-class="'dragover'"
            ngf-drop="setFile($file)"
            ngf-drop-available="dropSupported"
            ngf-fix-orientation="true"
            ngf-hide-on-drop-not-available="false">

                <img
                    alt=""
                    class="create-post-image-placeholder"
                    id="graphic"
                    ng-show="Ctrl.getPostType() !== Ctrl.PostTypeImage"
                    ng-src="{{ '/assets/images/image.png' }}" />

                <div
                    id="image-preview"
                    class="create-post-image"
                    ng-show="Ctrl.getPostType() === Ctrl.PostTypeImage"
                    style="width: 146px; height: 146px; background-size: cover; background-position: center; background-image: url('{{ Ctrl.AppService.getProxyUrl(Ctrl.url) }}'), url('/assets/images/invalid-image-url.jpg')">
                </div>

            <span class="main-text dark-link" ng-show="Ctrl.getPostType() !== Ctrl.PostTypeImage">Drop an image here!</span>

            <div class="create-post-image-preview" id="preview" ngf-background="Ctrl.file || Ctrl.url"></div>

        </div>

        <div
            style="margin: 10px 0; text-align: center;"
            class="main-text dark-link"
            id="choose-file"
            ng-show="Ctrl.getPostType() !== Ctrl.PostTypeImage"
            ngf-accept="'image/*'"
            ngf-fix-orientation="true"
            ngf-select="Ctrl.setFile($file)">
            {{ dropSupported ? 'Or choose from file...' : 'Choose from file...' }}
        </div>

    </div>

    <div class="modal-form create-post">

        <!--Post URL-->
        <input
            class="modal-input"
            ng-disabled="Ctrl.isDisabled()"
            ng-model="Ctrl.post.url"
            ng-show="!Ctrl.UploadService.isUploading && ![Ctrl.PostTypePoll, Ctrl.PostTypeText].includes(Ctrl.getPostType())"
            placeholder="Url"
            type="text" />

        <!--Post title-->
        <input
            class="modal-input"
            ng-disabled="Ctrl.isDisabled()"
            ng-model="Ctrl.post.title"
            placeholder="Title (max 200 characters)"
            type="text" />

        <!--Post description-->
        <textarea class="modal-textarea" rows="5"
            ng-disabled="Ctrl.isDisabled()"
            ng-model="Ctrl.post.text"
            ng-show="!Ctrl.UploadService.isUploading && !Ctrl.preview" 
            placeholder="Describe this post..."
            type="text">
        </textarea>

        <!--Post tags-->
        <tag-editor
            disabled="Ctrl.isDisabled()"
            items="Ctrl.post.branches"
            max="5"
            cols="3"
            title="'Tag another branch, max 5 tags'">
        </tag-editor>

    </div>

    <div class="modal__header-content" ng-show="!Ctrl.UploadService.isUploading"></div>

    <input
        class="captcha"
        name="captcha"
        ng-disabled="Ctrl.isDisabled()"
        ng-model="Ctrl.post.captcha"
        type="text" />

    <!--<div
        id="preview-content"
        marked="Ctrl.post.text"
        ng-show="Ctrl.isPreviewToggleVisible() && Ctrl.preview && Ctrl.post.text">
    </div>-->

    <poll-answer-editor
        answers="Ctrl.post.pollAnswers"
        disabled="Ctrl.isDisabled()"
        ng-show="!Ctrl.UploadService.isUploading && Ctrl.getPostType() === Ctrl.PostTypePoll"
        preview="Ctrl.preview"
        title="Create a new Answer">
    </poll-answer-editor>

    <div id="progress-container" ng-show="Ctrl.UploadService.isUploading">
        <div id="progress" style="width:{{ Ctrl.UploadService.progress }}%"></div>
    </div>

</div>
