<div
  class="modal__content-div"
  ng-controller="CreatePostModalController as Ctrl">
  <h1 class="modal__title">Submit a Post</h1>

  <span
    class="modal__toggle"
    ng-click="Ctrl.togglePreview()"
    ng-show="Ctrl.isPreviewToggleVisible()">
    {{ Ctrl.preview ? 'Edit' : 'Preview' }}
  </span>

  <p class="error-message">
    {{ Ctrl.errorMessage }}
  </p>

  <div class="modal__header">
    <div
      id="create-post-picture"
      ng-show="!Ctrl.UploadService.isUploading">
      <div
        id="dragdrop"
        ngf-drag-over-class="'dragover'"
        ngf-drop="setFile($file)"
        ngf-drop-available="dropSupported"
        ngf-fix-orientation="true"
        ngf-hide-on-drop-not-available="false">
        <img
          alt=""
          id="graphic"
          ng-show="Ctrl.getPostType() !== Ctrl.PostTypeImage"
          ng-src="{{ '/assets/images/image.png' }}" />

        <div
          id="image-preview"
          ng-show="Ctrl.getPostType() === Ctrl.PostTypeImage"
          style="background-image: url('{{ Ctrl.AppService.getProxyUrl(Ctrl.url) }}'), url('/assets/images/invalid-image-url.jpg')">
        </div>

        <h2 ng-show="Ctrl.getPostType() !== Ctrl.PostTypeImage">
          Drop an image here!
        </h2>
		
        <div id="preview" ngf-background="Ctrl.file || Ctrl.url"></div>
      </div>

      <div
        id="choose-file"
        ng-show="Ctrl.getPostType() !== Ctrl.PostTypeImage"
        ngf-accept="'image/*'"
        ngf-fix-orientation="true"
        ngf-select="Ctrl.setFile($file)">
        {{ dropSupported ? 'Or choose from file...' : 'Choose from file...' }}
      </div>
    </div>

    <div
      class="modal__header-content"
      ng-show="!Ctrl.UploadService.isUploading">
      <div class="modal__header">
        <dropdown
          disabled="Ctrl.isLoading || Ctrl.preview"
          items="Ctrl.postType"
          selected="Ctrl.filters.postType.selectedIndex"
          title="Ctrl.filters.postType.title">
        </dropdown>

        <div class="modal__checkbox-wrapper">
          <div
            class="modal__checkbox-text"
            ng-class="{ 'style--disabled': Ctrl.isLoading }">
            <span>
              nsfw
            </span>
            <span>
              {{ Ctrl.post.nsfw ? 'on' : 'off' }}
			  
            </span>
			
          </div>

          <input
            id="checkbox-nsfw"
            ng-disabled="Ctrl.isDisabled()"
            ng-model="Ctrl.post.nsfw"
            type="checkbox" />
          <label class="checkbox" for="checkbox-nsfw"></label>
        </div>

        <div
          class="modal__checkbox-wrapper"
          ng-show="Ctrl.getPostType() === Ctrl.PostTypePoll">
          <div
            class="modal__checkbox-text"
            ng-class="{ 'style--disabled': Ctrl.isLoading }">
            <span>
              lock answers
            </span>
            <span>
              {{ Ctrl.post.locked ? 'on' : 'off' }}
            </span>
          </div>
          <input
            id="checkbox-locked"
            ng-disabled="Ctrl.isDisabled()"
            ng-model="Ctrl.post.locked"
            type="checkbox" />
          <label class="checkbox" for="checkbox-locked"></label>
        </div>
      </div>

      <input
        ng-disabled="Ctrl.isDisabled()"
        ng-model="Ctrl.post.title"
        placeholder="Title (max 200 characters)"
        type="text" />

      <tag-editor
        disabled="Ctrl.isDisabled()"
        items="Ctrl.post.branches"
        max="5"
        title="'Tag another branch, max 5 tags'">
      </tag-editor>
    </div>
  </div>

  <input
    ng-disabled="Ctrl.isDisabled()"
    ng-model="Ctrl.post.url"
    ng-show="!Ctrl.UploadService.isUploading && ![Ctrl.PostTypePoll, Ctrl.PostTypeText].includes(Ctrl.getPostType())"
    placeholder="Url"
    type="text" />

  <textarea
    ng-disabled="Ctrl.isDisabled()"
    ng-model="Ctrl.post.text"
    ng-show="!Ctrl.UploadService.isUploading && !Ctrl.preview" 
    placeholder="Describe this post..."
    type="text">
  </textarea>

  <input
    class="captcha"
    name="captcha"
    ng-disabled="Ctrl.isDisabled()"
    ng-model="Ctrl.post.captcha"
    type="text" />

  <div
    id="preview-content"
    marked="Ctrl.post.text"
    ng-show="Ctrl.isPreviewToggleVisible() && Ctrl.preview && Ctrl.post.text">
  </div>

  <poll-answer-editor
    answers="Ctrl.post.pollAnswers"
    disabled="Ctrl.isDisabled()"
    ng-show="!Ctrl.UploadService.isUploading && Ctrl.getPostType() === Ctrl.PostTypePoll"
    preview="Ctrl.preview"
    title="Create a new Answer">
  </poll-answer-editor>

  <div id="progress-container" ng-show="Ctrl.UploadService.isUploading">
    <div id="progress" style="width:{{ Ctrl.UploadService.progress }}%"></div>
  </div>
</div>
