<ul id="nucleus-settings-properties">
  <li id="change-cover"><span ng-click="openCoverPictureModal()">Change cover photo</span></li>
  <li id="change-picture"><span ng-click="openProfilePictureModal()">Change profile picture</span></li>
  <li><span class="field">Visible Name: </span> <span class="value">{{ branch.name || 'Not Set' }}</span><span class="change-value"> | <span ng-click="openVisibleNameModal()">Change</span></span></li>
  <li><span class="field">Rules &amp; Etiquette: </span> <div class="value" ng-bind-html="addHTMLLineBreaks(branch.rules) || 'Not Set'"></div><span class="change-value"><span ng-click="openRulesModal()">Change</span></span></li>
  <li><span class="field">Description: </span> <div class="value" ng-bind-html="addHTMLLineBreaks(branch.description) || 'Not Set'"></div><span class="change-value"><span ng-click="openDescriptionModal()">Change</span></span></li>
</ul>
