<div id="nucleus-removemod-modal" ng-controller="modalNucleusRemoveModController">
  <h1>Remove a Moderator</h1>
  <p>{{ errorMessage }}</p>
  <div id="nucleus-removemod-inputs">
    <div loading when="isLoading">
      <p ng-show="(!mods || mods.length == 0) && !isLoading">There are no moderators available for removal.<br>Note that you can only remove moderators who became mods after you did.</p>
      <ul>
        <li ng-repeat="mod in mods" ng-click="select(mod)" ng-class="{ 'selected': selectedMod.username == mod.username }">
          <div class="profile-picture" style="background-image: url('{{ mod.profileUrl }}'), url('/assets/images/default-profile.jpg');"></div>
          <div class="details">
            <h2 class="name">{{ mod.firstname }} {{ mod.lastname }}</span>
            <h2 class="username">{{ mod.username }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
