<div class="poll-answer-editor">
  <div class="add-item">
    <input ng-model="newAnswer" placeholder="Create a new Answer" type="text"></input>
    <img src="/assets/images/icons/black/add.png" ng-click="addItem()">
  </div>
  <div class="answers">
    <h2>Answers</h2>
    <ul>
      <p ng-show="answers.length === 0">No answers yet.</p>
      <li ng-repeat="answer in answers">
        <h3>{{ answer }}</h3>
        <img src="/assets/images/icons/black/close.png" ng-click="removeItem(answer)">
      </li>
    </ul>
  </div>
</div>
