<div class="poll-answer-editor">
  <div class="add-item">
    <input
      ng-model="Editor.answer"
      placeholder="{{ Editor.title }}"
      type="text" />
    <img
      alt="{{ Editor.title }}"
      ng-click="Editor.addAnswer()"
      src="/assets/images/icons/plus.svg" />
  </div>
  <div class="answers">
    <h2>Answers</h2>
    <ul>
      <p ng-show="!Editor.answers.length">No answers yet.</p>
      <li ng-repeat="answer in Editor.answers track by $index">
        <h3>{{ answer }}</h3>
        <img
          alt=""
          ng-click="Editor.removeAnswer($index)"
          src="/assets/images/icons/close.svg" />
      </li>
    </ul>
  </div>
</div>
