<li class="list-item">
  <span
    class="list-item-index ng-hide"
    ng-show="ListItem.index >= 0">
    {{ ListItem.index + 1 }}
  </span>
  
  <div
    class="list-item-flags ng-hide"
    ng-click="ListItem.openResolveFlagPostModal()"
    ng-show="ListItem.showFlags()">
    <div ng-include="'/assets/images/icons/flag.svg'"></div>
    <span>{{ ListItem.getTotalFlagCount() }}</span>
  </div>

  <div class="list-item__votes ng-hide" ng-show="ListItem.showVotes()">
    <div
      class="list-item__vote-icon"
      ng-class="{ 'style--active': ListItem.post.userVoted === 'up' }"
      ng-click="ListItem.vote('up', $event.target)"
      ng-include="'/assets/images/icons/arrow-up.svg'">
    </div>

    <p>{{ ListItem.post[ListItem.stat] }}</p>

    <!--
    <img
      alt="Downvote post"
      ng-click="ListItem.vote('down', $event.target)"
      src="/assets/images/icons/black/arrow-down.png" />
    -->
  </div>
  
  <!-- Two DOM elements conditionally displayed if the post is a text type.
       One is to perform internal state transition with uisref. (Text posts)
       One is to link to an external site. (Non-text posts) -->
  <a
    class="list-item-image"
    ng-if="['text', 'poll'].includes(ListItem.post.type)"
    ui-sref="weco.branch.post({ postid: ListItem.post.id })">
    <div style="background-image: url('{{ ListItem.getPostImage() }}')"></div>
  </a>

  <a
    class="list-item-image"
    href="{{ ListItem.getPostUrl() }}"
    ng-if="!['text', 'poll'].includes(ListItem.post.type)"
    target="_blank">
    <div style="background-image: url('{{ ListItem.post.type === 'image' ? ListItem.AppService.getProxyUrl(ListItem.getPostUrl()) : ListItem.getPostImage() }}'), url('/assets/images/placeholders/post--image.svg')"></div>
  </a>
  
  <div class="list-item-nsfw-label ng-hide" ng-show="ListItem.post.nsfw">
    <span class="text--uppercase">nsfw</span>
  </div>

  <div class="list-item-info">
    <span
      class="list-item__circle"
      ng-class="ListItem.getMarkerClass(ListItem.post.type)"
      offset-y="20"
      text="ListItem.post.type | capitalize"
      tooltip>
    </span>

    <!-- Two DOM elements conditionally displayed again - see above. -->
    <a
      class="list-item__title"
      ng-if="['text', 'poll'].includes(ListItem.post.type)"
      ui-sref="weco.branch.post({ postid: ListItem.post.id })">
      {{ ListItem.post.title }}
    </a>

    <a
      class="list-item__title"
      href="{{ ListItem.getPostUrl() }}"
      ng-if="!['text', 'poll'].includes(ListItem.post.type)"
      target="_blank">
      {{ ListItem.post.title }}
    </a>

    <br />
    
    <span>
      <a
        class="list-item__detail style--has-children"
        offset-y="20"
        text="'View post discussion'"
        tooltip
        ui-sref="weco.branch.post.discussion({ postid: ListItem.post.id })">
        <img
          alt="View post discussion"
          class="list-item__detail"
          src="/assets/images/icons/comment.svg" />
        <span>{{ ListItem.post.comment_count }}</span>
      </a>

      <img
        alt="Flag post"
        class="list-item__detail style--icon"
        ng-click="ListItem.openFlagPostModal()"
        ng-hide="ListItem.showFlags()"
        offset-y="20"
        src="/assets/images/icons/flag.svg"
        text="'Flag post'"
        tooltip />

      <img
        alt="Delete post"
        class="list-item__detail style--icon ng-hide"
        ng-click="ListItem.openDeletePostModal()"
        ng-show="ListItem.isOwnPost()"
        offset-y="20"
        src="/assets/images/icons/delete.svg"
        text="'Delete post'"
        tooltip />

      <span class="list-item__separator"></span>

      <a class="list-item__detail" ui-sref="weco.profile.about({ username: ListItem.post.creator })">
        {{ ListItem.post.creator }}
      </a>

      <span class="list-item__separator"></span>

      <a class="list-item__detail" ui-sref="weco.branch.wall({ branchid: ListItem.getOriginalBranches()[0] })">
        b/{{ ListItem.getOriginalBranches()[0] }}
      </a>

      <span
        class="list-item__detail ng-hide"
        ng-show="ListItem.getOriginalBranches().length > 1"
        offset-x="30"
        offset-y="30"
        text="ListItem.getOriginalBranchesTooltipString()"
        tooltip>
        and {{ ListItem.getOriginalBranches().length - 1 }} others
      </span>

      <span class="list-item__separator"></span>

      <span class="list-item__detail">{{ ListItem.DateService.getElapsedTime(ListItem.post.date) }}</span>
    </span>
  </div>
</li>
