<div ng-controller="BranchNucleusSettingsModalController as Ctrl">
  <div loading loading-when="Ctrl.isLoading">
    <h1>
    	Change the Branch {{ Ctrl.ModalService.inputArgs.title }}
    </h1>
    <p class="error-message">
      {{ Ctrl.errorMessage }}
    </p>
    <div id="nucleus-settings-inputs">
      <input
        ng-model="Ctrl.inputValues[$index]"
        ng-repeat="item in Ctrl.ModalService.inputArgs.inputs"
        placeholder="{{ item.placeholder }}"
        type="{{ item.type }}" />
      
      <textarea
        ng-model="Ctrl.textareaValues[$index]"
        ng-repeat="item in Ctrl.ModalService.inputArgs.textareas"
        placeholder="{{ item.placeholder }}">
      </textarea>
    </div>
  </div>
</div>
