ul#nucleus-about-properties {
  .field-value-list();
  margin-bottom: 20px;
}

> div.button {
  display: block;
  margin: auto;
  padding: 10px;
  max-width: 150px;

  .button(white, @button, {
    background-color: @button-focus;
    box-shadow: @shadow-2;
  });
}
