ul#nucleus-settings-properties {
  .field-value-list();
  li {
    &#change-cover span, &#change-picture span {
      font-weight: @font-weight-heavy;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    span.change-value {
      span {
        font-weight: @font-weight-heavy;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
