@primary-dark: #222222;
@primary-light: #444444;
@light-grey: #e7e7e7;
@dark-grey: #b5b3b4;
@text-dark: #2c2c2c;
@button: #92bedb;
@button-focus: #3498db;
@caution: #e74c3c;
@caution-focus: #c0392b;
@success: #2ecc71;
@success-focus: #27ae60;

@post-type-image: #C399E5 ;
@post-type-video: #99C4E4;
@post-type-audio: #9DE599;
@post-type-text: #F3E88E;
@post-type-page: #F6C38E;
@post-type-poll: #FE939B;

@unread: #eff2f7;
@unread-dark: #d8d9de;
