@primary-0: #131313;
@primary-1: #222222;
@primary-2: #2a2a2a;
@primary-3: #2c2c2c;
@primary-4: #444444;
@primary-5: #494949;
@primary-6: #b5b3b4;
@primary-7: #e7e7e7;

@accent-0: #3498db;
@accent-1: #92bedb;
@caution-0: #c0392b;
@caution-1: #e74c3c;
@success-0: #27ae60;
@success-1: #2ecc71;

@post-type-image: #C399E5 ;
@post-type-video: #99C4E4;
@post-type-audio: #9DE599;
@post-type-text: #F3E88E;
@post-type-page: #F6C38E;
@post-type-poll: #FE939B;


// ALIASES
@primary-dark: @primary-1;
@primary-light: @primary-4;
@text-dark: @primary-3;
@nav-lines: @primary-5;
@dark-grey: @primary-6;
@light-grey: @primary-7;

@button-focus: @accent-0;
@button: @accent-1;
@caution-focus: @caution-0;
@caution: @caution-1;
@success-focus: @success-0;
@success: @success-1;

@unread: #eff2f7;
@unread-dark: #d8d9de;
