// Buttons
.button(@color, @background-color, @hover-rules) {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  background-color: @background-color;
  color: @color;

  transition: all 0.3s ease-out;
  &:hover {
    cursor: pointer;
    @hover-rules();
    transition: all 0.3s ease-out;
  }

  span {
    font-size: @font-size-sm;
    font-weight: @font-weight-heavy;
  }
}

// List Items
.list-item(@height) {
  display: flex;
  flex-direction: row;
  height: @height;
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 1px @light-grey;

  span.list-item-index {
    font-size: @font-size-md;
    font-weight: @font-weight-heavy;
    color: @dark-grey;
    line-height: @height;
  }
  a.list-item-image {
    div {
      height: @height;
      width: @height;
      border-radius: 3px;
      margin: 0 10px;
      background-size: cover;
      background-position: center;

      &:hover {
        box-shadow: @shadow-2;
      }
    }
  }
  div.list-item-info {
    flex: 1;
    height: 100%;

    a span.list-item-title {
      display: block;
      font-size: @font-size-sm;
      .responsive(@screen-sm, { font-size: @font-size-md; });
      font-weight: @font-weight-heavy;

      &:hover {
        cursor: pointer;
      }
    }

    span.list-item-description {
      font-size: @font-size-xs;
      .responsive(@screen-sm, { font-size: @font-size-sm; });

      a {
        color: @accent-0;
        font-weight: @font-weight-heavy;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}

// List styles as they appear in e.g. branch nucleus or profile tabs
.field-value-list() {
  > li {
    padding: 5px 0;
    span {
      font-size: @font-size-sm;
      &.field {
        color: @dark-grey;
      }

      &.value a {
        color: @accent-0;
        &:hover {
          text-decoration: underline;
        }
      }

      &.marked-title {
        display: block;
      }
    }
    div.value {
      font-size: @font-size-sm;
      width: 100%;
      &[marked] {
        margin-top: 10px;
        box-sizing: border-box;
        padding-left: 20px;
      }
    }
  }
}
