.responsive(@maxWidth; @rules) {
  @media only screen and (max-width: @maxWidth) {
    @rules();
  }
}

@screen-small: 992px;
@screen-medium: 1200px;
@screen-large: 1600px;
@screen-xlarge: 1920px;


@nav-bar-height: 45px;

@page-margin-thick: 18%;
@page-margin-thin: 10%;
@page-margin-none: 0%;

@nav-column-width-thick: 250px;
@nav-column-width-thin: 200px;
