<div
  id="upload-image-modal"
  ng-controller="UploadImageModalController as UploadImageModal">
  <h1>Upload Image</h1>
  <p class="error-message">
    {{ UploadImageModal.errorMessage }}
  </p>

  <div
    id="dragdrop"
    ng-show="!UploadImageModal.UploadService.isUploading"
    ngf-drag-over-class="'dragover'"
    ngf-drop="UploadImageModal.setFile($file)"
    ngf-drop-available="dropSupported"
    ngf-fix-orientation="true"
    ngf-hide-on-drop-not-available="true"
    ngf-max-size="20MB">
    <img alt="" id="graphic" src="/assets/images/image.png" />
    <h2>Drop an image here!</h2>
    <img alt="" id="preview" ngf-src="UploadImageModal.file" />
  </div>

  <div
    id="choose-file"
    ng-show="!UploadImageModal.UploadService.isUploading"
    ngf-select="UploadImageModal.setFile($file)"
    ngf-fix-orientation="true"
    ngf-accept="'image/*'">
    {{ dropSupported ? 'Or choose from file...' : 'Choose from file...' }}
  </div>

  <div
    id="progress-container"
    ng-show="UploadImageModal.UploadService.isUploading">
    <div
      id="progress"
      style="width:{{ UploadImageModal.UploadService.progress }}%">
    </div>
  </div>
</div>
