ul#alerts {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  z-index: 1000;

  li {
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    min-width: 300px;

    transition: all 0.5s ease-out;
    box-shadow: @shadow3;
    opacity: 1;
    &.ng-hide {
      transition: all 0.5s ease-out;
      box-shadow: none;
      opacity: 0;
    }

    &.error {
      background-color: @caution;
      border: 1px solid @caution-focus;

      span {
        color: #6a0f06;
      }
    }

    &.success {
      background-color: @success;
      border: 1px solid @success-focus;

      span {
        color: #0d532a;
      }
    }

    span {
      font-size: 14px;
      padding-right: 20px;
    }

    img {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      height: 10px;
      width: auto;
      opacity: 0.3;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
