div.cover-photo {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  z-index: 200;
  box-shadow: @shadow-1;
  height: 0;

  &.open {
      height: 35%;
  }

  img {
    position: absolute;
    top: calc(100% + 20px);
    width: 22px;
    height: auto;
    opacity: 0.3;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &#cover-photo-hide, &#cover-photo-show {
      right: 10px;
    }

    &#cover-photo-edit {
      right: 40px;
    }
  }
}

div.cover-frame {
    height: 100%;
    &.coverOpen {
        height: 65%;
    }
}
