ul#alerts {
  left: 15px;
  position: fixed;
  right: 15px;
  top: 60px;
  z-index: 1200;

  .responsive(@screen-sm, {
    left: 50%;
    min-width: 300px;
    right: auto;
    transform: translateX(-50%);
  });

  li {
    align-items: center;
    border-radius: 5px;
    box-shadow: @shadow-3;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10px auto;
    max-width: calc(~'100% - 30px');
    opacity: 1;
    padding: 10px;
    transition: all .5s ease-out;

    img {
      height: 10px;
      opacity: .3;
      width: auto;

      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }

    span {
      flex: 1;
      font-size: @font-size-sm;
      padding-right: 20px;
      white-space: normal;
    }

    &.error {
      background-color: @caution-1;
      border: 1px solid @caution-0;

      span { color: #6a0f06; }
    }
    
    &.ng-hide {
      box-shadow: none;
      opacity: 0;
      transition: all .5s ease-out;
    }

    &.success {
      background-color: @success-1;
      border: 1px solid @success-0;

      span { color: #0d532a; }
    }
  }
}