div.comments {
  > .write-comment {
    textarea {
      box-sizing: border-box;
      font-family: inherit;
      border-radius: 3px;
      padding: 5px 10px;
      font-size: @font-size-sm;
      .responsive(@screen-sm, { font-size: @font-size-md; });
      width: 100%;
      max-width: 100%;
      max-height: 150px;

      &:focus {
        outline: none;
      }
    }

    .button {
      padding: 0 5px;
      &.cancel {
        .button(white, @primary-6, 30px, {
          background-color: @primary-5;
          box-shadow: @shadow-2;
        });
      }
      &.ok {
        .button(white, @accent-1, 30px, {
          background-color: @accent-0;
          box-shadow: @shadow-2;
        });
      }
    }

    &#write-root-comment {
      margin-top: 10px;

      textarea {
        height: 50px;
      }

      .button.cancel {
        display: none;
      }
      .button.ok {
        float: right;
      }
    }
  }

  div.comment {
    position: relative;
    width: 100%;
    padding: 5px 0;

    div.votes {
      position: relative;
      float: left;
      height: 50px;
      .responsive(@screen-md, { height: 65px; });
      min-width: 50px;
      text-align: center;

      img {
        display: block;
        position: absolute;
        width: 18px;
        .responsive(@screen-md, { width: 26px; });
        height: auto;
        left: 12px;
        opacity: 0.3;

        &:first-child {
          top: 0;
        }

        &:last-child {
          bottom: 0;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }

      p {
        margin: 0;
        font-size: @font-size-sm;
      }
    }

    div.data {
      display: inline-block;
      width: calc(~"100% - 55px");

      span.comment-title {
        font-size: @font-size-sm;
        font-weight: @font-weight-light;

        a {
          color: @accent-0;
          font-weight: @font-weight-extra-heavy;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      p.comment-text {
        margin: 0;
        font-size: @font-size-sm;
      }

      ul.comment-controls {
        margin: 10px 0;
        a li, li {
          display: inline-block;
          font-size: @font-size-xs;
          color: @dark-grey;

          padding-right: 10px;
          &:not(:last-of-type) {
            border-right: solid 1px @dark-grey;
          }
          &:not(:first-of-type) {
            padding: 0 10px;
          }


          img {
            height: 16px;
            width: auto;
            opacity: 0.3;
          }
          &:hover img {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }

    div.replies {
      box-sizing: border-box;
      border-left: 1px solid @light-grey;
      margin-left: 14px;
      padding-left: 15px;

      span.load-more {
        display: inline-block;
        font-size: @font-size-xs;
        font-weight: @font-weight-heavy;
        color: @accent-0;
        vertical-align: bottom;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
