div.comments {
  > .write-comment {
    .write-comment();

    &#write-root-comment {
      margin-top: 10px;

      textarea {
        height: 50px;
      }

      .button.cancel {
        display: none;
      }
      .button.ok {
        float: right;
      }
    }
  }

  div.comment {
    .comment(80px);
  }
}
