div.cover-frame {
  height: 100%;
  
  &.coverOpen { height: 65%; }
}

div.cover-photo {
  background-position: center;
  background-size: cover;
  box-shadow: @shadow-1;
  height: @sidebar-w;
  position: relative;
  width: 100%;
  z-index: 1;
  transition: height .4s;

  img {
    height: auto;
    opacity: .3;
    position: absolute;
    top: calc(~'100% + 20px');
    width: 22px;
    transition: transform .2s;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }

    &.cover-photo-toggle { right: 10px; }

    &#cover-photo-edit { right: 40px; }
  }

  &.closed {
    height: 0;
    
    img.cover-photo-toggle { transform: rotateZ(180deg); }
  }

  .mediaQuery(@screen-lg, { height: @sidebar-w-lg; });
}
