div.cover-frame {
  height: 100%;
  
  &.coverOpen { height: 65%; }
}

div.cover-photo {
  background-position: center;
  background-size: cover;
  box-shadow: @shadow-1;
  height: 0;
  position: relative;
  width: 100%;

  img {
    height: auto;
    opacity: .3;
    position: absolute;
    top: calc(~'100% + 20px');
    width: 22px;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }

    &#cover-photo-hide,
    &#cover-photo-show {
      right: 10px;
    }

    &#cover-photo-edit { right: 40px; }
  }

  &.open {
    height: @sidebar-w;
    
    .mediaQuery(@screen-lg, { height: @sidebar-w-lg; });
  }
}