div.cover-frame {
  height: 100%;
  
  &.coverOpen { height: 65%; }
}

div.cover-photo {
  background-position: center;
  background-size: cover;
  box-shadow: @shadow-1;
  position: relative;
  width: 100%;
  z-index: 1;
  transition: height .4s;

  img {
    bottom: 10px;
    height: auto;
    opacity: .5;
    position: absolute;
    width: 30px;
    transition: transform .2s;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &.cover-photo-toggle {
      right: 10px;
      transform: rotateZ(180deg);
    }

    &#cover-photo-edit { right: 40px; }
  }

  &.closed {
    height: 0;
    
    img { transform: translateY(calc(10px + 22px + 10px)); }
    img.cover-photo-toggle { transform: translateY(calc(10px + 22px + 10px)) rotateZ(0); }
  }

  &.open {
    height: @sidebar-w;

    .mediaQuery(@screen-lg, { height: @sidebar-w-lg; });
  }
}
