.dropdown {
  $dropdown-font-size: 11px !default;
  $dropdown-item-vertical-padding: 2px !default;
  $dropdown-list-padding: $s-spacing-sm + $dropdown-item-vertical-padding !default;

  font-size: $dropdown-font-size;
  margin-left: $s-spacing-sm * 1.5;
  position: relative;

  .dropdown__list {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: $dropdown-font-size;
    left: 0;
    max-width: 100%;
    padding-top: $dropdown-list-padding;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 1;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: color $tr-fast;

    &:focus { outline: none; }

    &:disabled {
      color: $c-border-input;
      cursor: initial;

      & + .dropdown__title::before { border-top-color: $c-border-input; }
    }

    &:not(:disabled):hover {
      color: $c-blue;

      & + .dropdown__title {
        color: lighten($c-blue, 30);

        &::before { border-top-color: $c-blue; }
      }
    }
  }

  .dropdown__title {
    color: $c-border-input;
    font-size: $dropdown-font-size;
    font-weight: 400;
    line-height: 1;
    // Vertically aligns dropdown in post votes header.
    margin-bottom: $dropdown-list-padding;
    padding-right: $s-spacing-sm * 2;
    position: relative;
    text-transform: uppercase;
    top: -1px;
    white-space: nowrap;
    transition: color $tr-fast;

    &::before {
      $dropdown-triangle-size: 6px !default;

      border-left: $dropdown-triangle-size solid transparent;
      border-right: $dropdown-triangle-size solid transparent;
      border-top: $dropdown-triangle-size solid $c-text;
      content: '';
      display: block;
      height: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: $dropdown-font-size + $dropdown-list-padding - $dropdown-triangle-size - 1px;
      width: 0;
      transition: border-top-color $tr-fast;
    }
  }

  &.style--horizontal {
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-direction: row-reverse;
    margin: $s-spacing-sm 0;

    .dropdown__list {
      margin-right: $s-spacing-sm * 1.5;
      padding-top: 0;
      position: initial;
    }

    .dropdown__title {
      margin-bottom: 0;
      padding-right: $s-spacing-sm;
      padding-top: 0;
      position: initial;
      top: 0;
      white-space: nowrap;

      &::before { top: round($dropdown-font-size / 2) - 1px; }
    }
  }

  &:first-child { margin-left: 10px; }

  + .header__button { margin-left: $s-spacing-sm; }
}
