div.dropdown {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0 5px;

  div.dropdown-container {
    display: inline-block;
    position: relative;

    ul {
      background-color: #fff;
      border-radius: 3px;
      box-shadow: @shadow-2;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 10;

      li { width: 100%; }
    }
  }

  div.dropdown-item,
  li.dropdown-item {
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    font-size: @font-size-xs;
    padding: 5px 20px 5px 10px;
    position: relative;

    img {
      height: 10px;
      position: absolute;
      right: 5px;
      top: 8px;
      width: auto;
      z-index: 10;
    }

    &:hover {
      background-color: @light-grey;
      cursor: pointer;
    }

    &.selected,
    span.selected {
      font-weight: @font-weight-normal;
    }
  }

  div.dropdown-title {
    display: inline-block;
    padding-left: 10px;

    span {
      color: @dark-grey;
      font-size: 12px;
    }
  }
}