body.modalOpen {
  overflow: hidden;
  position: fixed;
}

div#modal-backdrop {
  background-color: #000;
  height: 100%;
  opacity: 0;
  position: fixed;
  width: 100%;
  z-index: 1100;
  transition: opacity .5s ease-out;
  
  &:not(.ng-hide) {
    opacity: .5;
    transition: opacity .5s ease-out;
  }
}

div#modal-container {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1200;

  &.ng-hide {
    div#modal-content {
      margin-top: 50px;
      opacity: 0;
      transition: all .5s ease-out;
    }
  }

  &:not(.ng-hide) {
    div#modal-content {
      margin-top: 0;
      opacity: 1;
      transition: all .5s ease-out;
    }
  }

  div#modal-content {
    background-color: #fff;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;

    .responsive(@screen-md, {
      border-radius: 8px;
      box-shadow: @shadow-3;
      height: auto;
      left: 50%;
      max-height: 90%;
      max-width: 90%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
    });

    div#modal-content-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
      width: 100%;

      div#modal-buttons {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: flex-end;

        div.button {
          margin-right: 15px;
          width: 80px;

          &.cancel {
            .button(#fff, @primary-6, 26px, {
              background-color: @primary-5;
              box-shadow: @shadow-2;
            });
          }
          
          &.ok {
            .button(#fff, @accent-1, 26px, {
              background-color: @accent-0;
              box-shadow: @shadow-2;
            });
          }

          .responsive(@screen-md, {
            &.cancel {
              .button(#fff, @primary-6, 30px, {
                background-color: @primary-5;
                box-shadow: @shadow-2;
              });
            }
            
            &.ok {
              .button(#fff, @accent-1, 30px, {
                background-color: @accent-0;
                box-shadow: @shadow-2;
              });
            }
          });
        }
      }

      div#modal-injected-content {
        flex: 1;
        overflow-y: scroll;
        padding: 20px;

        > div,
        & {
          position: relative;

          h1 {
            font-size: @font-size-md;
            font-weight: @font-weight-heavy;
            margin-bottom: 15px;
          }

          p.error-message { color: @caution-0; }

          input,
          textarea {
            &:not([type="checkbox"]) {
              border: 1px solid @light-grey;
              border-radius: 3px;
              box-sizing: border-box;
              font-size: @font-size-sm;
              font-weight: @font-weight-light;
              display: block;
              margin: 10px 0;
              max-height: 500px;
              max-width: 100%;
              padding: 10px 15px;
              width: 100%;
            }

            &:focus { outline: none; }
          }
        }
      }
    }
  }
}