nav#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .set-responsively(height, nav-bar-height);
    z-index: 1100;
    overflow-y: visible;
    background: linear-gradient(to bottom, @primary-2, @primary-0);

    .nav-divider-left() {
        &::before {
            content: '';
            display: inline-block;
            height: 100%;
            width: 1px;
            margin: 0 5px;
            background-color: @primary-5;
            vertical-align: middle;
        }
    }
    .nav-divider-right() {
        &::after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 1px;
            margin: 0 5px;
            background-color: @primary-5;
            vertical-align: middle;
        }
    }
    .pseudo-vert-center() {
        &::before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    > div {
        position: relative;
        height: 100%;
        width: calc(~'100% - (2 * @{page-margin-xs})');
        .responsive(@screen-sm, { width: calc(~'100% - (2 * @{page-margin-sm})'); });
        .responsive(@screen-md, { width: calc(~'100% - (2 * @{page-margin-md})'); });
        .responsive(@screen-lg, { width: calc(~'100% - (2 * @{page-margin-lg})'); });
        .responsive(@screen-xl, { width: calc(~'100% - (2 * @{page-margin-xl})'); });
        margin: auto;
        font-size: @font-size-xs;
        font-weight: @font-weight-heavy;

        div#menu {
          display: inline-block;
          height: 100%;
          vertical-align: top;
          transform: translateX(-5px);
          .pseudo-vert-center();
          .responsive(@screen-md, { display: none; });

          img {
            height: 50%;
            width: auto;
            vertical-align: middle;
            opacity: 0.8;
          }
        }

        // WE Cube
        a#wecube img {
          height: calc(~'100% + 14px');
          .responsive(@screen-sm, { height: calc(~'100% + 17px'); });
          width: auto;

          &#animation {
            position: absolute;
          }
        }

        div#nav-controls {
            display: inline-block;
            height: 100%;
            vertical-align: top;
            .pseudo-vert-center();

            a {
                &.selected img,
                &:hover img {
                    opacity: 1;
                }

                img {
                    height: 55%;
                    width: auto;
                    vertical-align: middle;
                    padding: 0 6px;
                    opacity: 0.5;
                }
            }
        }

        div#user-controls {
            position: relative;
            display: inline-block;
            float: right;
            vertical-align: top;
            height: 100%;
            .nav-divider-right();
            &::after {
              margin: 0;
            }
            .pseudo-vert-center();

            a#login, a#signup {
              .nav-divider-left();
              color: @primary-6;

              &:hover {
                  color: white;
              }
            }
            a#signup { margin-right: 10px; }

            a div#notifications {
                position: relative;
                display: inline-block;
                height: 50%;
                width: auto;
                vertical-align: middle;
                opacity: 0.5;

                &.opaque {
                    opacity: 1;
                }

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }

                img {
                    height: 100%;
                    width: auto;
                }

                div#notification-count {
                    position: absolute;
                    top: -4px;
                    right: -3px;
                    min-width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: @caution-1;
                    text-align: center;
                    font-size: 9px;
                    color: white;
                    font-weight: 600;
                    box-sizing: border-box;
                    padding-top: 2px;
                }
            }

            a div#profile {
                position: relative;
                display: inline-block;
                height: 100%;
                .pseudo-vert-center();
                .responsive(@screen-sm, { .nav-divider-left(); });

                &.selected {
                    color: white;
                }

                span.text {
                    vertical-align: middle;
                    color: @primary-6;
                    margin: 0 10px;
                    font-weight: @font-weight-extra-heavy;
                    display: none;
                    .responsive(@screen-sm, { display: inline-block; });

                    &:hover {
                        color: white;
                    }
                }

                div#profile-picture {
                    float: right;
                    .set-responsively(height, nav-bar-height);
                    .set-responsively(width, nav-bar-height);
                    margin-left: 10px;
                    background-position: center;
                    background-size: cover;
                }
            }

            div#expand {
                position: relative;
                display: inline-block;
                height: 100%;

                img {
                    height: 50%;
                    width: auto;
                    vertical-align: middle;
                    opacity: 0.5;
                    margin: 0 7px;

                    &.expanded {
                        opacity: 1;
                    }

                    &:hover {
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }

        ul#nav-menu-items {
            width: 100%;
            box-shadow: @shadow-2;
            background-color: @primary-0;
            padding: 20px 10px 10px 10px;
            z-index: 1000;
            color: white;
            margin-top: -22px;  // required due to overflow of wecube

            .responsive(@screen-md, {
                position: absolute;
                width: auto;
                min-width: 203px;
                right: 0;
                padding: 10px;
            });

            li, a li {
                padding: 5px 10px;

                &#logout {
                    border-radius: 3px;
                    text-transform: uppercase;
                    &:hover {
                        cursor: pointer;
                        background-color: @primary-5;
                    }
                }

                &.followed-branch {
                    &#followed-branch-title {
                        font-weight: @font-weight-normal;
                    }
                    &:not(#followed-branch-title) {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
