.nav-divider-left() {
  &::before {
    background-color: @primary-5;
    content: '';
    display: inline-block;
    height: 100%;
    margin: 0 5px;
    vertical-align: middle;
    width: 1px;
  }
}

.nav-divider-right() {
  &::after {
    background-color: @primary-5;
    content: '';
    display: inline-block;
    height: 100%;
    margin: 0 5px;
    vertical-align: middle;
    width: 1px;
  }
}

.pseudo-vert-center() {
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.navbar {
  background: linear-gradient(to bottom, @primary-2, @primary-0);
  height: @navbar-h;
  left: 0;
  overflow-y: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: @z-navbar;

  > .content {
    font-size: @font-size-xs;
    font-weight: @font-weight-extra-heavy;
    height: 100%;
    margin: 0 auto;
    position: relative;
    //width: calc(~'100% - (2 * @{page-margin-xs})');

    max-width: 1200px;
    width: 100%;

    //.responsive(@screen-sm, { width: calc(~'100% - (2 * @{page-margin-sm})'); });
    .responsive(@screen-md, { width: ~'calc(100% - 64px)'; });
    //.responsive(@screen-lg, { width: calc(~'100% - (2 * @{page-margin-lg})'); });
    //.responsive(@screen-xl, { width: calc(~'100% - (2 * @{page-margin-xl})'); });

    > .logo {
      //....
    }

    div#menu {
      display: inline-block;
      height: 100%;
      transform: translateX(-5px);
      vertical-align: top;
      .pseudo-vert-center();
      .responsive(@screen-md, { display: none; });

      img {
        height: 50%;
        opacity: .8;
        vertical-align: middle;
        width: auto;
      }
    }

    // WE Cube
    a#wecube {
      img {
        height: calc(~'100% + 14px');
        width: auto;
        .responsive(@screen-sm, { height: calc(~'100% + 17px'); });

        &#animation { position: absolute; }
      }
    }

    div#nav-controls {
      display: inline-block;
      height: 100%;
      vertical-align: top;
      .pseudo-vert-center();

      a {
        img {
          height: 55%;
          opacity: .5;
          padding: 0 6px;
          vertical-align: middle;
          width: auto;
        }

        &.selected,
        &:hover {
          img { opacity: 1; }
        }
      }
    }

    div#user-controls {
      display: inline-block;
      float: right;
      height: 100%;
      position: relative;
      vertical-align: top;
      
      .pseudo-vert-center();
      .nav-divider-right();

      a {
        div#notifications {
          display: inline-block;
          height: 50%;
          opacity: .5;
          position: relative;
          vertical-align: middle;
          width: auto;

          div#notification-count {
            background-color: @caution-1;
            border-radius: 50%;
            box-sizing: border-box;
            color: #fff;
            font-size: 9px;
            font-weight: 600;
            height: 18px;
            min-width: 18px;
            padding-top: 2px;
            position: absolute;
            right: -3px;
            text-align: center;
            top: -4px;
          }

          img {
            height: 100%;
            width: auto;
          }

          &.opaque { opacity: 1; }

          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }

        div#profile {
          display: inline-block;
          height: 100%;
          position: relative;
          .pseudo-vert-center();
          .responsive(@screen-sm, { .nav-divider-left(); });

          div#profile-picture {
            background-position: center;
            background-size: cover;
            float: right;
            margin-left: 10px;
            .set-responsively(height, nav-bar-height);
            .set-responsively(width, nav-bar-height);
          }

          span.text {
            color: @primary-6;
            display: none;
            font-weight: @font-weight-extra-heavy;
            margin: 0 10px;
            vertical-align: middle;
            .responsive(@screen-sm, { display: inline-block; });

            &:hover { color: #fff; }
          }

          &.selected { color: #fff; }
        }
      }

      div#expand {
        display: inline-block;
        height: 100%;
        position: relative;

        img {
          height: 50%;
          margin: 0 7px;
          opacity: .5;
          vertical-align: middle;
          width: auto;

          &.expanded { opacity: 1; }

          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }

      a#login,
      a#signup {
        color: @primary-6;
        .nav-divider-left();

        &:hover { color: #fff; }
      }

      a#signup { margin-right: 10px; }

      &::after { margin: 0; }
    }

    ul#nav-menu-items {
      background-color: @primary-0;
      box-shadow: @shadow-2;
      color: #fff;
      margin-top: -22px;  // required due to overflow of wecube
      padding: 20px 10px 10px 10px;
      width: 100%;
      z-index: 1000;

      .responsive(@screen-md, {
        min-width: 203px;
        padding: 10px;
        position: absolute;
        right: 0;
        width: auto;
      });

      li,
      a li {
        padding: 5px 10px;

        &#logout {
          border-radius: 3px;
          text-transform: uppercase;
          
          &:hover {
            background-color: @primary-5;
            cursor: pointer;
          }
        }

        &.followed-branch {
          &#followed-branch-title { font-weight: @font-weight-normal; }
          &:not(#followed-branch-title):hover { text-decoration: underline; }
        }
      }
    }
  }

  .mediaQuery(@screen-sm, { height: @navbar-h-lg; });
}