.notification {
  > .notification-index {
    @margin: 12px;

    align-items: center;
    color: @dark-grey;
    display: flex;
    font-size: @font-size-md;
    font-weight: @font-weight-heavy;
    margin-left: @margin;
    margin-right: @margin;
  }
}
