.side {
  background-color: $c-white;
  height: $s-vh-has-navbar;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  // Why 30px? That's the new cover photo height (140px) - new sidebar info height (80px)
  // divided by 2.
  padding: 30px $s-spacing;
  pointer-events: none;
  position: fixed;
  top: $s-navbar-h;
  width: $s-sidebar-w;
  z-index: $z-sidebar;
  transition: $tr, height $tr-normal;

  * { pointer-events: initial; }

  .side__info {
    color: $c-text-secondary;
    display: flex;
    font-family: $f-serif;
    font-size: 13px;
    font-weight: 400;
  }

  .side__info-button {
    background-color: $c-blue;
    border: none;
    border-radius: 2px;
    color: $c-white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: $s-spacing / 2;
    padding: 5px $s-spacing;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    transition: background-color $tr-sonic;

    &:hover { background-color: lighten($c-blue, 10); }
  }

  .side__info-col {
    // 
  }

  .side__info-icon {
    display: block;
    height: $s-sidebar-info-icon;
    margin-right: $s-spacing-sm / 2;
    width: $s-sidebar-info-icon;
  }

  .side__info-row {
    display: flex;
    width: 100%;
  }

  .side__picture {
    background-color: $c-placeholder-image;
    display: block;
    height: $s-sidebar-pic;
    margin-right: $s-spacing-sm;
    width: $s-sidebar-pic;
  }

  @media screen and (max-width: $q-md) {
    transform: translateX(-100%);

    & + .header.style--fixed.toggled { transform: translateX($s-sidebar-w); }
    &.toggled { transform: translateX(0); }
  }

  @media screen and (min-width: $s-aligner-lg) {
    $offset-lg: $s-aligner-lg / 2;
    left: calc(50% - #{$offset-lg});
  }
}
