ul.tabs {
  display: inline-block;
  a {
    li {
      display: inline-block;
      padding: 4px 10px;
      min-width: 60px;
      text-align: center;

      &.selected {
        border-bottom: solid 2px black;

        span {
          font-weight: @font-weight-heavy;
        }
      }

      span {
        font-size: @font-size-xs;
        text-transform: uppercase;
      }
    }
  }
}
