ul.tabs {
  display: inline-block;
  position: relative;

  .tabs__item {
    border-bottom: solid 2px transparent;
    color: @primary-7;
    display: inline-block;
    min-width: 60px;
    text-align: center;

    span { font-size: @font-size-xs; }

    &.selected {
      border-bottom-color: #000;
      color: @primary-3;

      span { font-weight: @font-weight-extra-heavy; }
    }

    &:not(.selected):hover {
      border-bottom-color: rgba(0, 0, 0, .3);
    }
  }
  
  .tabs__link {
    display: block;
    padding: 4px 10px;
  }

  &.style--border { border-bottom: solid 1px @primary-8; }
}
