ul.tabs {
  border-bottom: 1px solid grey;
  display: inline-block;
  
  a {
    li {
      border-bottom: solid 2px transparent;
      display: inline-block;
      min-width: 60px;
      padding: 4px 10px;
      text-align: center;

      span {
        font-size: @font-size-xs;
        text-transform: uppercase;
      }

      &.selected {
        border-bottom-color: #000;

        span { font-weight: @font-weight-extra-heavy; }
      }
    }
  }
}
