div.tag-editor {
  position: relative;
  width: 100%;

  div.add-item {
    height: 100%;
    position: relative;
    width: 100%;

    img {
      height: 20px;
      position: absolute;
      right: 10px;
      top: calc(~'50% - 15px');
      width: auto;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  div.tagged-items {
    max-width: 100%;

    div.tagged-item {
      background-color: @primary-light;
      border-radius: 3px;
      box-sizing: border-box;
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 4px;
      padding: 2px 10px;
      word-wrap: break-word;

      img {
        height: 10px;
        opacity: .6;
        vertical-align: middle;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }

      span {
        color: #fff;
        font-size: @font-size-sm;
        line-height: 2;
        padding-right: 10px;
        vertical-align: middle;
      }
    }
  }

  input {
    border: 1px solid @light-grey;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: @font-size-sm;
    font-weight: @font-weight-light;
    margin: 10px 0;
    padding: 10px 15px;
    text-transform: lowercase;
    width: 100%;
  }

  p {
    color: @caution-0;
    font-size: @font-size-sm;
    font-style: italic;
    margin: 0;
  }
}
