#weco-root {
  height: 100%;
  width: 100%;

  .full-page {
    height: 100%;
    width: 100%;

    &.full-page-nav {
      height: calc(~'100vh - @{navbar-h}');
      overflow: hidden;
      padding-top: @navbar-h;
      position: relative;
      width: 100%;
    }
  }

  .page {
    background-color: @primary-8;
    width: 100%;

    &.cover-page {
      overflow: auto;
      position: relative;
    }

    > div.frame {
      background-color: #fff;
      height: 100%;
      margin: auto;
      max-width: @s-content-max-w;
      overflow: hidden;
      position: relative;
      width: 100%;

      // What's 64px?
      .mediaQuery(@screen-xxl, { width: ~'calc(100% - 64px)'; });
    }
  }
}
