// Global variables.
@g-padding-sidebar: 20px;

.hidden { display: none; }
.text--capitalize { text-transform: capitalize; }
.text--center { text-align: center; }
.text--lowercase { text-transform: lowercase; }
.text--uppercase { text-transform: uppercase; }
