[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}

.text--capitalize {
  text-transform: capitalize;
}

.text--lowercase {
  text-transform: lowercase;
}

.text--uppercase {
  text-transform: uppercase;
}