<li class="list-item">
  
<!--Post number/rank on wall-->
  
  <span
    class="list-item-index ng-hide"
    ng-show="ListItem.index >= 0">
    {{ ListItem.index + 1 }}
  </span>
  
<!--Number of flags
Only visible if post is being viewed in the 'Flagged Posts' section of a branch Nucleus-->

  <div
    class="list-item-flags ng-hide"
    ng-click="ListItem.openResolveFlagPostModal()"
    ng-show="ListItem.showFlags()">
    <div ng-include="'/assets/images/icons/flag.svg'"></div>
    <span>{{ ListItem.getTotalFlagCount() }}</span>
  </div>

<!--Upvote Button-->

  <div class="list-item__votes ng-hide" ng-show="ListItem.showVotes()">
    <button
      class="list-item__vote-icon"
      ng-class="{ 'style--active': ListItem.post.userVoted === 'up' }"
      ng-click="ListItem.vote('up', $event.target)"
      ng-disabled="!ListItem.UserService.isAuthenticated()"
      ng-include="'/assets/images/icons/arrow-up.svg'">
    </button>

    <p>{{ ListItem.post[ListItem.stat] }}</p>

<!--Down-Vote Button [Removed in 2017?]
    
    <img
      alt="Downvote post"
      ng-click="ListItem.vote('down', $event.target)"
      src="/assets/images/icons/black/arrow-down.png" />-->

  </div>

<!--Post Thumbnail Image
Two DOM elements conditionally displayed depending on whether href link is to an internal or external url:
If 'text' or 'poll' post that links to another page on Weco (perform internal state transition with uisref)-->

  <a
    class="list-item-image"
    ng-href="{{ ListItem.getPostTarget(ListItem.post) }}"
    ng-if="['text', 'poll'].includes(ListItem.post.type)">
    <div style="background-image: url('{{ ListItem.getPostImage() }}')"></div>
  </a>

<!--If 'page', 'video', 'image', or 'audio' post that links to an external URL-->

  <a
    class="list-item-image"
    href="{{ ListItem.getPostUrl() }}"
    ng-if="!['text', 'poll'].includes(ListItem.post.type)"
    target="_blank">
    <div style="background-image: url('{{ ListItem.post.type === 'image' ? ListItem.AppService.getProxyUrl(ListItem.getPostUrl()) : ListItem.getPostImage() }}'), url('/assets/images/placeholders/post--image.svg')"></div>
  </a>

<!--NSFW Label
Only displays if post has been marked as 'Not Safe For Work'-->

  <div class="list-item-nsfw-label ng-hide" ng-show="ListItem.post.nsfw">
    <span class="text--uppercase">nsfw</span>
  </div>

  <div class="list-item-info">

<!--Post Type Marker
Coloured circles representing different post types (Image, Video, Audio, Text, Page, Poll). Could be updated to symbols in the future.-->

    <span
      class="list-item__circle"
      ng-class="ListItem.getMarkerClass(ListItem.post.type)"
      offset-y="20"
      text="ListItem.post.type | capitalize"
      tooltip>
    </span>

<!--Post Tile
Two DOM elements conditionally displayed again (see above):
If 'text' or 'poll' post that links to another page on Weco (perform internal state transition with uisref)-->

    <a
      class="list-item__title"
      ng-href="{{ ListItem.getPostTarget(ListItem.post) }}"
      ng-if="['text', 'poll'].includes(ListItem.post.type)">
      {{ ListItem.post.title }}
    </a>

<!--If 'page', 'video', 'image', or 'audio' post that links to an external URL-->
    
    <a
      class="list-item__title"
      href="{{ ListItem.getPostUrl() }}"
      ng-if="!['text', 'poll'].includes(ListItem.post.type)"
      target="_blank">
      {{ ListItem.post.title }}
    </a>

    <br />
    
    <span>
      
<!--Comments Button
Includes comment icon and number of comments, both of which link to the posts comment thread-->

      <a
        class="list-item__detail style--has-children"
        offset-y="20"
        text="'View post discussion'"
        tooltip
        ui-sref="weco.branch.post.discussion({ postid: ListItem.post.id })">
        <img
          alt="View post discussion"
          class="list-item__detail"
          src="/assets/images/icons/comment.svg" />
        <span>{{ ListItem.post.comment_count }}</span>
      </a>

<!--Flag Post Button-->
      
      <img
        alt="Flag post"
        class="list-item__detail style--icon"
        ng-click="ListItem.openFlagPostModal()"
        ng-hide="ListItem.showFlags() || !ListItem.UserService.isAuthenticated()"
        offset-y="20"
        src="/assets/images/icons/flag.svg"
        text="'Flag post'"
        tooltip />

<!--Delete Post Button-->

      <img
        alt="Delete post"
        class="list-item__detail style--icon ng-hide"
        ng-click="ListItem.openDeletePostModal()"
        ng-show="ListItem.isOwnPost()"
        offset-y="20"
        src="/assets/images/icons/delete.svg"
        text="'Delete post'"
        tooltip />

<!--Divider Line-->

      <span class="list-item__separator"></span>

<!--Post Creator-->

      <a class="list-item__detail" ui-sref="weco.profile.about({ username: ListItem.post.creator })">
        {{ ListItem.post.creator }}
      </a>

      <span class="list-item__separator"></span>

<!--Tagged Branches-->

      <a class="list-item__detail" ui-sref="weco.branch.wall({ branchid: ListItem.getOriginalBranches()[0] })">
        b/{{ ListItem.getOriginalBranches()[0] }}
      </a>

      <span
        class="list-item__detail ng-hide"
        ng-show="ListItem.getOriginalBranches().length > 1"
        offset-x="30"
        offset-y="30"
        text="ListItem.getOriginalBranchesTooltipString()"
        tooltip>
        and {{ ListItem.getOriginalBranches().length - 1 }} others
      </span>

<!--Divider Line-->

      <span class="list-item__separator"></span>

<!--Post Date-->

      <span class="list-item__detail">{{ ListItem.DateService.getElapsedTime(ListItem.post.date) }}</span>
    </span>
  </div>
</li>
