<li class="post">

    <div class="post-index">

        <div class="post-index-content">

            <div class="post-index-content-padding">

                <span class="post-index-text">{{ ListItem.index + 1 }}</span>

            </div>

        </div>

    </div>
    <!--end of "post-index"-->

    <div class="post-body">

        <div class="post-tags">

            <a class="small-circular-thumbnail margin-right-medium" ui-sref="weco.profile.about({ username: ListItem.post.creator })" style="background-image: url('{{ListItem.getUser(ListItem.post.creator).profileUrlThumb}}'), url('/assets/images/default-profile.jpg');">
            </a>

            <a class="sub-text link margin-right-medium" href="">{{ ListItem.post.creator }}</a>

            <span class="sub-text margin-right-medium">to</span>

            <a class="sub-text link margin-right-medium" ui-sref="weco.branch.wall({ branchid: ListItem.getOriginalBranches()[0] })">{{ ListItem.getOriginalBranches()[0] }}</a>

            <span class="sub-text margin-right-medium">and</span>
            
            <span
                class="sub-text link margin-right-medium ng-hide"
                ng-show="ListItem.getOriginalBranches().length > 1"
                offset-x="0"
                offset-y="0"
                text="ListItem.getOriginalBranchesTooltipString()"
                tooltip>
                {{ ListItem.getOriginalBranches().length - 1 }} others
            </span>

            <span class="sub-text margin-right-medium">|</span>

            <div class="post-date">

                <span class="sub-text margin-right-medium">{{ ListItem.DateService.getElapsedTime(ListItem.post.date) }}</span>

                <span class="post-type-marker" ng-class="ListItem.getMarkerClass(ListItem.post.type)" text="ListItem.post.type | capitalize" tooltip></span>

            </div>

        </div>
        <!--end of "post-tags"-->

        <div class="post-content">

            <div class="post-image-container">

                <!--<a
                    class="post-image"
                    style="background-image: url('/images/post-images/post-image-01.jpg'), url('/images/post-images/post-image-00.svg');"
                    href="">
                </a>-->

                <a class="post-image" 
                    ng-href="{{ ListItem.getPostTarget(ListItem.post) }}" 
                    ng-if="['text', 'poll'].includes(ListItem.post.type)" 
                    style="background-image: url('{{ ListItem.getPostImage() }}')">
                </a>

                <!--If 'page', 'video', 'image', or 'audio' post that links to an external URL-->
                <a class="post-image" 
                    href="{{ ListItem.getPostUrl() }}" 
                    ng-if="!['text', 'poll'].includes(ListItem.post.type)" 
                    target="_blank" 
                    style="background-image: url('{{ ListItem.post.type === 'image' ? ListItem.AppService.getProxyUrl(ListItem.getPostUrl()) : ListItem.getPostImage() }}'), url('/assets/images/placeholders/post--image.svg')">
                </a>

            </div>

            <div class="post-info">

                <!--If 'text' or 'poll' post that links to another page on Weco (perform internal state transition with uisref)-->

                <div class="post-title">
                    <a class="title-text" ng-href="{{ ListItem.getPostTarget(ListItem.post) }}" ng-if="['text', 'poll'].includes(ListItem.post.type)">
                        {{ ListItem.post.title }}
                    </a>
                </div>

                <!--If 'page', 'video', 'image', or 'audio' post that links to an external URL-->

                <div class="post-title">
                    <a class="title-text" href="{{ ListItem.getPostUrl() }}" ng-if="!['text', 'poll'].includes(ListItem.post.type)" target="_blank">
                        {{ ListItem.post.title }}
                    </a>
                </div>

                <div class="post-description">
                    <span class="main-text">{{ ListItem.post.text }}</span>
                </div>

                <div class="post-interact">

                    <!--Likes-->

                    <div class="post-interact-section">

                        <a class="post-interact-icon margin-right-small" ng-class="{ 'style--active': ListItem.post.userVoted === 'up' }" ng-click="ListItem.vote('up', $event.target)" ng-disabled="!ListItem.UserService.isAuthenticated()" ng-include="'/assets/images/icons/heart-icon.svg'"
                            text="'Like post'"></a>

                        <a class="sub-text link margin-right-large">{{ ListItem.post[ListItem.stat] }} Likes</a>

                    </div>

                    <!--Comments-->

                    <div class="post-interact-section" ui-sref="weco.branch.post.discussion({ postid: ListItem.post.id })">

                        <a class="post-interact-icon margin-right-small" href="" style="background-image: url(/assets/images/icons/comment-01.png)"></a>

                        <a class="sub-text link margin-right-large" href="">{{ ListItem.post.comment_count }} Comments</a>

                    </div>

                    <div class="post-interact-section" ng-click="ListItem.openRePostModal()" ng-hide="!ListItem.UserService.isAuthenticated()">
                        <a class="post-interact-icon margin-right-small" href="" style="background-image: url(/assets/images/icons/repost-06.png)"></a>
                        <a class="sub-text link margin-right-large" href="">Repost</a>
                    </div>

                    <div class="post-interact-section" ng-click="ListItem.openFlagPostModal()" ng-hide="ListItem.showFlags() || !ListItem.UserService.isAuthenticated()">
                        <a class="post-interact-icon margin-right-small" href="" style="background-image: url(/assets/images/icons/flag-01.png)"></a>
                        <a class="sub-text link margin-right-large" href="">Flag</a>
                    </div>

                    <div class="post-interact-section" ng-show="ListItem.isOwnPost()" ng-click="ListItem.openDeletePostModal()">
                        <a class="post-interact-icon margin-right-small" href="" style="background-image: url(/assets/images/icons/delete-01.png)"></a>
                        <a class="sub-text link" href="">Delete</a>
                    </div>

                </div>
                <!--End of "post-interact"-->

            </div>
            <!--End of "post-info"-->

        </div>
        <!--End of "post-content"-->

    </div>
    <!--End of "post-body"-->

</li>