ul#profile-about-properties {
  li {
    text-align: center;
    padding: 5px 0;
    span {
      font-size: 14px;
      font-weight: 400;

      &.field {
        color: @dark-grey;
      }
    }
  }
}
