<ul class="branch__list content__list style--full-padding">
  <li class="branch__item">
  	<a
      class="link-text"
      ng-click="Profile.openCoverPictureModal()">
      Change cover photo
    </a>
  </li>

  <li class="branch__item">
  	<a
      class="link-text"
      ng-click="Profile.openProfilePictureModal()">
        Change profile picture
    </a>
  </li>
  
  <li class="branch__item">
  	<span class="main-text">
      <span class="main-text">Name:</span> {{ ProfileSettings.UserService.user.name }} | <a class="link-text" ng-click="ProfileSettings.openNameModal()">Change</a>
    </span>
  </li>
  
  <li class="branch__item">
  	<span class="branch__text">
      <span class="branch__text style--dark">Email:</span> {{ ProfileSettings.UserService.user.email }} | <span class="branch__text branch__link" ng-click="ProfileSettings.openEmailModal()">Change</span>
    </span>
  </li>
  
  <li class="branch__item">
  	<span class="branch__text">
      <span class="branch__text style--dark">DOB:</span> {{ ProfileSettings.UserService.user.dob | date:'dd MMMM yyyy' || 'Not Set' }} | <span class="branch__text branch__link" ng-click="ProfileSettings.openDOBModal()">Change</span>
    </span>
  </li>
  
  <li class="branch__item">
  	<span class="branch__text style--dark">
      Display NSFW posts:
    </span>

    <input
      id="checkbox-nsfw"
      ng-change="ProfileSettings.updateNSFW()"
      ng-model="ProfileSettings.UserService.user.show_nsfw"
      type="checkbox" />
    <label class="checkbox" for="checkbox-nsfw"></label>
  </li>
</ul>
