<nav id="nav-bar">
  <div>
    <a id="wecube" ui-sref="weco.home" ng-click="NavBar.triggerAnimation()">
      <img id="animation" ng-src="{{ NavBar.animationSrc }}">
      <img src="/assets/images/nav-logo.png">
    </a>

    <div id="nav-controls">
      <a ui-sref="weco.branch.nucleus.about({ branchid: 'root' })" ng-class="{ 'selected' : NavBar.isControlSelected('nucleus') }">
        <img src="/assets/images/icons/white/nucleus.png" tooltip text="'Global Nucleus'" offset-y="40">
      </a>
      <a ui-sref="weco.branch.subbranches({ branchid: 'root' })" ng-class="{ 'selected' : NavBar.isControlSelected('subbranches') }">
        <img src="/assets/images/icons/white/branch.png" tooltip text="'Root Branches'" offset-y="40">
      </a>
      <a ui-sref="weco.branch.wall({ branchid: 'root' })" ng-class="{ 'selected' : NavBar.isControlSelected('wall') }">
        <img src="/assets/images/icons/white/wall.png" tooltip text="'Global Wall'" offset-y="40">
      </a>
    </div>

    <div id="user-controls">
      <a id="login" ui-sref="auth.login" ng-show="!NavBar.UserService.isAuthenticated()">
        <span class="text">Log In</span>
      </a>
      <a id="signup" ui-sref="auth.signup" ng-show="!NavBar.UserService.isAuthenticated()">
        <span class="text">Sign up</span>
      </a>
      <a ui-sref="weco.profile.notifications({ username: NavBar.UserService.isAuthenticated() })" ng-show="NavBar.UserService.isAuthenticated()">
        <div id="notifications" ng-show="NavBar.UserService.isAuthenticated()" ng-class="{ 'opaque': NavBar.notificationCount > 0 }">
          <img src="assets/images/icons/white/notification.png">
          <div id="notification-count" ng-show="NavBar.showNotificationCount()">
            <span>{{ NavBar.notificationCount > 9 ? '9+' : NavBar.notificationCount }}</span>
          </div>
        </div>
      </a>
      <a ui-sref="weco.profile.about({ username: NavBar.UserService.user.username })" ng-show="NavBar.UserService.isAuthenticated()">
        <div id="profile" ng-class="{ 'selected' : NavBar.isControlSelected('profile') }">
          <span class="text">{{ NavBar.UserService.user.username }}</span>
          <div id="profile-picture" style="background-image: url('{{ NavBar.UserService.user.profileUrlThumb }}'), url('/assets/images/default-profile.jpg');"></div>
        </div>
      </a>
      <div id="expand" ng-show="NavBar.UserService.isAuthenticated()">
        <img src="assets/images/icons/white/nav-expand.png" ng-click="NavBar.toggleNav()" ng-class="{ 'expanded': NavBar.expanded }">
      </div>
    </div>
    <ul id="nav-menu-items" ng-show="NavBar.expanded">
      <li id="logout" ng-click="NavBar.logout()">
        <span>Log Out</span>
      </li>
      <li ng-show="NavBar.followedBranches.length > 0" id="followed-branch-title" class="followed-branch">
        <span>Following:</span>
      </li>
      <a ui-sref="weco.branch.wall({ branchid: branch })">
        <li ng-show="NavBar.followedBranches.length > 0" class="followed-branch" ng-repeat="branch in NavBar.followedBranches">
          <span>b/{{ branch }}</span>
        </li>
      </a>
    </ul>
  </div>
</nav>
