<div id="nucleus-update-homepage-stats-modal" ng-controller="modalNucleusUpdateHomepageStatsController">
  <div loading when="isLoading">
    <h1>Update Homepage Stats</h1>
    <p class="error-message">{{ errorMessage }}</p>
    <div id="nucleus-update-homepage-stats-inputs">
      <p>Amount Given to Charity (£)</p>
      <input ng-model="stats.donation_total" type="text"></input>
      <p>Amount Raised (£)</p>
      <input ng-model="stats.raised_total" type="text"></input>
    </div>
  </div>
</div>
