$c-black: #000 !default;
$c-white: #fff !default;

// Components.
$c-navbar-bg: #111 !default;
$c-navbar-text: #b3b3b3 !default;

$c-badge: #f53a27 !default;

// Helpers.
$c-border: #494949 !default;
