$s-badge: 18px !default;

// Auth.
$s-auth-card-max-w: 440px !default;
$s-auth-logo: 62px !default;
$s-auth-input-h: 44px !default;
$s-auth-input-w: 280px !default;

// Navbar.
$s-navbar-h: 44px !default;
$s-navbar-icon: 25px !default;
$s-navbar-logo: 62px !default;
$s-navbar-search-h: 28px !default;
$s-navbar-search-icon: 14px !default;

$s-spacing: 16px !default;
$s-padding-post: 12px !default;

// Sidebar.
$sidebar-w-sm: 201px !default;
$sidebar-w-md: $sidebar-w-sm !default;
$sidebar-w-lg: 249px !default;

// Beta sidebar.
$s-sidebar-w: 250px !default;

$s-content-max-w: 1011px !default;
$s-aligner-sm: $sidebar-w-sm + $s-content-max-w !default;
$s-aligner-md: $sidebar-w-md + $s-content-max-w !default;
$s-aligner-lg: $sidebar-w-lg + $s-content-max-w !default;

$s-vh-has-navbar: calc(100vh - #{$s-navbar-h});
