<!--<div class="sticky-header">-->   <!--Add/remove this div to prevent the left-side-bar from sticking to the nav-bar when users scroll down the screen-->
<div class="left-side-bar">

    <div class="side-bar-header sticky-header">

        <div 
            class="side-bar-flag-image-small"
            style="background-image: url('/assets/images/branch-images/branch-image-01.jpg'), url('/assets/images/branch-images/branch-image-00.jpg');"> <!--background-image: linear-gradient(141deg, #966dd8 0%,#2cb5e8 75%);"-->
        </div>

        <div class="side-bar-header-padding">

            <a class="main-text" href="">Parent branch /</a>

            <a class="title-text" href="">Branch name</a>

        </div>

    </div>

    <div 
        class="side-bar-flag-image-large"
        style="background-image: url('/assets/images/branch-images/branch-image-01.jpg'), url('/assets/images/branch-images/branch-image-00.jpg');"> <!--background-image: linear-gradient(141deg, #966dd8 0%,#2cb5e8 75%);"-->
    </div>

    <div class="side-bar-followers">

        <a class="main-text" style="font-size: 15px" href="/branch-followers.html"><b>6</b> Followers</a>

        <div class="overlapping-thumbnails">

            <a 
                class="small-circular-thumbnail" 
                style="background-image: url('/assets/images/user-images/user-image-04.jpg'), url('/assets/images/user-images/user-image-00.jpg'); z-index: 7"
                href="/branch-followers.html">
            </a>

            <a 
                class="small-circular-thumbnail" 
                style="background-image: url('/assets/images/user-images/user-image-05.jpg'), url('/assets/images/user-images/user-image-00.jpg'); position: relative; left: -15px; z-index: 6"
                href="/branch-followers.html">
            </a>

            <a 
                class="small-circular-thumbnail" 
                style="background-image: url('/assets/images/user-images/user-image-06.jpg'), url('/assets/images/user-images/user-image-00.jpg'); position: relative; left: -30px; z-index: 5"
                href="/branch-followers.html">
            </a>
            
        </div><!--End of "overlapping-thumbnails"-->

    </div><!--End of "followers-link"-->

    <div class="side-bar-description">
        <span class="main-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, blanditiis id temporibus tempore consequuntur ut quasi, amet nemo beatae similique.</span>
    </div>

    <div class="side-bar-links">

        <!--<div class="side-bar-link">
            <a class="icon-padding small" href="" title="Follow">
                <img class="icon grey" src="/assets/images/icons/follow-01.jpg">
            </a>
            <a class="link-text" href="" title="Follow">Follow</a>
        </div>-->

        <div class="side-bar-link">
            <a class="icon-padding small" href="/branch-settings.html" title="Settings">
                <img class="icon grey" src="/assets/images/icons/settings-01.png">
            </a>
            <a class="link-text" href="/branch-settings.html" title="Settings">Settings</a>
        </div>

        <div class="side-bar-link">
            <a class="icon-padding small" href="/branch-about.html" title="About">
                <img class="icon grey" src="/assets/images/icons/about-01.png">
            </a>
            <a class="link-text" href="/branch-about.html" title="About">About</a>
        </div>

        <div class="side-bar-link">
            <a class="icon-padding small" href="/branch-wall.html" title="Wall">
                <img class="icon grey" src="/assets/images/icons/wall-05.png">
            </a>
            <a class="link-text" href="/branch-wall.html" title="Wall">Wall</a>
        </div>

        <div class="side-bar-link">
            <a class="icon-padding small" href="/branches.html" title="Branches">
                <img class="icon grey" src="/assets/images/icons/node-01.png">
            </a>
            <a class="link-text" href="/branches.html" title="Branches">Branches</a>
        </div>

    </div><!--end of "side-bar-buttons"-->

    <div class="side-bar-child-branches">

        <div class="side-bar-child-branch">
            <a 
                class="small-circular-thumbnail margin-right-large" 
                style="background-image: url('/assets/images/branch-images/branch-image-02.jpg'), url('/assets/images/branch-images/branch-image-00.jpg');"
                href="">
            </a>
            <a class="link-text" href="">Child branch 01</a>                      
        </div>

        <div class="side-bar-child-branch">
            <a 
                class="small-circular-thumbnail margin-right-large" 
                style="background-image: url('/assets/images/branch-images/branch-image-03.jpg'), url('/assets/images/branch-images/branch-image-00.jpg');"
                href="">
            </a>
            <a class="link-text" href="">Child branch 02</a>                    
        </div>

        <div class="side-bar-child-branch">
            <a 
                class="small-circular-thumbnail margin-right-large" 
                style="background-image: url('/assets/images/branch-images/branch-image-04.jpg'), url('/assets/images/branch-images/branch-image-00.jpg');"
                href="">
            </a>
            <a class="link-text" href="">Child branch 03</a>                      
        </div>

        <div class="side-bar-child-branch">
            <a 
                class="small-circular-thumbnail margin-right-large" 
                style="background-image: url('/assets/images/branch-images/branch-image-05.jpg'), url('/assets/images/branch-images/branch-image-00.jpg');"
                href="">
            </a>
            <a class="link-text" href="">Child branch 04</a>                    
        </div>

        <div class="side-bar-child-branch">
            <a 
                class="small-circular-thumbnail margin-right-large" 
                style="background-image: url('/assets/images/branch-images/branch-image-06.jpg'), url('/assets/images/branch-images/branch-image-00.jpg');"
                href="">
            </a>
            <a class="link-text" href="">Child branch 05</a>                      
        </div>

    </div><!--end of "side-bar-child-branches"-->

</div>

<!--</div>-->   <!--Add/remove to prevent whole left-side-bar from sticking to top bar on scroll-->