<a
  ng-click="NotificationService.markAsRead(index)"
  ui-sref="weco.profile.about({ username: notification.data.username })">
  {{ notification.data.username === UserService.user.username ? 'you' : notification.data.username }}
</a>
<span>
  submitted a parent branch request on behalf of
</span>
<a
  ng-click="NotificationService.markAsRead(index)"
  ui-sref="weco.branch.nucleus.about({ branchid: notification.data.childid })">
  b/{{ notification.data.childid }}
</a>
<span>
  to
</span>
<a
  ng-click="NotificationService.markAsRead(index)"
  ui-sref="weco.branch.nucleus.about({ branchid: notification.data.parentid })">
  b/{{ notification.data.parentid }}
</a>
