<a class="main-text link"
  ng-click="NotificationService.markAsRead(index)"
  ui-sref="weco.profile.about({ username: notification.data.username })">
  {{ notification.data.username === UserService.user.username ? 'you' : notification.data.username }}
</a>

<span class="sub-text">
  removed a
</span>

<a class="main-text link"
  ng-click="NotificationService.markAsRead(index)"
  ui-sref="weco.branch.post({ branchid: notification.data.branchid, postid: notification.data.postid })">
  post
</a>

<span class="sub-text">
  from
</span>

<a class="main-text link"
  ng-click="NotificationService.markAsRead(index)"
  ui-sref="weco.branch.nucleus.about({ branchid: notification.data.branchid })">
  b/{{ notification.data.branchid }}
</a>

<span class="sub-text">
  {{ reasonString() }}, stating:
</span>

<span class="main-text">
  {{ notification.data.message }}
</span>
