<div id="resolve-flag-post-modal" ng-controller="modalResolveFlagPostController">
  <div id="resolve-flag-post-modal-content" loading when="isLoading">
    <h1>Review Post</h1>
    <p>{{ errorMessage }}</p>
    <p>This post has:</p>
    <ul id="flag-list">
      <li>{{ post.wrong_type_count }} flag{{ post.wrong_type_count != 1 ? 's' : '' }} for an incorrect content tag</li>
      <li>{{ post.branch_rules_count }} flag{{ post.branch_rules_count != 1 ? 's' : '' }} for violating branch rules</li>
      <li>{{ post.site_rules_count }} flag{{ post.site_rules_count != 1 ? 's' : '' }} for violating site rules</li>
    </ul>
    <p>Available actions:</p>
    <dropdown title="''" items="resolveItems" selected="selectedResolveItemIdx"></dropdown>
    {{ selectedResolveItemIdx == 0 ? 'to' : (selectedResolveItemIdx == 1 ? 'for' : '') }}
    <dropdown ng-show="selectedResolveItemIdx == 0" title="''" items="postTypeItems" selected="selectedPostTypeItemIdx"></dropdown>
    <dropdown ng-show="selectedResolveItemIdx == 1" title="''" items="reasonItems" selected="selectedReasonItemIdx"></dropdown>
    <textarea ng-show="selectedResolveItemIdx == 1" type="text" ng-model="text.reason" placeholder="Explanation for removal (sent to OP)..."></textarea>
    <p class="info" ng-show="selectedResolveItemIdx == 1 && selectedReasonItemIdx == 0">Note: Please check the <a ui-sref="weco.branch.nucleus.about({ branchid: post.branchid })" ng-click="close()">branch rules</a> first.</p>
    <p class="info" ng-show="selectedResolveItemIdx == 1 && selectedReasonItemIdx == 1">Note: Please check the <a>site rules</a> first.</p>
    <p ng-show="selectedResolveItemIdx == 2">This will remove all flags from this post.</p>
  </div>
</div>
