div#flag-post-modal {
  position: relative;
  div#flag-post-modal-content {
    min-width: 350px;

    p.info {
      font-size: 14px;

      a {
        font-weight: 500;
        color: @button-focus;
        text-decoration: underline;
      }
    }
  }
}
