div#nucleus-update-homepage-stats-modal {
  div#nucleus-update-homepage-stats-inputs {
    position: relative;
    div {
      min-width: 300px;
      min-height: 50px;
      max-width: 600px;
      max-height: 400px;
      p {
        margin: 0;
        font-style: italic;
      }
      input {
        display: inline-block;
        width: 100%;
        min-width: 300px;
        max-width: 100%;
        max-height: 300px;
        box-sizing: border-box;
        padding: 10px 15px;
        margin: 10px 0;
        border-radius: 3px;
        border: 1px solid @light-grey;
        font-size: 16px;
        font-weight: 300;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
