div#nucleus-removemod-modal {
  div#nucleus-removemod-inputs {
    position: relative;
    div[loading] {
      min-width: 300px;
      min-height: 50px;
      ul {
        max-height: 300px;
        overflow-y: scroll;
        
        li {
          padding: 10px;
          border-bottom: 1px solid @light-grey;

          &:hover {
            cursor: pointer;
            background-color: @light-grey;
          }

          &.selected {
            background-color: @light-grey;
          }

          div {
            display: inline-block;
            vertical-align: middle;

            &.profile-picture {
              width: 60px;
              height: 60px;
              background-size: cover;
              background-position: center;
              border-radius: 3px;
              margin-right: 10px;
            }

            &.details {
              h2 {
                &.name {
                  font-weight: 500;
                  font-size: 16px;
                }

                &.username {
                  font-weight: 400;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
