div#nucleus-reviewsubbranchrequests-modal {
  div#nucleus-reviewsubbranchrequests-inputs {
    position: relative;
    div[loading] {
      min-width: 300px;
      min-height: 50px;
      ul {
        max-height: 300px;
        overflow-y: scroll;

        li {
          height: 80px;
          width: 100%;
          padding: 10px 0;
          border-bottom: solid 1px @light-grey;

          a {
            div {
              float: left;
              height: 80px;
              width: 80px;
              border-radius: 3px;
              margin: 0 10px;
              background-size: cover;
              background-position: center;

              &:hover {
                box-shadow: @shadow2;
              }
            }
          }
          div {
            float: left;
            height: 100%;

            &#branch-info {
              padding-right: 15px;
              
              a span.title {
                display: block;
                font-size: 20px;
                font-weight: 500;

                &:hover {
                  cursor: pointer;
                }
              }

              div.description {
                float: none;
                font-size: 14px;
                font-weight: 400;

                a {
                  color: @button-focus;
                  font-weight: 500;

                  &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                  }
                }
              }


              div.request-actions {
                display: block;
                float: none;
                div {
                  display: inline-block;
                  height: 25px;
                  width: 60px;
                  margin: 5px 10px 0 0;
                  text-align: center;
                  border-radius: 3px;
                  color: #fff;

                  span {
                    line-height: 25px;
                    font-size: 12px;
                    font-weight: 500;
                  }

                  &.request-accept {
                    background-color: @button;
                    transition: all 0.3s ease-out;

                    &:hover {
                      cursor: pointer;
                      background-color: @button-focus;
                      transition: all 0.3s ease-out;
                    }
                  }

                  &.request-reject {
                    background-color: @caution;
                    transition: all 0.3s ease-out;

                    &:hover {
                      cursor: pointer;
                      background-color: @caution-focus;
                      transition: all 0.3s ease-out;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
