div#upload-image-modal {
  min-width: 200px;

  div#dragdrop {
    width: 100%;
    min-width: 300px;
    text-align: center;
    box-sizing: border-box;
    padding: 25px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: @light-grey;

    transition: border 0.3s linear;
    border: 1px dashed transparent;
    &.dragover {
      border: 1px dashed @primary-light;
      transition: border 0.3s linear;
    }

    // ngAnimate is slow so ensure hidden when animating for fast ng-show
    &.ng-hide.ng-hide-animate {
       display: none !important;
    }

    h2 {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 15px;
    }

    img {

      &#graphic {
        width: 110px;
        height: auto;
      }

      &#preview {
        display: block;
        max-width: 50%;
        max-height: 200px;
        height: auto;
        margin: auto;
        border-radius: 5px;
      }
    }
  }

  div#choose-file {
    margin-top: 10px;
    color: @button-focus;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }

    // ngAnimate is slow so ensure hidden when animating for fast ng-show
    &.ng-hide.ng-hide-animate {
       display: none !important;
    }
  }

  div#progress-container {
    min-width: 300px;
    width: 100%;
    height: 40px;
    border: 1px solid @dark-grey;
    border-radius: 3px;

    div#progress {
      height: 100%;
      background-color: @button-focus;
    }

    // ngAnimate is slow so ensure hidden when animating for fast ng-show
    &.ng-hide.ng-hide-animate {
       display: none !important;
    }
  }
}
