<div class="central-panel-header-section hide-scroll-bars">

    <!--Toggle Sidebar Button (hidden when screen width > 1000px)-->
    <a class="side-bar-toggle-button" ng-click="Branch.toggleSidebarNew()">
        <img   
            id="toggle-button"
            alt="Toggle sidebar"
            class="icon toggle-out"
            src="/assets/images/icons/toggle-02.png"/>
    </a>
    
    <!--Large Create Post Button (hidden when screen width < 900px)-->
    <!--<a id="create-post-button" class="create-post-button-large">
        <text class="primary-button-text">Create Post</text>
    </a>-->

    <a class="create-post-button-large"
        ng-click="Ctrl.WallService.handleHeaderButtonClick()"
        ng-show="Ctrl.WallService.isHeaderButtonVisible()"
        text="Ctrl.WallService.getHeaderButtonTooltip()">

        <text class="primary-button-text">Create Branch</text>

    </a>

    <!--Small Create Post Button (hidden when screen width > 900px)-->
    <a id="create-post-button" class="create-post-button-small" ng-click="Ctrl.WallService.handleHeaderButtonClick()">
            <img src="assets/images/icons/add-01.png" class="icon" style="filter: invert(100%);">
    </a>

    <div class="local-search-bar">
        
            <!--<input class="local-search-bar-input" placeholder="Search wall..." type="text">-->

        <input class="local-search-bar-input"
            id="searchField"
            ng-blur="Ctrl.SearchService.hide();"
            ng-focus="Ctrl.SearchService.show()" 
            ng-keydown="Ctrl.handleKeyPress($event)"
            ng-model="Ctrl.query"
            placeholder="Search branches..."
            type="text">

            <ul class="search-results box-shadow" ng-show="Ctrl.SearchService.isVisible">
                <li class="search-item" ng-repeat="result in Ctrl.results" ng-click="Ctrl.search(result.text);">{{result.text}}</li>                    
            </ul>
        
        <img class="local-search-bar-button" src="/assets/images/icons/search-01.png">
    
    </div>

    <!--Toggle Filters Button (hidden when screen width > 700px)-->
    <a class="toggle-filters-button" ng-click="Branch.toggleFilters()">
        <img src="/assets/images/icons/filter-07.png" class="icon" style="filter: invert(100%);">
    </a>

</div>

<div class="wall-filters hide-scroll-bars">

    <dropdown
        items="Ctrl.timeRange"
        selected="Ctrl.controls.timeRange.selectedIndex"
        title="Ctrl.controls.timeRange.title">
    </dropdown>

    <dropdown
        items="Ctrl.sortBy"
        selected="Ctrl.controls.sortBy.selectedIndex"
        title="Ctrl.controls.sortBy.title">
    </dropdown>

</div>