ul#nucleus-about-properties {
  .field-value-list();
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

> div.button {
  .button(#fff, @accent-1, 30px, {
    background-color: @accent-0;
    box-shadow: @shadow-2;
  });
  
  display: block;
  margin: auto;
  max-width: 150px;
  padding: 10px;
}