div#nucleus-flagged-posts {
  display: flex;
  flex-direction: column;
  height: 100%;

  div.content-body {
    overflow-y: visible;
    ul#post-list {
      li.list-item {
        .list-item(70px);
      }
    }
  }
}
