div#nucleus-modtools-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  ul#nucleus-modtools-properties {
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;

    li {
      padding: 5px 0;

      span {
        font-size: @font-size-sm;
        font-weight: @font-weight-heavy;

        &.danger { color: @caution-0; }

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  ul#nucleus-modtools-log {
    box-sizing: border-box;
    flex: 1;
    position: relative;

    div {
      h2 { font-size: @font-size-md; }

      h3 {
        color: @dark-grey;
        font-size: @font-size-sm;
        font-style: italic;
        font-weight: @font-weight-normal;
        margin-top: 10px;
      }

      li {
        padding: 10px 0;

        div {
          font-size: @font-size-sm;

          a {
            color: @accent-0;
            font-weight: @font-weight-heavy;
            
            &:hover { text-decoration: underline; }
          }

          &.entry {
            float: left;
            width: calc(~'100% - 150px');
          }

          &.time {
            color: @dark-grey;
            float: left;
            width: 150px;
          }
        }
      }
    }
  }
}