<div class="tab-page">
    
    <div class="tab-page-section min-height-30">
        <a
            class="main-text link"
            ng-click="BranchNucleusSettings.openModal('profile-picture')">
            Change flag image
        </a>
    </div>
    
    <div class="tab-page-section min-height-30">
        <a
            class="main-text link"
            ng-click="BranchNucleusSettings.openModal('cover-picture')">
            Change cover photo
        </a>
    </div>

    <div class="tab-page-section min-height-30">
        <span class="main-text">
            <span class="sub-text">Visible Name:</span>
            {{ BranchNucleusSettings.BranchService.branch.name || 'Not Set' }} | 
            <span class="main-text link" ng-click="BranchNucleusSettings.openModal('visible-name')">Change</span>
        </span>
    </div>

    <div class="tab-page-section min-height-30">
        <span class="sub-text margin-right-small">Rules &amp; Etiquette: </span>
        <span class="main-text margin-right-small" marked="BranchNucleusSettings.BranchService.branch.rules || 'Not Set |'"></span>
        <span class="main-text link" ng-click="BranchNucleusSettings.openModal('rules')">Change</span>
    </div>

    <div class="tab-page-section min-height-30">
        <span class="sub-text margin-right-small">Description:</span>
        <span class="main-text margin-right-small" marked="BranchNucleusSettings.BranchService.branch.description || 'Not Set |'"></span>
        <span class="main-text link" ng-click="BranchNucleusSettings.openModal('description')">Change</span>
    </div>

</div>