div#create-post-modal {
  position: relative;
  div[loading] {
    div#create-post-picture {
      float: left;
      width: 150px;
      margin-right: 15px;

      div#dragdrop {
        position: relative;
        width: 150px;
        height: 150px;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: @light-grey;

        transition: border 0.3s linear;
        border: 1px dashed transparent;
        &.dragover {
          border: 1px dashed @primary-light;
          transition: border 0.3s linear;
        }

        // ngAnimate is slow so ensure hidden when animating for fast ng-show
        &.ng-hide.ng-hide-animate {
           display: none !important;
        }

        img#graphic {
          display: block;
          width: 80%;
          height: auto;
          margin: 5px auto 0 auto;
          border-radius: 5px;
        }
        div#image-preview {
          width: 100%;
          height: 100%;
          margin: auto;
          border-radius: 5px;
          background-position: center;
          background-size: cover;
        }

        h2 {
          font-size: @font-size-sm;
          font-weight: @font-weight-light;
          margin-bottom: 15px;
        }

        div#preview {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-size: cover;
          background-position: center;
          border-radius: 5px;
        }
      }
      div#choose-file {
        margin: 10px 0 20px 0;
        font-size: @font-size-sm;
        color: @accent-0;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }

        // ngAnimate is slow so ensure hidden when animating for fast ng-show
        &.ng-hide.ng-hide-animate {
           display: none !important;
        }
      }
    }
    div#create-post-inputs {
      float: left;
      width: calc(~"100% - 165px");

      .dropdown {
        display: inline-block;
        .dropdown-title {
          padding-left: 0;
        }
      }

      label#nsfw-checkbox, label#locked-checkbox {
        font-size: @font-size-sm;
        color: @dark-grey;

        input {
          vertical-align: middle;
          margin-left: 10px;
        }
      }
    }

    div#preview-content {
      width: 100%;
      max-height: 300px;
      box-sizing: border-box;
      padding: 0 15px;
      overflow-y: scroll;
    }

    p#preview-post {
      font-size: @font-size-sm;
      color: @accent-0;
      margin: 0;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    div#progress-container {
      min-width: 300px;
      width: 100%;
      height: 40px;
      border: 1px solid @dark-grey;
      border-radius: 3px;

      div#progress {
        height: 100%;
        background-color: @accent-0;
      }

      // ngAnimate is slow so ensure hidden when animating for fast ng-show
      &.ng-hide.ng-hide-animate {
         display: none !important;
      }
    }
  }
}
