.full-page.dark-bg {
  background: @primary-light;
  background: radial-gradient(@primary-light, @primary-dark);
  overflow-y: scroll;
  text-align: center;

  > .logo {
    @logo-s: 60px;

    display: block;
    height: @logo-s;
    margin: auto;
    padding: 30px 0 20px;
    width: @logo-s;

    .responsive(@screen-md, {
      @logo-s: 100px;

      height: @logo-s;
      padding: 60px 0 40px;
      width: @logo-s;
    });

    img {
      height: 100%;
      width: 100%;
    }
  }

  form {
    padding: 0 15px;

    input {
      border: none;
      border-radius: 3px;
      box-sizing: border-box;
      display: block;
      font-size: @font-size-sm;
      font-weight: @font-weight-normal;
      margin: 10px auto;
      max-width: 400px;
      padding: 10px;
      width: 100%;
      
      .responsive(@screen-md, {
        font-size: @font-size-md;
        padding: 15px;
      });

      &[type="text"],
      &[type="email"],
      &[type="password"] {
        background-color: @light-grey;
        color: @text-dark;
      }

      &[type="submit"] {
        background-color: @accent-1;
        color: #fff;
        font-size: @font-size-md;
        font-weight: 500;
        transition: all .3s ease-out;
        
        .responsive(@screen-md, {
          font-size: @font-size-lg;
        });

        &:hover {
          background-color: @accent-0;
          box-shadow: @shadow-2;
          cursor: pointer;
          letter-spacing: 3px;
        }
      }

      &[disabled] {
        background-color: @dark-grey;

        &:hover {
          background-color: @dark-grey;
          box-shadow: none;
          cursor: auto;
          letter-spacing: normal;
        }
      }

      &:focus { outline: none; }
    }
  }
  
  h1 {
    color: #fff;
    font-size: @font-size-md;
    font-weight: @font-weight-light;
    letter-spacing: 8px;
    margin-bottom: 20px;

    .responsive(@screen-md, {
      font-size: @font-size-lg;
      margin-bottom: 40px;
    });
  }

  p {
    color: #fff;
    font-size: @font-size-sm;
    font-weight: @font-weight-light;
    
    .responsive(@screen-md, {
      font-size: @font-size-md;
    });

    a,
    &#resend-verification {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}