$primary-0: #131313 !default;
$primary-1: #222222 !default;
$primary-2: #2a2a2a !default;
$primary-3: #2c2c2c !default;
$primary-4: #444444 !default;
$primary-5: #494949 !default;
$primary-6: #b3b3b3 !default;
$primary-7: #c8c8c8 !default;
$primary-8: #e7e7e7 !default;
$primary-9: #d7d7d7 !default;
$primary-9: #d9d9d9 !default;
$primary-10: #ebebeb !default;

$accent-0: #3498db !default;
$accent-1: #92bedb !default;
$caution-0: #c0392b !default;
$caution-1: #e74c3c !default;
$success-0: #27ae60 !default;
$success-1: #2ecc71 !default;

$post-type-image: #C399E5 !default;
$post-type-video: #99C4E4 !default;
$post-type-audio: #9DE599 !default;
$post-type-text: #F3E88E !default;
$post-type-page: #F6C38E !default;
$post-type-poll: #FE939B !default;

$chart-0: #9ac2e5 !default;
$chart-1: #4684c1 !default;
$chart-2: #96c483 !default;
$chart-3: #389978 !default;
$chart-4: #70cdd4 !default;
$chart-5: #227692 !default;
$chart-6: #7174ab !default;
$chart-7: #2c4a6e !default;

// ALIASES
$primary-dark: $primary-1 !default;
$primary-light: $primary-4 !default;
$text-dark: $primary-3 !default;
$nav-lines: $primary-5 !default;
$dark-grey: $primary-7 !default;
$light-grey: $primary-8 !default;

$notification-unread: #eff2f7 !default;
$notification-unread-dark: #d8d9de !default;

$c-primary: $accent-0 !default;
