<div class="header">
  <img
    alt="Toggle sidebar"
    class="header__button style--sidebar-toggle"
    ng-class="{ 'style--toggled': Navbar.AppService.isSidebarOpen }"
    ng-click="Navbar.AppService.toggleSidebar()"
    src="/assets/images/icons/black/show.png" />

  <h1 class="header__title text--capitalize">
    {{ Subbranches.BranchService.branch.id === 'root' ? 'root ' : 'child ' }}branches
  </h1>

  <a
    class="header__button ng-hide"
    ng-click="Subbranches.WallService.handleHeaderButtonClick()"
    ng-show="Subbranches.WallService.isHeaderButtonVisible()"
    offset-y="40"
    text="Subbranches.WallService.getHeaderButtonTooltip()"
    tooltip>
  </a>

  <div class="header__controls style--has-dropdown">
    <dropdown
      items="Subbranches.controls.timeRange.items"
      selected="Subbranches.controls.timeRange.selectedIndex"
      title="time range">
    </dropdown>

    <dropdown
      items="Subbranches.controls.sortBy.items"
      selected="Subbranches.controls.sortBy.selectedIndex"
      title="sort by">
    </dropdown>
  </div>
</div>

<div
  class="content__body"
  loading
  loading-when="Subbranches.isLoading && Subbranches.branches.length === 0">
  <ul
    class="content__list"
    ng-if="Subbranches.branches.length > 0">
    <li
      branch="subbranch"
      card-branch
      class="branch__subbranch"
      index="$index"
      ng-repeat="subbranch in Subbranches.branches track by $index">
    </li>
  </ul>

  <div
    class="text--center"
    ng-if="Subbranches.branches.length === 0">
    <p class="branch__empty-title">
      There don't seem to be any child branches attached to this branch that match the current filter settings
    </p>
    <img
      alt="Empty state icon"
      class="branch__empty-icon"
      src="/assets/images/empty-state.jpg" />
    <p class="branch__empty-text">
      To attach a new branch: <br>
      Click the 'Add New Content' button (+) above and create a new branch. <br>
      <span class="text--italic">or</span><br>
      Submit a 'Parent Branch Request' from the Mod Tools section in the Nucleus of a branch you already moderate.
    </p>
  </div>
</div>
