<div id="create-post-modal" ng-controller="modalCreatePostController">
  <h1>Submit a Post</h1>
  <p>{{ errorMessage }}</p>
  <div loading when="isLoading" class="clearfix">
    <div id="create-post-picture" ng-show="!isUploading">
      <div id="dragdrop"
           ngf-drop="setFile($file)" ngf-drag-over-class="'dragover'" ngf-drop-available="dropSupported"
           ngf-hide-on-drop-not-available="false" ngf-fix-orientation="true">
        <img id="graphic" src="/assets/images/image.png" ng-show="postType.items[postType.idx] != 'IMAGE'">
        <div id="image-preview" ng-show="postType.items[postType.idx] == 'IMAGE'"
             style="background-image: url('{{ getProxyUrl(newPost.text) }}'), url('/assets/images/invalid-image-url.jpg')"></div>
        <h2 ng-show="postType.items[postType.idx] != 'IMAGE'">Drop an image here!</h2>
        <div id="preview" ngf-background="file"></div>
      </div>
      <div id="choose-file" ng-show="postType.items[postType.idx] != 'IMAGE'" ngf-select="setFile($file)"
           ngf-fix-orientation="true" ngf-accept="'image/*'">
           {{ dropSupported ? 'Or choose from file...' : 'Choose from file...' }}
      </div>
    </div>
    <div id="create-post-inputs" ng-show="!isUploading">
      <dropdown title="postType.title" items="postType.items" selected="postType.idx"></dropdown>
      <label id="nsfw-checkbox">NSFW<input type="checkbox" ng-model="newPost.nsfw"></input></label>
      <input ng-model="newPost.title" placeholder="Title" type="text"></input>
      <tag-editor items="newPost.branchids" title="'Tag another branch...'" max="5"></tag-editor>
    </div>
    <!-- detach textarea from create-post-inputs so it flows below profile image -->
    <textarea ng-show="!isUploading && !preview && postType.items[postType.idx] == 'TEXT'" ng-model="newPost.text" placeholder="Describe this post..." type="text"></textarea>
    <input ng-show="!isUploading && postType.items[postType.idx] != 'TEXT'" ng-model="newPost.text" placeholder="URL" type="text"></input>
    <div id="preview-content" marked="newPost.text" ng-show="!isUploading && preview && postType.items[postType.idx] == 'TEXT'"></div>
    <p id="preview-post" ng-click="togglePreview()" ng-show="!isUploading && newPost.text.length > 0 && postType.items[postType.idx] == 'TEXT'">{{ preview ? 'Edit...' : 'Preview...' }}</p>

    <div id="progress-container" ng-show="isUploading">
      <div id="progress" style="width:{{ progress }}%"></div>
    </div>
  </div>
</div>
