div#notfound {
  width: 100%;
  height: 100%;
  background: #fff;
  background: -webkit-radial-gradient(#fff, @light-grey);
  background: -o-radial-gradient(#fff, @light-grey);
  background: -moz-radial-gradient(#fff, @light-grey);
  background: radial-gradient(#fff, @light-grey);
  text-align: center;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 100px;
      font-weight: 300;
    }
    h2 {
      font-size: 28px;
      font-weight: 300;
    }
  }
}
