ul#nucleus-modtools-properties {
  box-sizing: border-box;
  height: 30%;
  li {
    text-align: center;
    padding: 5px 0;

    span {
      font-size: 14px;
      font-weight: 500;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &.danger {
        color: @caution;
      }
    }
  }
}

ul#nucleus-modtools-log {
  position: relative;
  box-sizing: border-box;
  height: 70%;
  overflow-y: scroll;

  div {

    h2 {
      font-size: 18px;
      font-weight: 500;
    }
    h3 {
      margin-top: 10px;
      font-size: 14px;
      font-style: italic;
      font-weight: 400;
      color: @dark-grey;
    }

    li {
      padding: 10px 0;

      div {
        font-size: 14px;

        &.time {
          float: left;
          width: 150px;
          color: @dark-grey;
        }

        &.entry {
          float: left;
          width: calc(~'100% - 150px');
        }

        a {
          color: @button-focus;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
