<div class="post__content-header header style--inner">
  <dropdown
    items="Ctrl.sortBy"
    selected="Ctrl.filters.sortBy.selectedIndex"
    title="Ctrl.filters.sortBy.title">
  </dropdown>

  <button
    class="header__button ng-hide"
    ng-click="Ctrl.openSubmitPollAnswerModal()"
    ng-show="Ctrl.canSubmitNewAnswer()"
    offset-y="40"
    text="'submit new answer'"
    tooltip>
    <div ng-include="'/assets/images/icons/plus.svg'"></div>
  </button>

  <button
    class="btn btn--primary text--uppercase"
    ng-click="Ctrl.vote()"
    ng-show="Ctrl.selectedAnswerIndex !== -1">
    cast your vote
  </button>
</div>

<div
  class="post__content-wrapper"
  loading
  loading-when="(Ctrl.isInit || Ctrl.isWaitingForRequest) && !Ctrl.items.length">
  <p
    id="no-answers"
    ng-show="!Ctrl.items.length">
    No answers yet!
  </p>

  <ul>
    <li
      answer="answer"
      card-poll-answer
      index="$index"
      ng-class="{ 'style--highlighted': $index === Ctrl.selectedAnswerIndex }"
      ng-click="Ctrl.selectAnswer($index)"
      ng-repeat="answer in Ctrl.items track by $index"
      selected="$index === Ctrl.selectedAnswerIndex">
    </li>
  </ul>
</div>
