<div class="post__content-header header style--inner">

  <a
    class="create-post-button-large"
    style="margin-right: 0"
    ng-click="Ctrl.openSubmitPollAnswerModal()"
    ng-show="Ctrl.canSubmitNewAnswer()"
    offset-y="40"
    text="'submit new answer'"
    tooltip>
    <text class="primary-button-text">Create Answer</text>
  </a>

  <dropdown
    items="Ctrl.sortBy"
    selected="Ctrl.filters.sortBy.selectedIndex"
    title="Ctrl.filters.sortBy.title">
  </dropdown>

  <a
    class="create-post-button-large"
    style="margin-left: 20px; background-color: rgb(149, 229, 129)"
    ng-click="Ctrl.vote()"
    ng-show="Ctrl.selectedAnswerIndex !== -1">
    <text class="primary-button-text">Cast Your Vote</text>
</a>
</div>

<div
  class="post__content-wrapper"
  loading
  loading-when="(Ctrl.isInit || Ctrl.isWaitingForRequest) && !Ctrl.items.length">
  <p
    id="no-answers"
    ng-show="!Ctrl.items.length">
    No answers yet!
  </p>

  <ul>
    <li
      answer="answer"
      card-poll-answer
      index="$index"
      ng-class="{ 'style--highlighted': $index === Ctrl.selectedAnswerIndex }"
      ng-click="Ctrl.selectAnswer($index)"
      ng-repeat="answer in Ctrl.items track by $index"
      selected="$index === Ctrl.selectedAnswerIndex">
    </li>
  </ul>
</div>
