<ul id="nucleus-modtools-properties">
  <li><span ng-click="openAddModModal()">Add a Moderator</span></li>
  <li><span ng-click="openRemoveModModal()">Remove a Moderator</span></li>
  <li><span ng-click="openSubmitSubbranchRequestModal()">Submit SubBranch Request</span></li>
  <li><span ng-click="openReviewSubbranchRequestsModal()">Review SubBranch Requests</span></li>
  <li><span ng-click="toggleIsModLogOpen()">{{ isModLogOpen ? 'Hide the Moderator Action Log' : 'Show the Moderator Action Log' }}</span></li>
</ul>
<ul id="nucleus-modtools-log" ng-show="isModLogOpen">
  <div loading when="isLoading">
    <h2>Moderator Action Log</h2>
    <h3 ng-show="!modLog || modLog.length == 0">No entries to display</h3>
    <li mod-log-entry ng-repeat="entry in modLog" entry="entry"></li>
  </div>
</ul>
