<div>
  <div class="content__list style--full-padding text--center">
    <ul class="branch__list">
      <li
        class="branch__item"
        ng-show="BranchNucleusModtools.BranchService.branch.id === 'root'">
        <span
          class="branch__text branch__link style--red"
          ng-click="BranchNucleusModtools.openUpdateHomepageStatsModal()">Edit the Homepage Stats</span>
      </li>

      <li class="branch__item">
        <span
          class="branch__text branch__link style--colorless"
          ng-click="BranchNucleusModtools.openAddModModal()">Add a Moderator</span>
      </li>

      <li class="branch__item">
        <span
          class="branch__text branch__link style--colorless"
          ng-click="BranchNucleusModtools.openRemoveModModal()">Remove a Moderator</span>
      </li>

      <li class="branch__item">
        <span
          class="branch__text branch__link style--colorless"
          ng-click="BranchNucleusModtools.openReviewSubbranchRequestsModal()">Review Child Branch Requests</span>
      </li>

      <li class="branch__item">
        <span
          class="branch__text branch__link style--red"
          ng-click="BranchNucleusModtools.openDeleteBranchModal()">Remove a {{ BranchNucleusModtools.BranchService.branch.id === 'root' ? 'Root' : 'Child' }} Branch</span>
      </li>

      <li
        class="branch__item"
        ng-hide="BranchNucleusModtools.BranchService.branch.id === 'root'">
        <span
          class="branch__text branch__link style--colorless"
          ng-click="BranchNucleusModtools.openSubmitSubbranchRequestModal()">Submit Parent Branch Request</span>
      </li>
    </ul>
  </div>

  <div
    class="content__list style--full-padding text--center"
    loading
    loading-when="!BranchNucleusModtools.log.length && BranchNucleusModtools.isLoading">
    <h2 class="header__subtitle">Moderator Action Log</h2>

    <h3
      class="header__empty-state"
      ng-show="!BranchNucleusModtools.log || !BranchNucleusModtools.log.length">
      No entries to display
    </h3>

    <ul class="branch__list">
      <li
        class="branch__item style--small-text"
        entry="entry"
        mod-log-entry
        ng-repeat="entry in BranchNucleusModtools.log">
      </li>
    </ul>
  </div>
</div>
