.button(@color, @background-color, @height, @hover-rules) {
  background-color: @background-color;
  border-radius: 3px;
  color: @color;
  display: inline-block;
  height: @height;
  text-align: center;
  transition: all .3s ease-out;

  &:hover {
    @hover-rules();
    cursor: pointer;
    transition: all .3s ease-out;
  }

  span {
    font-size: @font-size-sm;
    font-weight: @font-weight-heavy;
    line-height: @height;
  }
}

.comment(@height) {
  padding: 5px 0;
  width: 100%;

  div.comment-content {
    display: flex;
    flex-direction: row;
    width: 100%;

    div.comment-votes {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: @height;
      justify-content: space-between;
      margin: 0 10px;

      img {
        height: 22px;
        opacity: .3;
        width: 22px;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
      p { margin: 0; }
    }

    div.comment-info {
      flex: 1;
      height: 100%;

      .comment-title {
        display: block;
        font-size: @font-size-xs;
        font-weight: @font-weight-normal;
        white-space: nowrap;
        .responsive(@screen-sm, { font-size: @font-size-sm; });

        &:hover { cursor: pointer; }

        a {
          color: @accent-0;
          font-weight: @font-weight-heavy;

          &:hover { text-decoration: underline; }
        }
      }

      ul.comment-controls {
        margin-top: 2px;

        li {
          display: inline-block;
          height: 16px;
          padding: 0 2px 0 0;
          width: 16px;

          &:hover {
            cursor: pointer;
            
            img { opacity: 1; }
          }

          img {
            height: 100%;
            opacity: .4;
            width: 100%;
          }
        }
      }

      .write-comment();
    }
  }

  div.comment-replies {
    border-left: 1px solid @light-grey;
    box-sizing: border-box;
    margin-left: 14px;
    padding-left: 15px;

    span.load-more {
      color: @accent-0;
      font-size: @font-size-xs;
      font-weight: @font-weight-heavy;
      vertical-align: bottom;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

// List styles as they appear in e.g. branch nucleus or profile tabs
.field-value-list() {
  > li {
    padding: 5px 0;

    &#change-cover span,
    &#change-picture span {
      font-weight: @font-weight-heavy;
      
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    span {
      font-size: @font-size-sm;
      
      &.field { color: @dark-grey; }
      
      &.value a {
        color: @accent-0;
        
        &:hover { text-decoration: underline; }
      }

      &.marked-title { display: block; }
      
      &.change-value span {
        font-weight: @font-weight-heavy;
        
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    div.value {
      font-size: @font-size-sm;
      width: 100%;
    }
  }
}

.list-item(@height) {
  border-bottom: solid 1px @light-grey;
  display: flex;
  flex-direction: row;
  min-height: @height;
  padding: 8px 0;
  // white-space: nowrap;
  width: 100%;

  span.list-item-index {
    color: @dark-grey;
    font-size: @font-size-md;
    font-weight: @font-weight-heavy;
    line-height: @height;
    text-align: right;
    width: 3ex;
  }

  div.list-item-flags {
    align-self: center;
    background-color: @caution-1;
    border-radius: 5px;
    height: 30px;
    margin: 0 10px;
    min-width: 50px;
    position: relative;
    text-align: center;

    &:hover {
      background-color: @caution-0;
      cursor: pointer;
    }

    img {
      height: auto;
      left: 12px;
      opacity: 1;
      top: 0;
      vertical-align: middle;
      width: 16px;
    }

    span {
      color: #fff;
      font-size: @font-size-sm;
      line-height: 30px;
    }
  }

  .list-item-votes {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: @height;
    justify-content: space-between;
    margin-left: 6px;

    img {
      height: 24px;
      opacity: .3;
      width: 24px;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    p { margin: 0; }
  }

  .list-item-image {
    div {
      background-position: center;
      background-size: cover;
      border-radius: 4px;
      height: @height;
      margin: 0 10px 0 12px;
      width: @height;

      &:hover { box-shadow: @shadow-2; }
    }
  }

  div.list-item-nsfw-label {
    background-color: #ffecee;
    border: 2px solid #ff8095;
    border-radius: 5px;
    box-sizing: border-box;
    height: @height;
    margin-right: 10px;
    padding: 2px;

    span {
      color: #ff8095;
      font-size: 11px;
      font-weight: @font-weight-extra-heavy;
      text-orientation: upright;
      writing-mode: tb;
    }
  }

  div.list-item-info {
    @spacing: 4px;

    flex: 1;
    height: 100%;
    .list-item__details {
      .list-item__detail {
        color: @primary-6;
        font-size: 13px;
        font-weight: 500;
        vertical-align: top;
      }

      a.list-item__detail {
        color: @accent-0;

        &.style--has-children {
          span {
            color: @primary-6;
            vertical-align: top;
          }
        }

        &:hover {
          cursor: pointer;
          text-decoration: underline;

          &.style--has-children {
            text-decoration: none;

            img { opacity: 1; }

            span {
              color: @primary-3;
              text-decoration: none;
            }
          }
        }
      }

      img.list-item__detail {
        @size: 16px;

        color: @primary-6;
        cursor: pointer;
        height: @size;
        opacity: .3;
        width: @size;

        &.style--icon { margin-left: @spacing; }

        &:hover { opacity: 1; }
      }
    }

    .list-item__separator {
      background-color: @primary-6;
      display: inline-block;
      height: 14px;
      margin: 0 @spacing;
      position: relative;
      top: -1px;
      width: 1px;
    }

    .list-item__title {
      display: inline;
      font-size: @font-size-sm;
      font-weight: 500;
      line-height: 1;
      vertical-align: top;
    }
  }

  .list-item__radio-button {
    @size: 20px;

    height: @size;
    margin: 0 @post__preview-spacing;
    width: @size;
  }

  .list-item__stats {
    @stat-font-size: 14px;

    margin-right: @post__preview-spacing;

    .list-item__stats-header {
      .list-item__stats-votes {
        color: @primary-3;
        font-size: @stat-font-size;
        font-weight: 500;
      }

      .list-item__stats-icon {
        @size: 24px;

        height: @size;
        opacity: .3;
        position: relative;
        top: 3px;
        vertical-align: bottom;
        width: @size;
      }
    }

    .list-item__stats-percentage {
      color: @primary-6;
      font-size: @stat-font-size;
    }
  }

  &.style--card-branch {
    .list-item-info {
      .list-item__title { font-size: 18px; }
    }
  }

  &.style--card-poll-answer {
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0 @g-padding-post;

    .list-item-index {
      &.style--colour-coded {
        @size: 40px;

        color: #fff;
        height: @size;
        border-radius: 3px;
        line-height: @size;
        margin-right: @post__preview-spacing;
        text-align: center;
        width: @size;
      }
    }

    &.style--selected { background-color: @notification-unread; }

    &:not(.style--result) {
      cursor: pointer;

      &:hover { background-color: @notification-unread; }
    }
  }
}

.notification(@height) {
  border-bottom: solid 1px @light-grey;
  display: flex;
  overflow: hidden;
  padding: 10px 20px 10px 10px;
  position: relative;
  transition: background-color .3s;
  
  .responsive(@screen-sm, { padding: 10px 20px; });

  &.unread {
    background-color: @notification-unread;

    div.toggle-unread { background-color: @notification-unread-dark; }
  }

  &:not(.unread) {
    background-color: transparent;

    div.toggle-unread { background-color: transparent; }
  }

  div.toggle-unread {
    border: 1px solid @dark-grey;
    border-radius: 50%;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;

    &:hover { cursor: pointer; }
  }

  div.notification-image {
    img {
      height: @height;
      margin-right: 10px;
      width: @height;
    }
  }

  div.notification-entry {
    div {
      display: block;
      //white-space: pre-wrap;
      //word-wrap: break-word;

      &.title {
        font-size: @font-size-sm;
        margin-bottom: 5px;
        
        .responsive(@screen-sm, { font-size: @font-size-md; });
      }

      &.description {
        color: @primary-6;
        font-size: 13px;
        font-weight: @font-weight-light;
        
        .responsive(@screen-sm, { font-size: @font-size-sm; });
      }

      a {
        color: @accent-0;
        font-weight: @font-weight-heavy;

        &:hover { text-decoration: underline; }
      }
    }

    p.message {
      font-style: italic;
      font-weight: @font-weight-light;
    }
  }
}

.write-comment() {
  textarea {
    border-radius: 3px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: @font-size-xs;
    max-height: 150px;
    max-width: 100%;
    padding: 5px 10px;
    resize: vertical;
    width: 100%;
    .responsive(@screen-sm, { font-size: @font-size-sm; });

    &:focus { outline: none; }
  }

  .button-container {
    text-align: right;

    .button {
      font-size: @font-size-sm;
      font-weight: @font-weight-normal;
      padding: 0 10px;
      
      &.cancel {
        .button(white, @primary-6, 30px, {
          background-color: @primary-5;
          box-shadow: @shadow-2;
        });
      }
      
      &.ok {
        .button(white, @accent-1, 30px, {
          background-color: @accent-0;
          box-shadow: @shadow-2;
        });
      }
    }
  }
}
