<a 
    class="main-text link"
    ui-sref="weco.profile.about({ username: entry.username })">
    {{ entry.username }}
</a>
 {{ entry.data.response }}ed a Child Branch Request to 
 <a 
    class="main-text link"
    ui-sref="weco.branch.nucleus.about({ branchid: entry.data.parentid })">
    {{ entry.data.parentid }}
</a>
 made by 
 <a 
    class="main-text link"
    ui-sref="weco.profile.about({ username: entry.data.childmod })">
    {{ entry.data.childmod }}
</a>
 from 
<a 
    class="main-text link"
    ui-sref="weco.branch.nucleus.about({ branchid: entry.data.childid })">
    {{ entry.data.childid }}
</a>.
