<cover-photo
  can-edit="Profile.profileUser.username === Profile.UserService.user.username"
  image-url="Profile.profileUser.coverUrl"
  is-open="Profile.showCover"
  open-upload-cover-modal="Profile.openCoverPictureModal"
  thumb-url="Profile.profileUser.coverUrlThumb">
</cover-photo>

<div
  class="page"
  loading
  loading-when="Profile.isLoading"
  on-scroll-to-bottom="ScrollToBottom">
  <div
    class="sidebar no-transition"
    ng-class="{ 'open': Profile.AppService.isSidebarOpen }"
    no-constructor-transition>
    <div class="sidebar-info">
      <h1>{{ Profile.profileUser.name }}</h1>
      
      <h2>{{ Profile.profileUser.username }}</h2>
    </div>
    
    <div class="sidebar-picture" style="background-image: url('{{ Profile.profileUser.profileUrl }}'), url('/assets/images/default-profile.jpg');">
      <img
        id="edit"
        ng-class="{ 'style--default': !Profile.profileUser.profileUrl }"
        ng-click="Profile.openProfilePictureModal()"
        ng-show="Profile.profileUser.username === Profile.UserService.user.username"
        offset-y="30"
        src="/assets/images/icons/black/edit.png"
        text="'Upload New Image'"
        tooltip />
    </div>
    
    <ul class="sidebar-info">
      <li># of Posts: <span>{{ Profile.profileUser.num_posts }}</span></li>
      <li># of Comments: <span>{{ Profile.profileUser.num_comments }}</span></li>
      <li>Branches Created: <span>{{ Profile.profileUser.num_branches }}</span></li>
      <li>Moderator Positions: <span>{{ Profile.profileUser.num_mod_positions }}</span></li>
    </ul>
  </div>

  <div
    class="header style--fixed no-transition"
    no-constructor-transition>
    <img
      alt="Toggle sidebar"
      class="header__button style--sidebar-toggle"
      ng-class="{ 'style--toggled': Navbar.AppService.isSidebarOpen }"
      ng-click="Navbar.AppService.toggleSidebar()"
      src="/assets/images/icons/black/show.png" />

    <h1 class="header__title">Profile</h1>
    
    <div class="header__controls style--spaced">
      <tabs items="Profile.state.tabItems" states="Profile.state.tabStates"></tabs>

      <button
        class="header__read-all"
        ng-click="Profile.markAllNotificationsAsSeen()"
        ng-show="Profile.$state.current.name.includes('weco.profile.notifications')"
        offset-x="-150"
        offset-y="30"
        text="'Mark all notifications as seen'"
        tooltip >
        <img
          alt="Mark all notifications as read icon"
          src="/assets/images/icons/tick--circle.png" />
      </button>
    </div>
  </div>
  
  <div class="center">
    <div class="align">
      <div class="content">
        <loader-bar class="loader__bar--profile" hidden="!Profile.showLoader"></loader-bar>
        <div class="content__body" ui-view></div>
      </div>
    </div>
  </div>
</div>
