<img
  alt="Toggle sidebar"
  class="header__button style--sidebar-toggle"
  ng-class="{ 'style--toggled': Navbar.AppService.isSidebarOpen }"
  ng-click="Navbar.AppService.toggleSidebar()"
  src="/assets/images/icons/show.svg" />

<a
  class="header__button ng-hide"
  ng-click="Ctrl.WallService.handleHeaderButtonClick()"
  ng-show="Ctrl.WallService.isHeaderButtonVisible()"
  offset-y="40"
  text="Ctrl.WallService.getHeaderButtonTooltip()"
  tooltip>
  <div ng-include="'/assets/images/icons/plus.svg'"></div>
</a>

<div class="header__controls style--has-dropdown">
  <dropdown
    items="Ctrl.timeRange"
    selected="Ctrl.controls.timeRange.selectedIndex"
    title="Ctrl.controls.timeRange.title">
  </dropdown>

  <dropdown
    items="Ctrl.sortBy"
    selected="Ctrl.controls.sortBy.selectedIndex"
    title="Ctrl.controls.sortBy.title">
  </dropdown>
  
  <dropdown
    items="Ctrl.postType"
    post-types="true"
    selected="Ctrl.controls.postType.selectedIndex"
    title="Ctrl.controls.postType.title">
  </dropdown>
  
  <dropdown
    items="Ctrl.statType"
    selected="Ctrl.controls.statType.selectedIndex"
    title="Ctrl.controls.statType.title">
  </dropdown>
</div>
