<div class="post__content-wrapper">
  <div class="comments">
    <comment-input-box
    	on-submit="Comments.reloadComments.bind(Comments)"
    	parentid="none"
    	placeholder="Write a comment..."
    	postid="{{ Comments.PostService.post.id }}"
    	update="false">
    </comment-input-box>
    
    <div
      class="comments__text-wrapper comments__text-wrapper--bg"
      ng-if="Comments.isCommentPermalink()">
      <p class="comments__text">
      	You are viewing a single comment's thread. <a ng-if="Comments.PostService.post.type !== 'poll'" ui-sref="weco.branch.post({ postid: Comments.PostService.post.id })"><a ng-if="Comments.PostService.post.type === 'poll'" ui-sref="weco.branch.post.discussion({ postid: Comments.PostService.post.id})">View all comments</a>
      </p>
    </div>

    <dropdown
      class="style--horizontal"
      items="Comments.controls.sortBy.items"
    	selected="Comments.controls.sortBy.selectedIndex"
    	title="sort by">
    </dropdown>

    <div
      class="comments__text-wrapper"
      ng-if="Comments.comments.length === 0">
      <p class="comments__text">
        No comments yet!
      </p>
    </div>

    <div
      id="post-comments"
    	loading
      loading-when="Comments.isLoading"
    	on-scroll-to-bottom="CommentsScrollToBottom">
      <div
        id="comment-thread"
        ng-show="Comments.comments.length > 0">
        <comment-thread
          comments="Comments.comments"
        	sort-by="Comments.controls.sortBy.items[Comments.controls.sortBy.selectedIndex]">
        </comment-thread>
      </div>
    </div>
  </div>
</div>
