<div class="post__content-wrapper">
  <div class="comments">
    <write-comment
    	on-submit="Comments.reloadComments.bind(Comments)"
    	parentid="none"
    	placeholder="Write a comment..."
    	postid="Comments.PostService.post.id"
    	update="false">
    </write-comment>
    
    <p id="permalink-notice" ng-show="Comments.isCommentPermalink()">
    	You are viewing a single comment's thread. <a ui-sref="weco.branch.post({ postid: Comments.PostService.post.id })">View all comments</a>
      <!-- in polls, go directly to discussion -->
    </p>

    <dropdown
      class="style--horizontal"
      items="Comments.controls.sortBy.items"
    	selected="Comments.controls.sortBy.selectedIndex"
    	title="sort by">
    </dropdown>

    <p
      id="no-comments"
      ng-show="Comments.comments.length === 0">
      No comments yet!
    </p>

    <div
      id="post-comments"
    	loading
      loading-when="Comments.isLoading"
    	on-scroll-to-bottom="CommentsScrollToBottom">
      <div
        id="comment-thread"
        ng-show="Comments.comments.length > 0">
        <comment-thread
          comments="Comments.comments"
        	sort-by="Comments.controls.sortBy.items[Comments.controls.sortBy.selectedIndex]">
        </comment-thread>
      </div>
    </div>
  </div>
</div>
