<div id="nucleus-removemod-modal" ng-controller="BranchNucleusModtoolsRemoveModController as BranchNucleusModtoolsRemoveMod">
  <div loading when="BranchNucleusModtoolsRemoveMod.isLoading">
    <h1>Remove a Moderator</h1>
    <p class="error-message">{{ BranchNucleusModtoolsRemoveMod.errorMessage }}</p>
    <div id="nucleus-removemod-inputs">
      <p ng-show="(!BranchNucleusModtoolsRemoveModController.mods || BranchNucleusModtoolsRemoveModController.mods.length === 0) && !BranchNucleusModtoolsRemoveModController.isLoading">There are no moderators available for removal.<br>Note that you can only remove moderators who became mods after you did.</p>
      <ul>
        <li ng-repeat="mod in BranchNucleusModtoolsRemoveModController.mods" ng-click="BranchNucleusModtoolsRemoveModController.select(mod)" ng-class="{ 'selected': BranchNucleusModtoolsRemoveModController.selectedMod.username === mod.username }">
          <div class="profile-picture" style="background-image: url('{{ mod.profileUrl }}'), url('/assets/images/default-profile.jpg');"></div>
          <div class="details">
            <h2 class="name">{{ mod.firstname }} {{ mod.lastname }}</span>
            <h2 class="username">{{ mod.username }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
