<div class="title" ng-if="notification.type === NotificationTypes.CHILD_BRANCH_REQUEST_ANSWERED">
  <a ui-sref="weco.profile.about({ username: notification.data.username })">
    {{ notification.data.username === UserService.user.username ? 'you' : notification.data.username }}
  </a>
  <span>
    {{ notification.data.action }}ed your parent branch request from
  </span>
  <a ui-sref="weco.branch.nucleus.about({ branchid: notification.data.childid })">
    b/{{ notification.data.childid }}
  </a>
  <span>
    to
  </span>
  <a ui-sref="weco.branch.nucleus.about({ branchid: notification.data.parentid })">
    b/{{ notification.data.parentid }}
  </a>
</div>
