<a
  ng-click="NotificationService.markAsRead(index)"
  ui-sref="weco.profile.about({ username: notification.data.username })">
  {{ notification.data.username === UserService.user.username ? 'you' : notification.data.username }}
</a>
<span>
  removed your
</span>
<a
  ng-click="NotificationService.markAsRead(index)"
  ui-sref="weco.branch.post({ branchid: notification.data.branchid, postid: notification.data.postid })">
  post
</a>
<span>
  from
</span>
<a
  ng-click="NotificationService.markAsRead(index)"
  ui-sref="weco.branch.nucleus.about({ branchid: notification.data.branchid })">
  b/{{ notification.data.branchid }}
</a>
<span>
  {{ reasonString() }}, stating:
</span>
<p class="message">
  {{ notification.data.message }}
</p>
