<div class="full-page"
  id="auth-background">
  
  <a id="logo"
    ui-sref="weco.home">
    <img alt=""
      id="animation"
      ng-src="{{ Auth.getAnimationSrc() }}" />
  </a>
  
  <h1>{{ Auth.isLoginForm() ? 'Log In' : 'Create New Account' }}</h1>
  
  <p id="auth-error-message">{{ Auth.errorMessage }}</p>
  <p id="resend-verification"
    ng-click="Auth.resendVerification()"
    ng-show="Auth.showResendVerification">
    Resend verification email.
  </p>
  
  <form ng-submit="Auth.submit()">
    <input name="firstname"
      ng-model="Auth.credentials.firstname"
      ng-required="!Auth.isLoginForm()"
      ng-show="!Auth.isLoginForm()"
      placeholder="First name"
      type="text" />

    <!--
    <input name="lastname"
      ng-model="Auth.credentials.lastname"
      ng-required="!Auth.isLoginForm()"
      ng-show="!Auth.isLoginForm()"
      placeholder="Last name"
      type="text" />
    -->

    <input name="username"
      ng-model="Auth.credentials.username"
      placeholder="Username"
      required
      type="text" />

    <input name="email"
      ng-model="Auth.credentials.email"
      ng-required="!Auth.isLoginForm()"
      ng-show="!Auth.isLoginForm()"
      placeholder="Email"
      type="email" />

    <input name="password"
      ng-model="Auth.credentials.password"
      placeholder="Password"
      required
      type="password" />

    <input name="password"
      ng-model="Auth.credentials.confirmPassword"
      ng-required="!Auth.isLoginForm()"
      ng-show="!Auth.isLoginForm()"
      placeholder="Confirm Password"
      type="password" />

    <input ng-disabled="Auth.isLoading"
      type="submit"
      value="{{ Auth.isLoginForm() ? 'LOGIN' : 'SIGN UP' }}" />
  </form>
  
  <p ng-show="Auth.isLoginForm()">
    <a ui-sref="reset-password.request">Forgot your password?</a>
  </p>
  
  <p ng-show="Auth.isLoginForm()">
    New Here? <a ui-sref="auth.signup">Create a new account.</a>
  </p>
  
  <p ng-show="!Auth.isLoginForm()">
    Already have an account? <a ui-sref="auth.login">Log in.</a>
  </p>
</div>