<div id="auth-background">
  <a ui-sref="weco.home" id="logo"><img src="/assets/images/logo.png"></a>
  <h1>{{ isLoginForm() ? 'Login to' : 'Sign up for'}} WECO</h1>
  <p id="auth-error-message">{{ errorMessage }}</p>
  <p id="resend-verification" ng-show="showResendVerification" ng-click="resendVerification()">Resend verification email.</p>
  <form ng-submit="submit()">
    <input type="text" name="firstname" ng-model="credentials.firstname" placeholder="First name" ng-show="!isLoginForm()" ng-required="!isLoginForm()"></input>
    <input type="text" name="lastname" ng-model="credentials.lastname" placeholder="Last name" ng-show="!isLoginForm()" ng-required="!isLoginForm()"></input>
    <input type="text" name="username" ng-model="credentials.username" placeholder="Username" required></input>
    <input type="email" name="email" ng-model="credentials.email" placeholder="Email" ng-show="!isLoginForm()" ng-required="!isLoginForm()"></input>
    <input type="password" name="password" ng-model="credentials.password" placeholder="Password" required></input>
    <input type="submit" value="{{ isLoginForm() ? 'LOGIN' : 'SIGN UP' }}" ng-disabled="isLoading"></input>
  </form>
  <p ng-show="isLoginForm()">New Here? <a ui-sref="auth.signup">Sign Up.</a></p>
  <p ng-show="!isLoginForm()">Already have an account? <a ui-sref="auth.login">Log in.</a></p>
</div>
