<div id="modal-backdrop" ng-show="ModalService.isOpen"></div>
<div id="modal-container" ng-show="ModalService.isOpen">
  <div id="modal-content">
    <div id="modal-content-wrapper">
      <div id="modal-injected-content" ng-include="ModalService.templateUrl"></div>
      <div id="modal-buttons">
        <div class="button cancel" ng-click="ModalService.Cancel()"><span>CANCEL</span></div>
        <div class="button ok" ng-click="ModalService.OK()"><span>OK</span></div>
      </div>
    </div>
  </div>
</div>
