<div
  class="modal__overlay ng-hide"
  ng-show="ModalService.isOpen && ModalService.contentLoaded">
</div>

<div
  class="modal ng-hide"
  ng-show="ModalService.isOpen && ModalService.contentLoaded">
  <div
    class="modal__content"
    ng-include="ModalService.templateUrl"
    onload="ModalService.contentLoaded = true">
  </div>

  <div class="modal__controls">
    <div
      class="modal__button style--secondary"
      ng-click="handleCancel()">
      <span class="text--uppercase">
        cancel
      </span>
    </div>
    <div
      class="modal__button style--primary"
      ng-click="handleSubmit()">
      <span class="text--uppercase">
        ok
      </span>
    </div>
  </div>
</div>
