<div
  class="modal__overlay ng-hide"
  ng-show="ModalService.isOpen && ModalService.contentLoaded">
</div>

<div
  class="modal ng-hide"
  ng-show="ModalService.isOpen && ModalService.contentLoaded">
  <div
    class="modal__content"
    ng-include="ModalService.templateUrl"
    onload="ModalService.contentLoaded = true">
  </div>

  <div class="modal__controls">
    <button
      class="modal__button style--secondary text--uppercase"
      ng-click="ModalService.handleCancel()"
      ng-disabled="ModalService.disabled">
      cancel
    </button>
    <button
      class="modal__button style--primary text--uppercase"
      ng-click="ModalService.handleSubmit()"
      ng-disabled="ModalService.disabled">
      ok
    </button>
  </div>
</div>
